<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$site_config.charset}" />
<title>{$title}_{$site_config.site_name}</title>
<meta name="keywords" content="{$site_config.site_keywords}" />
<meta name="description" content="{$site_config.site_description}" />
{include "../styles.html" caching}
<link href="{$style_dir}/style/ver4.css?v=20120831" rel="stylesheet" type="text/css" />
{include "../scripts.html" caching}
</head>
<body>
{include "../head.html"}

    <div id="content">
	  <script language="JavaScript">
	  {literal}
		var time=new Date();
		var localtime = new Array();
		var hours = 0;
		var minute = 0;
		var second = 0;

		localtime[0] = time.getFullYear();
		localtime[1] = time.getMonth()+1;
		localtime[2] = time.getDate();
		localtime[3]= hours = time.getHours();
		minute = time.getMinutes();
		second = time.getSeconds();

		remtime = ((60-minute)*60-second)*1000;
		setTimeout('reflresh()', remtime);
		
		function getstatus(gtime, ghour) {
			var status = '';
			var getarray = gtime.split("-");
			var gettime = new Array(parseInt(getarray[0],10), parseInt(getarray[1],10), parseInt(getarray[2],10), ghour);
			for(var i=0;i<4;i++) {
			if(gettime[i]>localtime[i]) {
				status = '<span style="color:#339900;">即将开服</span>';
				break;
			} else if(gettime[i]<localtime[i]){
				status = '<span>已经开服</span>';
				break;
			} else {
				status = '<span class="f06">正在开服</span>';
			}
		    }
			document.write(status);
		}

		function echotime(gtime, ghour) {
			var isday = true;
			var timestr = '';
			var getarray = gtime.split("-");		
			var gettime1 = new Array(parseInt(getarray[0],10), parseInt(getarray[1],10), parseInt(getarray[2],10));
			for(var i=0;i<3;i++) {
			if(gettime1[i] != localtime[i]) {
				isday = false;
				break;
			}
		    }
			if(isday) {
				timestr = '<td style="color:red">今天 ' + ghour + ':00</td>';
			} else {
				timestr = '<td>' + getarray[1] + '-' + getarray[2] +' '+ghour  + ':00</td>';
			}
			document.write(timestr);
		}
		
			
		function reflresh() {
			window.location.reload();
		}
		{/literal}
	    </script>
    <div id="pathway"><strong>当前位置:</strong> {position($items)}</div>

    <div id="kflist">
	<div class="listmenu" style="margin-top:0px;">
	    <h1 class="p20">{$year}年{$month}月{$day}日开服表</h1>
	    <div style=" line-height:36px;float: left;height: 35px;width: 1000px; margin-top: 5px;">
		<div style="float:left">
		    时间：
		    {assign var='yesterday' value=strtotime('yesterday')}
		    {assign var='yesterday_year' value=date('Y', $yesterday)}
		    {assign var='yesterday_month' value=date('m', $yesterday)}
		    {assign var='yesterday_day' value=date('d', $yesterday)}

		    {assign var='today' value=strtotime('today')}
		    {assign var='today_year' value=date('Y', $today)}
		    {assign var='today_month' value=date('m', $today)}
		    {assign var='today_day' value=date('d', $today)}

		    {assign var='tomorrow' value=strtotime('tomorrow')}
		   	{assign var='tomorrow_year' value=date('Y', $tomorrow)}
		    {assign var='tomorrow_month' value=date('m', $tomorrow)}
		    {assign var='tomorrow_day' value=date('d', $tomorrow)}

		    <a href="{getTypeLink('kaifu','',['{$year}'=>$yesterday_year, '{$month}'=>$yesterday_month, '{$day}'=>$yesterday_day])}" rel="nofollow" class="{if ($smarty.get.year == $yesterday_year and $smarty.get.month == $yesterday_month and $smarty.get.day == $yesterday_day)}enterpart_active{else}backa{/if}">昨天</a>

		    <a href="{getTypeLink('kaifu','',['{$year}'=>$today_year, '{$month}'=>$today_month, '{$day}'=>$today_day])}" rel="nofollow" class="{if ($smarty.get.year == $today_year and $smarty.get.month == $today_month and $smarty.get.day == $today_day)} enterpart_active{else}backa{/if}">今天</a>
		    
		    <a href="{getTypeLink('kaifu','',['{$year}'=>$tomorrow_year, '{$month}'=>$tomorrow_month, '{$day}'=>$tomorrow_day])}" rel="nofollow" class="{if ($smarty.get.year == $tomorrow_year and $smarty.get.month == $tomorrow_month and $smarty.get.day == $tomorrow_day)} enterpart_active{else}backa{/if}">明天</a>
		    <a href="#timelist2"time rel="nofollow" class="backa">更多></a>
		</div>
		<div style="float:left">
		    <form method="get">
		    <label style="float:left">&nbsp;|&nbsp;指定游戏：</label>
		    <input name="game_name" type="text" class="inputbox" style="width:70px;" id="game_name" value="{$smarty.get.game_name}" />
		    <label style="float:left">&nbsp;&nbsp;指定平台：</label>
		    <input name="oper_name" type="text" class="inputbox" style="width:70px;" id="oper_name" value="{$smarty.get.oper_name}" />
		    <input type="submit" value="搜索" class="dybutton_sty6" style=" *padding:0;margin-left:5px;*margin-left:5px;*margin-top:-1px;_margin-top:5px; height:26px; line-height:26px;"/>
		    </form>
		</div>
	    </div>
	</div>

	<div class="time">
		<dl>
	    	<dt style="border-left: 1px solid #ccc;  color: #000;" class="">
	    		<a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>0])}" style="color: #333; font-weight: bold;">全部</a>
	    	</dt>
	    </dl>
	    <dl>
	    	<dt class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>1])}">上午</a></dt>
	    	<dd class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>3])}">9:00~10:59</a></dd>
	    	<dd class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>4])}">11:00~12:59</a></dd>
	    </dl>
	    <dl>
	    	<dt class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>5])}">下午</a></dt>
	   		<dd class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>6])}">13:00~14:59</a></dd>
	    	<dd class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>7])}">15:00~16:59</a></dd>
	    	<dd class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>8])}">17:00~18:59</a></dd>
	    </dl>
	    <dl>
	    	<dt class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>9])}">晚上</a></dt>
	    	<dd class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>10])}">19:00~20:59</a></dd>
	    	<dd class=""><a href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$day, '{$t}'=>11])}">21:00~22:59</a></dd>
	    </dl>
	</div>

	<div class="div_top">
	  <ul>
	    <li class="li_6">开服日期</li>
	    <li class="li_1">游戏名称</li>
	    <li class="li_4">服务器名</li>
	    <li class="li_2">运营商</li>
	    <li class="li_7">开发商</li>
	    <li class="li_3">快捷操作</li>
	    <li class="li_3">状态</li>
	  </ul>
	</div>

  {get_recomm_kaifu_list assign='items' flag='c' limit='0,19' orderby='test_date'}
  {foreach $items as $item}
	    <div class="hot">
	    <ul>
	    <li class="li_6">{date('m-d H:i', $item['test_date'])}</li>
	    <li class="li_1"><a href="{getGameURL($item.game_id)}" class="p14 title" target="_blank">{$item['game_name']}</a></li>
	    <li class="li_4">{$item['server_name']}</li>
	    <li class="li_2">{$item['oper_short_name']}</li>
	    <li class="li_7">{$item['dev_short_name']}</li>
	    <li class="li_3">  <a href="{$item['register_url']}" rel="nofollow" target="_blank">开始游戏</a></li>
	    <li class="li_3 org"><script language="JavaScript">getstatus("{date('Y-m-d', $item['test_date'])}", "{date('H', $item['test_date'])}");</script></li>
      </ul>
	    </div>
	{/foreach}

  {foreach $lists as $item}
	  <ul>
      <li class="li_6">{$item['test_date']|date_format:'m-d H:i'}</li>
	    <li class="li_1"><a href="{getGameURL($item.game_id)}" class="p14 title" target="_blank">{$item['game_name']}</a></li>
      <li class="li_4">{$item['server_name']}</li>
      <li class="li_2">{$item['oper_short_name']}</li>
      <li class="li_7">{$item['dev_short_name']}</li>
      <li class="li_3">  <a href="{$item['register_url']}" rel="nofollow" target="_blank">开始游戏</a></li>
      <li class="li_3 org"><script language="JavaScript">getstatus("{date('Y-m-d', $item['test_date'])}", "{date('H', $item['test_date'])}");</script></li>
    </ul>
  {/foreach}
  </div>

  <div id="timelist2">
      <div class="leftbox">
      <h2 class=" White p20">{$year}</h2>
      <div>
      	{assign var='prev_month' value=mktime(0, 0, 0, $month-1, 1, $year)}
		{assign var='prev_month_year' value=date('Y', $prev_month)}
		{assign var='prev_month_month' value=date('m', $prev_month)}
		{assign var='prev_month_day' value=date('d', $prev_month)}
      	<a title="上一月最新开服表" href="{getTypeLink('kaifu','',['{$year}'=>$prev_month_year, '{$month}'=>$prev_month_month, '{$day}'=>$prev_month_day])}"><img width="10" height="11" alt="上一月最新开服表" src="{$style_dir}/images/gamelist__07.gif"></a>
      </div>
      <div class="p30" style=" width:70px;">{$month}</div>

      	{assign var='next_month' value=mktime(0, 0, 0, $month+1, 1, $year)}
		{assign var='next_month_year' value=date('Y', $next_month)}
		{assign var='next_month_month' value=date('m', $next_month)}
		{assign var='next_month_day' value=date('d', $next_month)}
      <div>
      	<a title="下一月最新开服表" href="{getTypeLink('kaifu','',['{$year}'=>$next_month_year, '{$month}'=>$next_month_month, '{$day}'=>$next_month_day])}"><img width="10" height="11" alt="下一月最新开服表" src="{$style_dir}/images/gamelist_07-03.gif"></a>
      </div>

      <div style=" width:100%; height:20px; line-height:20px;">开服总量{$month_kaifu_count}服</div></div>
      {assign var='max_day' value=$maxday_list[intval($month)]}

      {for $d=1 to $max_day}
      	<div class="righttimebox {if empty($kaifu_data[$d])} r_boxstyle2 strong hcolour{/if}">
      		{if empty($kaifu_data[$d])}
      			{$d}
      		{else}
      			<a id="{$year}{$month}{$d} " class="{if $d==$day}totalday org{else}backa otherday{/if}" href="{getTypeLink('kaifu','',['{$year}'=>$year, '{$month}'=>$month, '{$day}'=>$d])}">{$d}<br/>
      			({$kaifu_data[$d]})
      			</a>
      		{/if}
      	</div>
      {/for}
  </div>


  <div style=" clear:both"></div>
</div>
{include "../footer.html"}
</body>
</html>