<div class="fr newsinfo_right">
    <div class="picbd boder_base">
      <script src='/plus/bd_js.php?aid=12&nocache=1' language='javascript'></script>
    </div>
    <div class="fl boder_base r_box  padding_10 mt">
       <h2 class="p14 black strong lh30 nomal_h2back">图片推荐</h2>
      <div class="more">{dede:type typeid="18"}<a href="[field:typelink function=GetRealTypeUrl(@me)/]" target="_blank" title="查看更多精彩图片" class="blue">更多&gt;&gt;</a>{/dede:type}</div>
    	 <ul class="pic_push mt_5">
         {dede:arclist typeid=18 channelid=22 row=4}
         <li class="">
            <a class="lh24" href="[field:arcurl/]" title="[field:title /]" target="_blank">
                    <img width="140" height="110" class="picbd" src="[field:id function='GetArticleThumb(@me, 1, gallery)'/]">
                    <center><p>[field:title /]</p></center>
            </a>
          </li>
          {/dede:arclist}
      </ul>
    </div>
  <div class="fl boder_base r_box  padding_10 Ranking mt">
      <h2 class="p14 black strong lh30 nomal_h2back ">新闻点击榜</h2>
      <div class="more">{dede:type typeid='12'}<a href='[field:typelink/]' target="_blank" class="blue">更多&gt;&gt;</a>{/dede:type}</div>
    <ul class="lh24 fl">
    {dede:arclist typeid='12' row=10 orderby=click titlelen="55"}
    <li>
        <span class="">[field:global name=autoindex/]</span>
        <a target="_blank" title="[field:title/]" href="[field:arcurl/]">[field:title/]</a>
    </li>
    {/dede:arclist}
    </ul>
  </div>
</div>