#content h2{ text-indent:10px;}
#content .newsnav_2 .more { line-height: 30px; margin-left: 20px; margin-top: -30px; padding-right: 10px; position: relative; width: auto; z-index: 99;}
#pathway { height: 36px; line-height: 36px; width: 1000px;}
#pathway a{ margin-right:5px;}
.newsinfo_left{ width:658px; margin:0 15px 0 0; text-align:center; padding:15px 10px; overflow:hidden; height:auto;}
.newsinfo_topline{ border-top:solid 2px #0079c2;}
.newsinfo_barbg{ background:url(../images/news_info_bar.jpg) 0 0 no-repeat scroll ; width:16px; height:16px; overflow:hidden; padding:2px; padding-left:20px; _padding-bottom:0;}
.newsinfo_pic{ background:url(../images/news_info_bar.jpg) 0 -34px no-repeat scroll ; width:16px; height:25px; overflow:hidden;padding:2px; padding-left:20px;}
.newsinfo_videos{ background:url(../images/news_info_bar.jpg) 0 -17px no-repeat scroll ; width:16px; height:30px; overflow:hidden;  padding:2px;padding-left:20px; _padding-bottom:0;}
.newsinfo_line{ background:url(../images/news_info_line.jpg); width:642px; height:9px;  margin-top:3px; margin-bottom:20px; display:block; float:left;}
.newsinfo_artical table{ background-color:#fff; border:solid 1px #ccc;}
.newsinfo_artical table td{ background:#fff; border: solid 1px #ccc; }
.newsinfo_artical{ width:650px; padding:0 7px; text-align:left; float:left;}
.newsinfo_artical p strong{ font-weight:bold;}
.newsinfo_artical p img{ max-width:640px; overflow:hidden; margin:10px auto;}
.newsinfo_artical .mini_logo{ background-image:url(../images/kaifu_minilogo.gif); width:25px; height:22px; display:block;} 
#newsinfo_share{ width:58%; float:right; margin-top:20px; margin-bottom:10px; line-height:16px;}
#newsinfo_share .share_tweibo{ background:url(../images/share.gif) 0 0 scroll no-repeat; float:left; padding-left:20px; height:16px; display:block; margin-left:10px;}
#newsinfo_share .share_sina{ background:url(../images/share.gif) 0 -22px scroll no-repeat; float:left; padding-left:20px; height:16px; display:block; margin-left:10px; }
#newsinfo_share .share_qzone{ background:url(../images/share.gif) 0 -44px scroll no-repeat; float:left; padding-left:20px; height:16px; display:block; margin-left:10px; }
#newsinfo_share .share_xiaonei{ background:url(../images/share.gif) 0 -66px scroll no-repeat; float:left; padding-left:20px; height:16px; display:block; margin-left:10px; }
#newsinfo_share .share_more{ background:url(../images/share.gif) 0 -88px scroll no-repeat; float:left; padding-left:20px; height:16px; display:block; margin-left:10px; }
.newsinfo_left .news_push{ border-top:1px #ccc dashed; width:100%; text-align:left; overflow:hidden; height:auto; }
.newsinfo_left .qdiv{ margin-top:20px;}
.newsinfo_left .list_01{ text-indent:0;}
.newsinfo_left .list_01 .text_top{ _margin-top:16px; _display:block;}
.newsinfo_left .news_push ul{ margin-top:10px;}
.newsinfo_left .news_push1 li a{background: url("../images/icobg_1.0.png") no-repeat scroll 0 -494px transparent; display: block; float: left; height: 24px; margin-right: 10px; overflow: hidden; text-indent: 10px; width: 260px; _width: 250px;}
.newsinfo_left .news_push li{ height:30px; overflow:hidden;}
.newsinfo_left .news_width{ width:46%; margin-right:10px;} 
.newsinfo_left .nocomment{ margin-top:10px; display:block;}
.newsinfo_left .news_tags{ margin-top:10px;}
.newsinfo_left .news_date{ width:100%; text-align:left; border-top:dashed 1px #CCCCCC; clear:both; margin-bottom:10px; overflow:hidden; margin-top:10px;}
.newsinfo_left .news_date .adv{display:block; margin-top:10px; width:310px;overflow:hidden; border: 1px solid #CDCDCD; padding: 1px; height:165px;}
.newsinfo_left .news_date .adv:hover{border: solid 1px #ff6600;}
.newsinfo_left .player_comment{ border-top:1px #ccc solid; width:100%; text-align:left; overflow:hidden; height:auto; margin-bottom:10px; margin-top:10px;}
.comment_bg{ background:#f0f0f0; padding:2px 0;}
.newsinfo_left .comment input{ cursor:pointer;}
.newsinfo_left .comment_bt{ background:url(../images/news_info_reback.gif) 0 0 scroll no-repeat; height:21px;width:56px; border:none; overflow:hidden; display: inline; margin-top:2px; float:left;}
.newsinfo_left .comment_up{ background:url(../images/news_info_reback.gif) 0 -21px scroll; height:21px; width:56px; border:none; overflow:hidden; display: inline; margin-top:2px; float:left;}
.newsinfo_left .comment li{background-color: #fff; border: none; line-height: 24px; margin-top: 5px; overflow: hidden; padding: 10px; text-align: left; word-wrap: break-word; border-bottom:dashed 1px #CCCCCC;}
.player_comment .text02box{border: 1px solid #cecece;height:80px;padding:10px;width:96%; height:45px; overflow:hidden; font-size:12px;}
.newsinfo_left .comment_width{ width:98%; height:130px;}
#content .newslist_yb li{ _line-height:24px; _height:24px; _overflow:hidden; _width:100%;}
#content .newslist_yb .b_line{ margin-top:15px; _margin-top:-10px; _background:none;} 
.newsinfo_left .text01box{ width:100%; float:left;}
.newsinfo_left .text01box .news_width{ float:left;}
.newsinfo_left .gameintroduce h2{ line-height:40px; color:#000;}
.booklet-image{width:140px; height:110px; overflow:hidden;display:table-cell; >display:block;text-align:center; vertical-align:middle;}
.newsinfo_left .text02box{border: 1px solid #cecece;height:140px;padding:10px;width:270px; overflow:hidden; font-size:12px; margin-bottom:10px;}
.newsinfo_left .text03box{ width:49%; overflow:hidden; height:170px;  float:right; border: 1px solid #ECECEC;} 
.newsinfo_left .c_msg{ width:100%; display: block; text-indent: 20px;}
.newsinfo_left .news_title{ width:500px; overflow:hidden; width:495px;}
.emotion li{ float:left;}
.gameintroduce{ height: auto; margin-top: 5px; overflow:hidden; text-align:left; width:100%;}
.pagination{ text-align:center;}
.current{ padding:3px 5px; background:#fff; border: 1px solid #a8b2b7; color: #000; margin-right:5px;  display: inline-block;  font-family: "tahoma";}
.current:hover{ border:solid 1px #FF3300; text-decoration:none; font-family: "tahoma";}
.gameintroduce .gameinputs{background:url(../images/news_info_reback.gif) -58px 0 scroll; height:21px;width:56px; border:none; overflow:hidden; margin-top:0; margin-left:10px; _margin-top:5px; }
.gameinputs{background:url(../images/news_info_reback.gif) -58px 0 scroll; height:21px;width:56px; border:none; overflow:hidden;}
.text03box ul li { background-color: #F2F2F2; border: 1px solid #e7e7e7;float: left;height: 24px; margin: 4px 5px; padding: 0 5px;}
.text03box ul li a{display: block;  white-space: nowrap;}
.newsinfo_right{ width:302px; overflow:hidden;}
.nomal_h2back {background: url("../images/hback_1.0.png") repeat-x scroll 0 -87px transparent; width:100%; float:left;}
.newsinfo_right .r_box{ width:300px;}
.newsinfo_right .r_box .more, .developers .more { margin-top: -25px; padding-right: 10px; text-align: right; float:right;}
.newsinfo_right .titlecolor{ background-color: #F5FAFE;}
.li_1, .li_2, .li_3, .li_4, .li_5{ border-bottom: 1px solid #e1eff6; float: left;height: 24px;line-height: 24px; margin: 0;padding: 0;text-indent: 10px; width: 50px; text-align:center; overflow:hidden;}
.newsinfo_right .li_2 ,.newsinfo_right .li_5{width:85px;}
.newsinfo_right .li_1{ width:40px;}
.newsinfo_right .li_4{ width:40px}
.newsinfo_right .lq_bt { background-color: #F2A44F; display: inline-block; height: 15px; line-height: 15px; margin:4px 0 0 6px; overflow: hidden; padding: 0 3px; text-align: center;text-indent: 0;width: auto;}
.newsinfo_right .adv270{height:260px; overflow:hidden;}
.newsinfo_right #rel_srvlist{ margin-bottom:15px;}
.newsinfo_right .pic_push li p{ line-height:24px; margin:0; padding:0;}
.newsinfo_right .pic_push li{ padding:4px; float:left; overflow:hidden; width:140px; height:145px;}
.newsinfo_right .pic_push li img{ margin-top:10px;}
.newsinfo_right .Ranking ul{ padding:10px 10px;}
.newsinfo_right .Ranking ul li{ width:280px; overflow:hidden; height:24px;}
.newsinfo_right .Ranking ul li span{ font-family: "Arial"; font-size:10px; background:url(../images/icobg_1.0.png) -186px -535px; width:14px; height:11px; line-height:11px; color:#FFF; display:inline-block; text-align:center; margin-right:5px;_margin-top:7px;}
.newsinfo_right .Ranking ul li .numBer_red{background:url(../images/icobg_1.0.png) -164px -535px ;}
.newsinfo_right .hotgame ul li{ margin:10px 0 0 11px; _margin:10px 0 0 7px; text-align:center; float:left; width:85px; overflow:hidden;}
.newsinfo_right .hotgame .bang h3{ width:100%;}
.newsinfo_right .hotgame .bang ul li{ margin:8px 0 0 8px; text-align:center; float:left; width:95%; overflow:hidden; height:30px;}
.newsinfo_right .hotgame ul li p{ width:100%; overflow:hidden; height:20px;}
.newsinfo_right .hotgame ul li p .bt_enter{ float:left;}
.newsinfo_right .hotgame ul li .ml{ margin-left:10px;}
.newsinfo_right #rel_srvlist_con .nogift{background: url("../images/icobg_1.0.png") repeat scroll -79px -362px transparent; width:16px; height:16px; display: inline-block; line-height:17px; text-indent:0; text-align:center; margin-left:5px; overflow:hidden; padding:0; color:#fff;}
#rel_srvlist_con .lq_bt{background: url("../images/icobg_1.0.png") repeat scroll 0 -362px transparent; width:16px; height:16px; display: inline-block; line-height:17px; text-indent:0; text-align:center;margin-top:5px; margin-left:5px; overflow:hidden; padding:0; color:#fff;}
#rel_srvlist_con .tao_bt{background: url("../images/icobg_1.0.png") repeat scroll -127px -362px transparent; width:16px; height:16px; display: inline-block; line-height:17px; text-indent:0; text-align:center;margin-top:5px; margin-left:5px; overflow:hidden; padding:0; color:#fff;}

.newsinfo_left .news_detailliset{ width:100%; text-align:left; overflow:hidden; margin-bottom:5px;}

.news_list{ width:49%; text-align:left; overflow:hidden;}
#content .news_list .changebt_up, .changebt_on {background: url("../images/h1bg_1.0.png") no-repeat scroll -227px -279px transparent;display: inline-block;height: 27px; line-height: 27px;margin:4px 2px 0; text-align: center; width: 83px; float:left; margin-left:5px;}
.news_list .changebt_up, .changebt_on {background: url("../images/h1bg_1.0.png") no-repeat scroll -227px -279px transparent;display: inline-block;height: 27px; line-height: 27px;margin:2px 2px 0; text-align: center; width: 83px;}
.news_list .changebt_on { background: url("../images/h1bg_1.0.png") no-repeat scroll -136px -279px transparent;}
.news_list ul{ padding:10px; width:96%; overflow:hidden; clear:both;}
.news_list .newsnav li a, .news_list .newsnav_2 li a { height: 24px; overflow: hidden;width: 340px;}
.newsnav li, .newsnav_2 li { text-indent: 10px; width:100%; _height:18px; overflow:hidden;}
#content .newsnav_2{ min-height:500px; _height:auto;}
#content .newsnav_2 ul a{ color:#000;}
#content .newsnav_2 ul a:hover{ color:#ff6600;}
#bdshare a:hover,#bdshare_s a:hover,#bdshare_pop a:hover{ color:#ff6600;}


.tl{text-align:left;}


.game_info .pic{ width:250px; overflow:hidden; position:relative;}
.game_info .pic img{ width:250px; height:250px; overflow:hidden; border:solid 1px #}
.game_info  .pic .position_duan{ top:1px; right:-2px; position: absolute; background:url(../images/news_info_reback.gif) 0 -424px; width:30px; height:30px;}
.game_info  .pic .position_ye{ top:1px; right:-2px; position: absolute; background:url(../images/news_info_reback.gif) -30px -424px; width:30px; height:30px;}
.game_info .line_blue{ height:35px; width:250px; line-height:40px; background-color:#d2e1eb;}
.game_info #newsinfo_share{ width:100%; float:left; margin-top:-1px;  _margin-top:10px; }
.game_info #newsinfo_share a{ margin-left:3px;}
.game_info .bdshare_t span{height: 16px; line-height: 16px;}
.game_info .text_width{ width:389px; text-align:left; margin-top:7px; _margin-top:-2px;}
.game_info .text_width .wd{ width:47%; overflow:hidden;}
.game_info .text_width .wd span{ display:block; text-align:left;  line-height:26px;}
.game_info .text_width .yahei{ font-size:14px; font-family:"微软雅黑"; color:#000;}
.game_info .text_width .bt_good{ background:url(../images/news_info_reback.gif) 0 -347px no-repeat scroll; width:66px; height:38px; border:none; float:left;}
.game_info .text_width .bt_good:hover{ background:url(../images/news_info_reback.gif) 0 -385px no-repeat scroll; width:66px; height:38px; border:none; float:left;}
.game_info .text_width .boder_num{ width:auto; height:36px; border:solid 1px #a7cedf; display:block; float:left; border-left:none; text-align:center; padding: 0 10px;}
.game_info .text_width .bt_torial{ background:url(../images/news_info_reback.gif) 0 -258px no-repeat scroll; float:left; width:32px; height:21px; margin-right:3px; margin-top:5px; line-height:21px; text-align:center;}
.game_info .text_width .bt_torial:hover{ background:url(../images/news_info_reback.gif) 0 -279px no-repeat scroll; float:left; width:32px; height:21px; margin-right:3px; margin-top:5px; line-height:21px; text-align:center;}
.game_info .text_width .bt_torial1{ background:url(../images/news_info_reback.gif) 0 -303px no-repeat scroll; float:left; width:60px; height:21px; margin-right:3px; margin-top:5px; line-height:20px; text-align:center;}
.game_info .text_width .bt_torial_none{ background:url(../images/news_info_reback.gif) 0 -303px no-repeat scroll; float:left; width:60px; height:21px; margin-right:3px; margin-top:5px; line-height:21px; text-align:center;}
.game_info .text_width .bt_torial1:hover{ background:url(../images/news_info_reback.gif) 0 -324px no-repeat scroll; float:left; width:60px; height:21px; margin-right:3px; margin-top:5px; line-height:21px; text-align:center;}
#content .game_info .text_width .bt_torial1_none{ background:url(../images/news_info_reback.gif) 0 -324px no-repeat scroll; float:left; width:60px; height:21px; margin-right:3px; margin-top:5px; line-height:21px; text-align:center; color:838383;}
.game_info #bdshare{ margin-top:5px;}
.game_info .text_width p{ display:block; float:left; width:100%;}
.game_info .boder_org{border:1px solid #e4c491; padding:1px; width:50%; margin-right:10px; float:left; margin-bottom:10px; word-wrap: break-word; word-break: normal;}
.game_info .boder_org h3{ width:17px; background:url(../images/news_info_reback.gif) -73px -347px no-repeat scroll; height:63px; float:left;}
.game_info .boder_org a{ float:left; line-height:24px; margin-left:5px; color:#0066cc; margin-right:5px; margin-top:5px;}
.game_info .boder_org1 ul li{ float:left; width:70%; margin-left:10px;}
.game_info .boder_org1 a{ margin:0 10px;}
.game_info .boder_org1{border:1px solid #e4c491; padding:1px; width:98%; margin-right:10px; float:left; line-height:20px; margin-bottom:10px;}
.game_info .boder_org1 h3{ width:17px; background:url(../images/news_info_reback.gif) -73px -347px no-repeat scroll; height:63px; float:left;}
.game_info .bt_all{ width:100%; float:left;}
.game_info .wild_download{position:relative; width:114px; height:39px; float:left;  margin-right:5px;}
.game_info .bt_playgame{ background:url(../images/news_info_reback.gif) 0 -43px no-repeat scroll; width:100px; height:32px; float:left;  margin-right:5px;}
.game_info .bt_playgame:hover{ background:url(../images/news_info_reback.gif) -114px -43px no-repeat scroll; width:100px; height:32px; float:left;   margin-right:5px;}
.game_info .bt_entergame{background:url(../images/news_info_reback.gif) -316px -43px no-repeat scroll; width:100px; height:32px; float:left;  margin-right:5px;}
.game_info .bt_entergame:hover{ background:url(../images/news_info_reback.gif) -316px -83px no-repeat scroll; width:100px; height:32px; float:left;   margin-right:5px;}
.game_info .bt_playgray{background:url(../images/news_info_reback.gif) -215px -43px no-repeat scroll; width:100px; height:32px; float:left;  margin-right:5px;}
.game_info .bt_entergray{ background:url(../images/news_info_reback.gif) -215px -83px no-repeat scroll; width:100px; height:32px; float:left;   margin-right:5px;}
.game_info .bt_download{ background:url(../images/news_info_reback.gif) 0 -83px no-repeat scroll; width:100px; height:32px; float:left;   margin-right:5px;}
.game_info .bt_download:hover{ background:url(../images/news_info_reback.gif) -114px -83px no-repeat scroll; width:100px; height:32px; float:left;   margin-right:5px;}
.game_info .bt_downloadlist{ top:32px; width:98px; border:solid 1px #13a1d5; position:absolute; left:0px; }
.game_info .bt_downloadlist a{ background-color:#f1fbff;  line-height:24px; border-bottom:1px solid #13a1d5; text-align:center; display:block; color:#0066CC;}
.game_info .bt_downloadlist a:hover{ background-color:#f1fbff;  line-height:24px; border-bottom:1px solid #13a1d5; text-align:center; display:block;}
.game_info .bt_wanwan{ background:url(../images/news_info_reback.gif) 0 -123px  no-repeat scroll; height:30px; padding-left:32px; display:block; float:left; overflow:hidden; line-height:30px; margin-top:5px; margin-left:0;}
.game_info .bt_qiang{width:34px; height:19px; line-height:19px; text-align:center; background:url(../images/icobg_1.0.png) -84px -279px; }
.game_info .title{width:100%; overflow:hidden; _margin-bottom:-20px; margin-bottom:6px;}
.game_info .game_class{ padding:5px 10px; background-color:#EDEDED; border-bottom:2px solid #0065bb; width:100%; float:left; margin-top:10px; margin-left:-10px; *margin-left:0; *width:635px;}
.game_info .game_class a,.game_class span{ padding:0 3px; border-right:1px solid #d5d5d5; float:left; color:#0066cc; display:block; float:left; margin:5px 0; word-wrap: break-word; word-break: normal; width:74px; height:20px; overflow:hidden; line-height:20px;}
#content .game_class .org{color:#ff6600;}
.game_info .game_class span{ color:#666;}
.game_info .game_class a:hover{ color:#FF3300;}
.game_info .game_screen{ width:100%; float:left; overflow:hidden; height:auto;}
.game_info .game_screen .more_pic{width:100%; text-align:left; padding:2px 5px; float:left; left:30px; font-weight:bold;}
.game_info .game_screen li {  float:left; text-align:center; line-height:24px;  width:140px; margin:8px; display:in-block;  margin:0 10px; _ margin:0 7px;  position:relative}
.booklet-image-wrap{border:1px solid #ccc;}
.booklet-image-wrap:hover{border:1px solid #ff6600;}
.booklet-image-wrap .picbd{padding:0;border:1px solid #fff;height:110px;overflow:hidden;display:block;}
.booklet-image-wrap .picbd:hover{border:1px solid #fff !important;}
.game_info .game_screen li img{vertical-align:middle;}
.game_info .game_screen li{ width:144px; overflow:hidden;}
.game_info .game_screen .paly_vedio{ width:20px; height:15px; position:relative; background:url(../images/news_info_reback.gif) -28px -454px no-repeat scroll; position:absolute; top:90px; left:10px;}
.game_info .game_screen li a p{ width:140px; height:24px; overflow:; }
.game_info .kaifu_table{ width:100%; float:left; overflow:hidden;}
.game_info .kaifu_table p{ text-align:left; line-height:20px;}
.game_info .kaifu_table .div_top{ width:100%; overflow:hidden;  border:1px solid #E0E0E0; border-bottom:none; margin-top:5px;}
.game_info .kaifu_table .div_top .gray:hover{ color:#838383; text-decoration:none;}
.game_info .kaifu_table .div_top ul{ width:100%; height:28px; background-color:fff; border:none; border-bottom:1px solid #E0E0E0;}
.game_info .kaifu_table .div_top .list_01, .game_info .kaifu_table .div_top .list_02, .game_info .kaifu_table .div_top .list_03, .game_info .kaifu_table .div_top .list_04 ,.game_info .kaifu_table .div_top .list_03_1{ float: left; line-height:28px; height:28px; overflow: hidden; width:108px; border-right: 1px solid #E0E0E0; border-left:none;}

.game_info .kaifu_table2 .div_top ul{ width:100%; height: 50px; background-color:fff; border:none; border-bottom:1px solid #E0E0E0;}
.game_info .kaifu_table2 .div_top .list_01, .game_info .kaifu_table2 .div_top .list_02, .game_info .kaifu_table2 .div_top .list_03, .game_info .kaifu_table2 .div_top .list_04 ,.game_info .kaifu_table2 .div_top .list_03_1{ float: left; line-height: 50px; height: 50px; overflow: hidden; width:108px; border-right: 1px solid #E0E0E0; border-left:none;}

.game_info .kaifu_table .div_top .list_04{ width:87px;}
.game_info .kaifu_table .div_top .list_03{ width:350px; line-height:28px; }
.game_info .kaifu_table .div_top .list_03_1{ width:350px; }
.game_info .kaifu_table .div_top .list_bg { background: none repeat scroll 0 0 #FAFAFA;   float: left; height: 55px; width: 115px; border-left:1px solid #E0E0E0; border-right:none; line-height:55px;}
.game_info .kaifu_table .div_top .play_game{ background: url("../images/news_info_reback.gif") no-repeat scroll 0 -179px transparent; width: 66px; height:20px; border:none; margin:3px auto 0; display:block; overflow:hidden; line-height:20px;  color:#fff;}
.game_info .kaifu_table .div_top .play_game:hover{ background:url(../images/news_info_reback.gif) 0 -199px scroll no-repeat; width: 66px; height:20px; border:none; margin:3px auto 0; display:block; overflow:hidden; line-height:20px;  color:#fff;}
/*.game_info .kaifu_table .div_top .play_game{ background:url(../images/news_info_reback.gif) 0 -153px  no-repeat scroll; width:72px; height:25px; border:none; margin:12px auto; display:block; overflow:hidden; line-height:25px;}*/
.game_info .gift_table{width:100%;  float: left; padding:0; margin:0;}
.game_info .gift_table ul{width:100%;  float: left; padding:0; margin:0; border-bottom: 1px solid #E3E3E3; border-right: 1px solid #E3E3E3; font-size:12px;}
.game_info .gift_title{ background:#FAFAFA;  border-top: 1px solid #E3E3E3; border-right:1px solid #E3E3E3;}
.game_info .gift_table  li,.game_info .gift_title li{ border-left: 1px solid #E3E3E3; float: left; height: 34px; line-height: 34px; }
.game_info .gift_table .Sli_1, .game_info .gift_table .Sli_2{ float: left; height: 34px; line-height: 36px; overflow: hidden; text-align:center; width: 87px; text-indent:0;}
.game_info .gift_table .Sli_1{ width:125px;}
.game_info .news_push{ width:100%; float:left; overflow:hidden;  border-top:solid 1px #ccc;}
.game_info .news_push1{ width:100%; float:left; overflow:hidden;}
.newsinfo_left .news_push1 li span{ color:#838383;}
.game_info .news_push li{ float:left; width:48%; margin-right:10px; background: url("../images/icobg_1.0.png") no-repeat scroll 0 -494px transparent; text-indent:10px; overflow:hidden;}
.adv160{height:160px; overflow:hidden; position:relative;}
.adv160 .ad_flash_a{ background-color:white; display:block; width:300px;height:160px; z-index:999; position:absolute; left:0px; top:0px; filter:alpha(opacity=0); -moz-opacity:0;opacity: 0;} 
.bang_num{ font-size:38px; font-family:Arial, Helvetica, sans-serif; display:block; float:left; width:30px; color:#CC0000; font-style:italic;}
.bang_all{ width:95%; float:left; overflow:hidden; margin:5px; border-bottom:dashed 1px #ccc; padding-bottom:5px 8px; padding-bottom:15px;}
.bang_all .mt_5 .ml{ _margin-left:7px;}
.bt_tp{background: url("../images/news_info_reback.gif") no-repeat scroll 0 -153px transparent; width:60px; height:20px; display:block; text-align:center; line-height:22px; margin:5px 0;}
.number{background:url(../images/news_info_reback.gif) 0 -222px scroll no-repeat; color: #FFFFFF; display: block;float: left; font-family: tahom; height: 15px;line-height: 15px; text-align: center; width: 16px; float:left; margin-top:3px; margin-left:5px;}
.bang li{ width:100%; line-height:24px; border-bottom:dashed 1px #ccc;}
.bang .top1_wh{ width:80px; text-align:center; display:block; float:left; overflow:hidden; text-align:left;}
.bang .top1_gamename{ width:110px; text-align:center; display:block; float:left; overflow:hidden; text-align:left;}
.bang .top1_ps { width:50px; text-align:center; display:block; float:left; overflow:hidden; text-align:left;}
.bt_tp1{background: url("../images/news_info_reback.gif") no-repeat scroll 0 -153px transparent; width:60px; height:20px; display:block; text-align:center; line-height:22px; margin:0 10px 0 5px;}
/*.bt_tp1{ background:url(../images/news_info_reback.gif) 0 -179px scroll no-repeat; width:66px; height:20px; display:block; text-align:center; line-height:20px; color:#fff; margin:0 10px 0 5px;}
.bt_tp1:hover{ background:url(../images/news_info_reback.gif) 0 -199px scroll no-repeat; width:66px; height:20px; display:block; text-align:center; line-height:20px; color:#fff; margin:0 10px 0 5px;}
.bt_tp:hover{ background:url(../images/news_info_reback.gif) 0 -199px scroll no-repeat; width:66px; height:20px; display:block; text-align:center; line-height:20px; color:#fff; margin:5px 0;}*/
.bang{ float:left; width:99%; overflow:hidden;}
.pic-show{ padding:1px; width:994px;}
.show-img{ min-width:340px; min-height:340px; position:relative; z-index:2; text-align:center; margin-top:40px; padding-bottom:40px;}
.pic-show .show-img img{ box-shadow: 0 0 10px #5B5B5B; display: block; margin: 10px auto; max-width: 900px; overflow: hidden;}
.pic-show .show-img .prev{background:url("blank.png") repeat scroll 0 0 transparent; display: block; height:100%;left: 0; outline: medium none; position:absolute; top:0; width:495px; z-index:100;}
.pic-show .show-img .next{background:url("blank.png") repeat scroll 0 0 transparent; display: block; height:100%;right: 0; outline: medium none; position:absolute; top:0; width:495px; z-index:100;}
.pic-show .cont_box { background: none repeat scroll 0 0 #E9E9E9; height: 60px; margin: 0 auto; padding: 10px 0;}
.pic-show .cont_box .fldiv, .pic-show .cont_box .frdiv { background: url("../images/fl_01.jpg") no-repeat scroll center center transparent; display: block; height: 30px; margin-left: 10px; margin-top: 15px; width: 25px;}
.pic-show .cont_box .cont_pic { float: left; height:60px; overflow: hidden;  width:926px; _width:915px;}
.pic-show .cont_box .frdiv { background: url("../images/fr_01.jpg") no-repeat scroll 0 0 transparent; margin-left: 0; margin-right: 5px;}
.pic-show .cont_01 {float: left; font-size: 12px;line-height: 30px; margin-bottom: 8px;  text-align: center; width: 100%;}
.pic-show .cont_box .cont_pic ul li.active div {  border: 1px solid #ccc;}
.pic-show .cont_box .cont_pic ul li div { border: 1px solid #D0D0D0; height: 57px; margin-left: 9px; overflow: hidden; width: 57px;}
.other_push{ width:996px;}
.other_push .tt{ height:30px;}
.other_push .bgwhite{height:20px; overflow:hidden; background-color:#FFFFFF; border:solid 1px #dcdcdc; margin-left:10px; margin-top:3px; float:left; padding:0 5px; line-height:20px;}
.other_more{ margin-right:10px;}
.other_push li { float: left; overflow: hidden; padding-left: 10px; width: 100px;}
.other_push .main_pic { margin:10px; padding: 1px; border:solid 1px #ccc; width:80px;}
.other_push .gamelist_icon_height { height:20px; }
.other_push .gamelist_height{ text-align:center; line-height:20px;}
.back_list{ background:url(../images/news_info_reback.gif) -51px -455px; width:19px; height:15px; margin-top:8px; margin-right:-8px;}
.comment_width{ width:100%; height:90px;} 
.picnews_width{ width:58%;}
.picnews_width1{ width:40%;}
.news_playbang li span{ font-family: "Arial"; font-size:10px; background:url(../images/icobg_1.0.png) -186px -535px; width:14px; height:11px; line-height:11px; color:#FFF; display:inline-block; text-align:center; margin-right:5px;_margin-top:7px;}

.pic_duan{ background:url(../images/news_info_reback.gif) 0 -425px; width:32px; height:32px;}
.pic_ye{ background:url(../images/news_info_reback.gif) -32px -425px; width:32px; height:32px;}
.other_article{ float:left; font-size:14px; line-height:29px;}
.other_article a{ border-left:1px #e7e7e7 solid; padding-left:8px;}
.other_article a:hover{ color:#ff6600;}
.login-info .bds_tools a{ cursor: pointer;display: block; float: left; font-family: '宋体',Arial;height: 16px; margin-top: -2px;padding-bottom: 3px; padding-left: 5px; padding-top: 6px; width:16px;}

/*评分*/
.text_hot{color:#FF0000; font-size:28px; font-family:'微软雅黑'; line-height:24px; padding-left:5px;}
.g_left2{ width:100%; margin-top:7px; overflow:hidden; margin-bottom:10px; _margin-bottom:-15px; *margin-bottom:-10px;}
.g_i{ width:93%; margin:10px auto;  overflow:hidden;}
.g_i ul{ width:100%;   overflow:hidden;}
.g_i li{ position:relative;}
.g_i li a{ margin-right:10px;}
.g_i_back{ width: 120px; border:solid 1px #d7d7d7; text-align:center; margin-top:15px; height:24px; line-height:24px; padding-top:4px; float:left;  margin-right:6px;}
.g_i_tt{ width: 120px;  text-align:left; margin-top:15px; height:24px; line-height:24px; padding-top:4px; float:left;  margin-right:8px;}
.g_i_hot{ width: 120px; border:solid 1px #f28888; text-align:center;  margin-top:15px; height:24px; line-height:24px; padding-top:4px; float:left; margin-right:6px;}
.g_tip{ width:114px; height:22px; background:url(../images/bt.gif) -2px -204px scroll; position:absolute; top:-14px; left:0; text-align:center;}
.star_bg{ width:120px; background:url(../images/bt.gif) -207px -54px scroll no-repeat; height:26px; overflow:hidden; }
.star_bar1{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:12px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar2{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:24px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar3{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:36px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar4{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:48px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar5{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:60px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar6{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:72px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar7{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:84px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar8{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:96px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar9{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:108px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar10{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:120px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bt{width:100%; z-index:9999; height:auto; position:relative; float:left;}
.star_bg a{ width:12px; height:26px;  float:left}
#advanced {margin-top:10px;overflow: visible;position: relative;  border-top:solid 1px #CCCCCC; width:100%; height:22px;}

/*游戏状态*/
.game_ing{ width:99%; text-align:left; margin-top:15px; float:left; border:1px solid #D7D7D7; padding:1px;}
#content .game_ing h2{ float:left; width:100%; font-size:14px; font-family:"微软雅黑"; background:#EBEBEB; line-height:22px; color:#000; height:24px; text-align:left;}
#content .game_ing h2 a{ font-weight:100; font-size:12px; font-family: "宋体"; margin-top: 2px; float:right; margin-right:10px; _margin-top:-20px; *margin-top:-20px;}
.game_ing ul{ overflow:hidden; float:left; margin:8px 0 4px 10px; clear:both; width:90%;}
.game_ing li{ margin-right:15px; float:left; display: block;}
.game_ing .website-more{float: right;  margin: 8px 8px 4px 0;}

/*图片评论*/
.picture-booklet .newsinfo_left{width:976px;} 
#content .box-list{ padding:0; width:auto;}
.picture-booklet .pic-show .cont_01{ padding:0;}
.picture-booklet .newsinfo_left .text03box{width:34%;}
.picture-booklet .newsinfo_left .text02box{width:580px;}

.booklet-image-wrap{}
.booklet-image-hack{*display:inline-block;*height:100%;*vertical-align:middle;}
