@charset "utf-8";
/*
 * @filename:          public.css
 * @website:           http://www.kaifu.com/
 * @version:           ver4.0
 * @updated:           2012-01-31
 * @author:            huangyh            
 */

/*public css */
BODY { width:100%; margin:0px 0px 0px 0px; font-size:12px; background-color:#FFF; font-family:"宋体", "Arial"; color:#333; }
h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { margin:0; padding:0; }
DIV, DL, DT, DD, UL, OL { PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px }
LI { LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none }
IMG { border:0px;}
table { background-color:#CCC; margin:10px 0; clear:left }
table td { text-indent:5px; line-height:24px; }
#ckepop table { background-color:transparent; }
:focus { -moz-outline-style: none; }
.cur { cursor: pointer; }
.dot { font-size:9px }
/*color*/
.org { color:#ff6600 }
.White { color:#FFF }
.blue { color:#0071c7 }
.black { color:#333333; }
.yellow { color:#fff08b; }
.red { color:#F00 }
.mred { color:#cc3333 }
.hcolour { color:#999 }
.green { color:#009900 }
.blue2 { color:#0099cc }
.gray { color:#a1a1a1; }
.yellow2{  color:#ff9900; }
.black2{color:#666;}
.center { text-align: center; }
a.class_button { background-color:#ff7c02; padding: 0px 6px 3px 6px; margin-right: 5px; line-height: 22px; height: 22px; border:1px solid #e25000; }
a.class_button:hover { text-decoration:underline; color:#fff; }
.gold_class { width:960px; margin-top: 10px; padding: 2px; }
/*font size img{ cursor: pointer}*/
h1, h2 { font-family:"微软雅黑", "宋体" }
.p12, .p16 { font-family:"宋体"; font-size:12px; }
.p14 { font-family:"宋体"; font-size:14px; }
.p20 { font-family:"微软雅黑", "宋体"; font-size:20px; font-weight:lighter; }
.p16 { font-size: 16px; }
.mb10 { margin-bottom: 10px; }
.strong { font-weight:bold }
a { text-decoration: none; color:#0071c7 }
a:hover, a.backa:hover { text-decoration:underline; color:#Ff6600; }
.numBer { font-family: "Tahoma"; font-size:10px; font-weight:bold }
a.backa { color:#0071C7; }
.backtop { width:48px; height:50px; display:block; position:absolute; z-index:9999; margin-left:1020px; }
/*header*/
a.hd_a div { text-decoration: none; }
/*button*/
.class_bg{background:url(../images/tuij.gif) no-repeat right top; padding-right: 30px;}
select { padding:1px; border:1px solid #CCC }
.dybutton_sty1, .dybutton_sty2, .dybutton_sty3, .dybutton_sty4, .dybutton_sty5, .dybutton_sty8, .dybutton_sty2_2, .dybutton_sty9, .dybutton_sty10 { width:60px; background:url(../images/back23u.gif) 0 -969px no-repeat; text-align:center; line-height:21px; display:inline-block; text-indent:0; color:#FFF; font-weight:bold; height:21px; }
.dybutton_sty8 { background:url(../images/back23u.gif) -68px -905px no-repeat; width:60px; }
.dybutton_sty2 { background:url(../images/back23u.gif) 0 -999px no-repeat; width:33px; _margin-top:5px; }
.dybutton_sty2_2 { background:url(../images/back23u.gif) 0 -1430px no-repeat; width:60px; _margin-top:5px; }
.dybutton_sty3 { background:url(../images/back23u.gif) 0 -934px no-repeat; width:33px; margin-top:3px; _margin-top:5px; *margin-top:5px;}
.dybutton_sty10 { background:url(../images/back23u.gif) -632px -1235px no-repeat; width:33px; _margin-top:5px; }
.dybutton_sty4 { background:url(../images/back23u.gif) 0 -905px no-repeat; width:60px; }
.dybutton_sty5 { width:114px; height:38px; background:url(../images/back23u.gif) -451px -971px; border:none; margin-left:230px; }
.dybutton_sty6, .dybutton_sty7 { width:56px; height:26px; line-height:26px; padding:0 10px; border: none ; background: url(../images/dybutton_sty6.jpg) 0px 0px; text-align:center; display:inline-block; font-weight:bold; color:#333; cursor: pointer; _padding:0; _line-height:24px; margin-top:3px; }
.dybutton_sty7 { height:26px; line-height:26px; margin-left:10px; width:auto; background:url(../images/back23u1.gif) 0 -549px; border-color:#ffa80f; border: 1px solid #A7A7A7;}
.dybutton_sty7none { height:26px; line-height:26px; margin-left:10px; width:auto; background:#c8c8c8; border-color:#ffa80f; border: 1px solid #A7A7A7;}
.dybutton_sty1:hover, .dybutton_sty2:hover, .dybutton_sty3:hover, .dybutton_sty4:hover, .dybutton_sty8:hover, .dybutton_sty2_2:hover, .dybutton_sty9:hover, .dybutton_sty10:hover { color:#FFF; text-decoration:none }
#user_right .right_d2 .zk_sty2 { background:url(../images/back23u.gif) 0 -808px no-repeat; }
.dybutton_sty9, .dybutton_sty_11 { background:url(../images/back23u.gif) -135px -900px no-repeat; width:90px; height:26px; margin-right:0; border:0; }
.dybutton_sty_11 { background:url(../images/back23u.gif) -135px -931px no-repeat; float:left; color:#fff; margin:0px 5px }
a.dybutton_sty_11:hover{ color: #fff; text-decoration:underline;}
.inputsty, .inputsty2, .inputsty3, .inputsty4 { width:330px; height:24px; padding:2px; border:1px solid #CCC; margin-top:5px; float:left }
.inputsty2 { height:16px; padding:4px; width:250px }
.inputsty2:active, .inputsty2:focus { border:1px solid #Ff6600; }
.inputsty3 { width:70px; margin-right:10px; }
.inputsty5 { width:150px; margin-right:10px; }
.inputsty4 { height:100px; width:255px }
.gameinputs { width:75px; height:24px; background:url(../images/kfinput_17.jpg) no-repeat; border:none; margin-top:5px; }
.gameinputs2 { width:40px; height:19px; background:url(../images/kfinput_16.jpg) no-repeat; border:none; margin-right:5px; float:left; line-height:19px; text-align:center }
.gameinputs2_blue { background: url("../images/kfinput_18.jpg") no-repeat scroll 0 0 transparent; border: medium none; float: left; height: 19px; line-height: 19px; margin-right: 5px; text-align: center; width: 40px; }
.gameinputs3 { width:40px; height:19px; background:url(../images/kfinput_16.jpg) no-repeat; border:none; margin-left:5px; float:left; line-height:19px; text-align:center }
/*header*/
.inputbox, .inputbox2 { width:180px; height:16px; padding:4px; border:1px solid #CCC; margin-top:3px; float:left }
#header { width:1000px; margin:0 auto; padding:10px 0; padding-bottom:0; }
.logo { width:244px; height:60px; background-color:#FFF; float:left; display:block; _filter:progid:DxImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="../images/logo.png");
_background:none; _margin-right:25px; }
.logo a { width:204px; height:54px; display:block; }
.header_h1 { font-family:"微软雅黑", "宋体"; font-size:24px; line-height:24px; font-weight:lighter; float:left; border-left:1px solid #cccccc; line-height:24px; height:24px; width:auto; margin-top:15px; padding-left:15px; }
.header_h2 { float:left; margin-top:15px; padding-left:10px; _line-height:24px }
#header #gnb { width:1000px; height:auto; float:left; overflow:hidden; }
.bd_2 { border-bottom:3px solid #ff7c37; position:relative; margin-top:-18px; z-index:1; _margin-top:-14px; _position:fixed; }
.bd_1 { border-bottom:3px solid #efefef; }
.h1yb { background: url("../images/back23u.gif") no-repeat scroll -711px -615px transparent; line-height: 40px; padding-left: 25px; width: auto; }
.searchbar { width:353px; height:53px; float:left; background:url(../images/back23u.gif) 0 -739px; overflow:hidden; margin-left:10px; margin-top:5px; }
.input_1 { width:212px; height:22px; border:0px; line-height:22px; margin-left:12px; margin-top:7px; float:left }
.searchlistbutton { width:71px; height:25px; float: left; text-align:left; padding-left:10px; background:url(../images/back23u.gif) 0 -1314px no-repeat; margin-top:6px; line-height:25px; cursor:pointer }
.searchlistbutton .changelist { width:auto; height:auto; border:1px solid #CCC; background-color:#FFF; position:absolute; z-index:9999; margin-left:-1px; _margin-left:-57px; _margin-top:-10px; *margin-left:-1px;
*margin-top:20px;
}
.changelist a { width:80px; height:24px; line-height:24px; display:block; text-indent:10px; color:#333 }
.changelist a:hover { background-color:#F60; color:#FFF }
.button_2 { width:43px; height:27px; float:right; background:url(../images/back23u.gif) -174px -328px; border:0px; margin-top:5px; margin-right:5px; }
#header #gnb h1.sty_1, #header #gnb h1.sty_2 { width:211px; height:42px; float:left; font-family:"微软雅黑", "宋体"; font-size:20px; line-height:40px; font-weight:lighter; ; text-align:center; background:url(../images/back23u.gif) 0px -272px; color:#FFF; cursor:pointer }
#gnb h1.sty_2 { color:#ff6600; background:url(../images/back23u.gif) -211px -272px; }
.dh_rightdiv { width:550px; height:42px; float:right; overflow:hidden; text-align:right }
dh_rightdiv a { line-height:42px; margin-right:10px; }
.searchdiv { width:886px; background:url(../images/back23u1.gif) 0 -78px repeat-x; height:76px; float:left; overflow:hidden; border :1px solid #ccc; border-top:3px solid #ff7c37; padding:20px 56px 0px 56px }
.searchdiv label { float:left; height:40px; width:88px; display:block; font-family:"微软雅黑", "宋体"; font-size:20px; line-height:40px; font-weight:lighter; }
.inputboxback { width:576px; height:36px; border:2px solid #bdbdbd; background:url(../images/back23u.gif) 0 -386px; float:left; padding-left:40px; overflow:hidden }
.inputboxback:active { border:2px solid #ff7c37; }
.inputboxback input { border:0px; width:99%; height:36px; background:none; line-height:36px; }
.s_button { width:164px; height:40px; background:url(../images/back23u.gif) 0 -326px; font-family:"微软雅黑", "宋体"; font-size:20px; line-height:40px; font-weight:lighter; ; margin-left:10px; float:left; color:#FFF; border:none }
.hotlink { width:100%; float:left; height:34px; line-height:34px; text-indent:88px; }
.hotlink a { margin:0 5px; }
.enterpart, .enterpart_active { width:auto; height:auto; padding:3px; background-color:#FFF; border:1px solid #CCC }
.enterpart_active { background-color:#ffffcc; border:1px solid #ff6600; padding:3px; color:#F60 }
/*tools*/
#tools { width:100%; height:37px; background:url(../images/back23u1.gif) repeat-x; }
#tools .t_b { width:1000px; height:37px; margin:0 auto; }
.logo_1 { width:auto; height:37px; display:block; float:left; overflow:hidden; background:url(../images/back23u.gif) 0 -235px no-repeat; line-height:37px; padding-left:80px; }
.reg_div { width:auto; height:37px; float:right; padding-right:5px; line-height:37px; text-align: right }
.reg_div a { margin-left:5px; margin-right:5px; }
a.row_icon { background:url(../images/back23u.gif) right -643px no-repeat; display: inline-block; width:auto; text-align:left; padding-right:15px; }
div.qdiv { width:100%; height:30px; text-align:center; float:left; text-align:center; margin-top:10px; padding-bottom:5px;}
div.qdiv a { width:23px; height:auto; display:inline-block; border:1px solid #CCC; color:#999; height:22px; line-height:22px; margin-right:5px;}
div.qdiv .prev a,div.qdiv .next a,div.qdiv .last a,div.qdiv .frist a{width:55px; height:auto; display:inline-block; border:1px solid #CCC; color:#999; height:22px; line-height:22px; _line-height:23px;}

#content .newslist_l{ margin-right:15px;}
div.qdiv a:hover, div.qdiv a.mouse_on { border:1px solid #F60; color:#f60; text-decoration:none }
div.qdiv a.mouse_on { background-color: #F90; color:#FFF }
/*popwindow_div*/
.popwindow_div { width:580px; height:auto; margin-left:-5px; margin-top:-5px; border:6px solid #ededed; background-color:#FFF; position: absolute; text-align:center; z-index:9999; min-height:214px; _height:214px; _margin-left: -600px; _margin-top: 80px; }
.popwindow_div div { width:580px; height:40px; overflow:hidden; text-align: left; text-indent:10px; background-color:#ededed; _line-height:40px; *line-height:32px;
line-height:32px\0; }
.inputqd { width:105px; height:31px; background:url(../images/back23u.gif) -326px -969px no-repeat; border:none; margin-top:20px; }
a.closed { float:right; margin-top:5px; display:inline-block; _margin-top:-25px; *margin-top:-25px;
}
/*footer*/

.stepbar { width:100%; height:24px; background-color:#dfdfdf; clear:both; margin-bottom:10px }
.stepbar_m, .stepbar_s { width:33%; height:24px; text-align:center; font:16px/24px "微软雅黑" lighter; color:#666; float:left; _display: inline-block }
.stepbar_s { background: #fea802; color:#FFF }
#content { width:1000px; height:auto; background:#fff; margin:0 auto; min-height:350px; border-bottom:1px solid #e6e6e6; overflow: hidden; }
#pathway { width:1000px; height:36px; line-height:36px }
#footer { width:1000px; margin-left:auto; margin-right:auto; height:auto; text-align:center; border:0px; line-height:22px; padding-top:10px; }
#NetworkOperator_footer { width:100%; border-top:1px solid #b2d3e5; line-height:24px; padding :10px 0; background-color:#FFF }
#NetworkOperator_footer div { margin-left:auto; margin-right:auto; text-align:center }
.gotop { position:fixed; bottom:100px; display:none; right:25px; _position:absolute; _bottom:100px; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-(this.offsetHeight+100)-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));}
.pagination { font-size:12px; float: left; height: 30px; text-align: center; width: 100%; }
.pagination a { text-decoration: none; border: solid 1px #CCCCCC; color: #15B; }
.pagination a:hover { border:1px solid #F60; color:#f60; text-decoration:none }
.pagination a, .pagination span { display: inline-block; width: auto; padding: 0.3em 0.5em; margin-right: 0; margin-bottom: 5px; min-width:1em; text-align:center; }
.pagination .current { background: #F90; color: #fff; border:solid 1px #F60; }
.pagination .current.prev, .pagination .current.next { color:#999; border-color:#999; background:#fff; }
.dede_pages{
}
.dede_pages ul{
  float:left;
  padding:12px 0px 12px 16px;
}
.dede_pages ul li{
  float:left;
  font-family:Tahoma;
  line-height:17px;
  margin-right:6px;
  border:1px solid #E9E9E9;
}
.dede_pages ul li a{
  float:left;
  padding:2px 4px 2px;
  color:#555;
  display:block;
}
.dede_pages ul li a:hover{
  color:#690;
  text-decoration:none;
  padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
  background-color:#F8F8F8;
  padding:2px 4px 2px;
  font-weight:bold;
}
.dede_pages .pageinfo{
  line-height:21px;
  padding:12px 10px 12px 16px;
  color:#999;
}
.dede_pages .pageinfo strong{
  color:#555;
  font-weight:normal;
  margin:0px 2px;
}

.pages {
    float: left;
    font-size: 12px;
    height: 30px;
    text-align: center;
    width: 100%;
}
.pages a {
    border: 1px solid #CCCCCC;
    color: #999999;
    text-decoration: none;
}
.pages a:hover {
    border: 1px solid #FF6600;
    color: #FF6600;
    text-decoration: none;
}
.pages a, .pages span {
    text-align: center;
    width: auto;
}
.pages .page_count {
    margin-right: 5px;
}
.pages strong {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
    text-align: center;
    width: 23px;
}



.bq_div { width:100%; height:39px; background:url(../images/yx_06.jpg) center top no-repeat; text-align:center; float:left; padding-top:10px; }
.bq_div a.flh1_on, .bq_div a.flh1_up { width:97px; height:25px; display:block; margin-left:8px; float:left; overflow:hidden; line-height:26px; }
.bq_div a.flh1_up { background:url(../images/input_11.jpg) no-repeat; color:#F00; }
.bq_div a.flh1_on { background:url(../images/input_12.jpg) no-repeat; color:#676767; }
.bq_div a.flh1_up:hover { color:#000; }
.bq_div a.flh1_on:hover { color:#F00; }
.bottom_line { width:100%; height:25px; background:url(../images/bottom_11.jpg) repeat-x; }
.text_span { font-weight:normal; }
.fl{ float:left;}

#slides .fl{ float:left; position: relative; }
#slides .fl img{ width: 195px; height: 160px; overflow:hidden; display: block; z-index: 0;}
#flashbanner .flashh1 {height:24px;}
.fl_vist { float:left;}
.fr { float:right; }
.icon_01 { background:url(../images/developer01.png) 2px no-repeat; }
.giftpage div.picbox{ height: 195px; margin-bottom: 10px; overflow: hidden;}
.box_line { border:1px solid #ececec; width: auto;}
.box2_line { border:1px dashed #ececec; }
.box3_line { border-bottom:1px dashed #ececec; }
.box4_line { border-top:1px solid #ececec; }
.box5_line { border-bottom:1px solid #ececec; }
#content .box_bg { width:80px; height: 22px; line-height: 22px; position: absolute; top:1px; left: 1px; display: block; background: #4C4C4C; opacity: 0.7; -moz-opacity: 0.7; filter: alpha(opacity=70); color:#FFF; text-align:center; }
#content .choosed { width:100%; line-height:26px; }
#content .choosed h3 { float:left; color:#666; margin-right:15px; width:auto; }
#content .choosed a { width:auto; height:18px; line-height:18px; background:#FFF; border: 1px solid #E6E6E6; float: left; margin-left:5px; margin-top:2px; padding: 0 20px 0 5px; position:relative; white-space: nowrap; }
#content .choosed b { background:url(../images/choosedimg.jpg); height:13px; width:13px; position:absolute; margin-top:2px; *margin-top:0;
margin-left:2px; }
#content .pic_img { width:60px; height: auto; overflow:hidden; text-align:center; padding-left:10px; padding-top:10px; float:left }
#content .pic_img2 { width:45px; height: auto; overflow:hidden; text-align:center; padding-left:5px; padding-top:5px; float:left }
#content .pic_box { width:90%; padding:10px; float:left; line-height:18px; text-align:left; }
#content .h1_box { background:#f6f6f6; height:33px; line-height:32px; padding-left:5px; margin:1px; }
#content .line_box { width:99%; height:auto; border:1px solid #ececec; padding:1px; }
#content .text_box { width:100%; height:auto; }
#content .text_box ul li { float:left; line-height:20px; width:100%; }
.text01box { width:100%; float:left; line-height:22px; }
.text02box { width:560px; height:100px; padding:10px; border:1px solid #ececec; }
.text03box { width:375px; height:132px; padding:10px; }
.text03box ul li { float:left; margin:4px 5px; _margin:4px 5px; float: left; border: 1px solid #ccc; padding:0 5px; background-color:#f2f2f2; height:24px; }
.text03box ul li:hover { float: left; border: 1px solid #ccc; padding:0 5px; background-color:#fff; }
.pages strong { background: #F90; color: #fff; border:solid 1px #F60; }
.pages .current.prev, .pages .current.next { color:#999; border-color:#999; background:#fff; }
#login .username { border: 1px solid #CCCCCC; float: left; height: 16px; margin-top: 5px; padding: 4px; width: 180px; background: #FFF; text-indent:0px; font-size: 12px; }
#login .username-on { border: 1px solid #CCCCCC; float: left; height: 16px; margin-top: 5px; padding: 4px; width: 180px; background: #FFF; text-indent:0px; font-size: 12px; }
#login .password { border: 1px solid #CCCCCC; float: left; height: 16px; margin-top: 5px; padding: 4px; width: 180px; background: #FFF; text-indent:0px; font-size: 12px; }
#login .password-on { border: 1px solid #CCCCCC; float: left; height: 16px; margin-top: 5px; padding: 4px; width: 180px; background: #FFF; text-indent:0px; font-size: 12px; }
#login .inputbox2 { border: 1px solid #CCCCCC; float: left; height: 16px; margin-top: 5px; padding: 4px; width: 119px; background: #FFF; text-indent:0px; font-size: 12px; }
#login .verify-code { float:left; margin: 0px 10px 0 0px; margin-top:5px; }
#login .msgbox { color: red; display:block; font-size: 12px; margin: 0; text-indent:0px; text-align:center }
#login .submit { background: url("../images/back23u.gif") repeat scroll -575px -972px transparent; cursor: pointer; border: medium none; clear: both; height: 38px; margin:0px; width: 160px; }
div.search-input { width:180px; font-size:12px; display:inline-block; _float:left; }
div.search-input input { width:180px; border-width:1px; color: #333333; height:23px; padding:3px 2px; border: 1px solid #A09D98; }
div.search-input div { display:none; position:absolute; z-index:9999; margin-top:-3px; _margin-left:-180px; _margin-top:20px; border:1px solid #999; width:180px; background:#fff; }
div.search-input div p, div.search-input div span { margin:0; padding:0 8px; line-height:25px; cursor:default; }
div.search-input div p.curr { background:#eee; }
.search-input-wrap { margin-right:8px; }
span.pub-msgbox { display:none; margin:0px auto auto 20px; margin-top: 5px; vertical-align:top; background:#EBFAFF url(../images/wicon.gif) no-repeat 2px 4px; border:1px solid #7CE0FD; min-height:20px; _height:20px; line-height:20px; padding:2px 0 2px 20px; width:240px; }
span.error { display:inline-block; border:1px solid #fe0000; background:#fff4ef url(../images/wrong.jpg) no-repeat 2px 4px; color:#fe0000 }
span.ok { display:inline-block; border:1px solid #fff; background:transparent url(../images/ok.gif) no-repeat 2px 4px; color:#00b7ff }
span.info { display:inline-block; color:#00b7ff }
#gift_bg { width:360px; height:206px; background: url(../images/bg_001.jpg) no-repeat; padding:10px; margin-left: 10px; }
#gift_bg a { float:right; }
#gift_bg .btton01 { width:88px; height:26px; background:url(../images/btton_a1.gif) no-repeat; border:0; color:#FFF; margin-top:140px; }
/*120110 .cjdiv ul{overflow:hidden; clear: both;}  */
 .cjdiv { width:1000px; height:35px; background:url(../images/kf_mine14.jpg) 0 0 no-repeat; overflow: hidden; }
.cjdiv ul li { list-style:none; background: url(../images/kf_019.jpg) center left no-repeat; width:auto; float:left; font-weight:bold; padding:0 10px; line-height:32px; text-align:center; }
.cjdiv ul li a { color:#fff; text-decoration:none; height:32px; display:block; }
.cjdiv ul li a:hover { color:#fff; text-decoration:none; }
.cjdiv .nav01 { width:61px; height:28px; background:url(../images/kf_mine14.jpg) -10px -38px no-repeat; float:left; margin-top:4px; }
.cjdiv .nav02 { width:80px; height:28px; background:url(../images/kf_mine14.jpg) -78px -38px no-repeat; float:left; margin-top:4px; }
.cjdiv .nav03 { width:80px; height:28px; background:url(../images/kf_mine14.jpg) -165px -38px no-repeat; float:left; margin-top:4px; }
.cjdiv .nav04 { width:117px; height:28px; background:url(../images/kf_mine14.jpg) -252px -38px no-repeat; float:left; margin-top:4px; }
.cjdiv .nav05 { width:61px; height:28px; background:url(../images/kf_mine14.jpg) -375px -38px no-repeat; float:left; margin-top:4px; }
.cjdiv .nav06 { width:82px; height:28px; background:url(../images/kf_mine14.jpg) -442px -38px no-repeat; float:left; margin-top:4px; }
.cjdiv .menu_new { width:22px; height:14px; background:url(../images/wanwan_new.gif) no-repeat; float:left; margin-top:-5px; margin-left: 550px; *margin-left: -55px;
z-index: 99999; position: absolute }
.cjdiv .textnone { text-indent:-9999px; }
.cjdiv .gametopdiv { float:right; padding-right:10px; padding-top:6px; width: auto; overflow:hidden; }
.cjdiv .gametopdiv a { color:#FFF; height:20px; line-height:22px; }
.cjdiv .gametopdiv a:hover { color:#fff09a; }
.adivbg { background:url(../images/kflb_11.jpg) left no-repeat; display:block; padding-left:22px; }
.concerned { width:340px; height:38px; overflow:hidden; margin-top:15px; margin:0 auto; }
.concerned ul li { list-style:none; float:left; line-height:40px; }
.concerned ul li img { margin-top:4px; }
#NetworkOperator_footer .concerned { width:340px; height:38px; overflow:hidden; margin-top:15px; margin:0 auto; }
#NetworkOperator_footer .concerned ul li { list-style:none; float:left; line-height:40px; }
#NetworkOperator_footer .concerned ul li img { margin-top:4px; }
/*#suggest{ width:330px; min-height:200px; _height:200px; border:6px solid #e0e0e0; background:#fff; color:#000; padding:5px 8px; line-height:28px;}*/
#suggest, #pop_up { width:330px; min-height:200px; _height:200px; border:6px solid #e0e0e0; background:#fff; color:#000; padding:5px 8px; line-height:28px; }
#suggest { position: absolute; z-index:99999; margin-top:-240px; margin-left:-120px; *margin-left:-340px;
}
#suggest .navdiv, #pop_up .navdiv { width:95%; height:auto; float:left; line-height:18px; margin:4px; }
#suggest .navbox, #pop_up .navbox { min-height:80px; _height:80px; padding:4px; *margin-left:10px;
}
#suggest .navbox2, #pop_up .navbox2 { width:220px; line-height:24px; }
#pop_up { width:380px; position: absolute; z-index:99999; min-height:100px; _height:100px; }
#pop_up .navbox0 { width:100px; height:18px; line-height:18px; }
#pop_up .navbox { width:355px; line-height:20px; }
#pop_up .navbox3 { width:280px; line-height:24px; }
#NetworkOperator_footer #suggest, #NetworkOperator_footer #pop_up { width:330px; min-height:200px; _height:200px; border:6px solid #e0e0e0; background:#fff; color:#000; padding:5px 8px; line-height:28px; }
#NetworkOperator_footer #suggest { position: absolute; z-index:99999; margin-top:-240px; margin-left:-120px; *margin-left:-340px;
}
#NetworkOperator_footer #suggest .navdiv, #NetworkOperator_footer #pop_up .navdiv { width:95%; height:auto; float:left; line-height:18px; margin:4px; }
#NetworkOperator_footer #suggest .navbox, #NetworkOperator_footer #pop_up .navbox { min-height:80px; _height:80px; padding:4px; *margin-left:10px;
}
#NetworkOperator_footer #suggest .navbox2, #NetworkOperator_footer #pop_up .navbox2 { width:220px; line-height:24px; }
#correction { width:330px; min-height:200px; _height:200px; border:6px solid #e0e0e0; background:#fff; color:#000; padding:5px 8px; line-height:28px; }
/*#correction{ position: absolute; z-index:99999; margin-top:40px; *margin-top:-140px; margin-left:600px; *margin-left:-400px; }*/
#correction .navdiv { width:95%; height:auto; float:left; line-height:18px; margin:4px; text-align: left; }
#correction .navbox { min-height:80px; _height:80px; padding:4px; *margin-left:10px;
}
#correction .navbox2 { width:220px; line-height:24px; }
#pm { width:400px; min-height:200px; _height:200px; border:6px solid #e0e0e0; background:#fff; color:#000; padding:5px 8px; line-height:28px; }
/*#correction{ position: absolute; z-index:99999; margin-top:40px; *margin-top:-140px; margin-left:600px; *margin-left:-400px; }*/
#pm .navdiv { width:95%; height:auto; float:left; line-height:18px; margin:4px; text-align: left; }
#pm .navbox { min-height:80px; _height:80px; padding:4px; *margin-left:10px;
}
#pm .navbox2 { width:220px; line-height:24px; }
#game_duanpin { width:330px; min-height:200px; _height:200px; border:6px solid #e0e0e0; background:#fff; color:#000; padding:5px 8px; line-height:28px; }
/*#correction{ position: absolute; z-index:99999; margin-top:40px; *margin-top:-140px; margin-left:600px; *margin-left:-400px; }text-align: left;*/
#game_duanpin .navdiv { width:95%; height:auto; float:left; line-height:18px; margin:4px; text-indent:0px; }
#game_duanpin .navbox { min-height:80px; _height:80px; padding:4px; *margin-left:10px;
}
#game_duanpin .navbox2 { width:220px; line-height:24px; }
.game_duanpin { width:330px; min-height:200px; _height:200px; border:6px solid #e0e0e0; background:#fff; color:#000; padding:5px 8px; line-height:28px; }
.game_duanpin { position: absolute; z-index:99999; margin-top:10px; *margin-top:25px;
margin-left:-200px; *margin-left:-260px;
}
.game_duanpin .navdiv { width:95%; height:auto; float:left; line-height:18px; margin:4px; }
.game_duanpin .navbox { min-height:80px; _height:80px; padding:4px; *margin-left:10px;
}
.game_duanpin .navbox2 { width:220px; line-height:24px; }
.game_popup { width:330px; min-height:200px; _height:200px; border:6px solid #e0e0e0; background:#fff; color:#000; padding:5px 8px; line-height:28px; }
.game_popup { position: absolute; z-index:99999; margin-top:0px; *margin-top:20px;
margin-left:50px; *margin-left:-360px;
}
.game_popup .navdiv { width:95%; height:auto; float:left; line-height:18px; margin:4px; }
.game_popup .navbox { min-height:80px; _height:80px; padding:4px; *margin-left:10px;
}
.game_popup .navbox2 { width:220px; line-height:24px; }
.text_span { font-weight:normal; }
.iputbox { width:100px; height:18px; line-height:18px; float:left; margin-top:6px; }
body .input1_01 { width:77px; height:59px; background:url(../images/hd_bot1.jpg) no-repeat; border:none; float:left; margin-top:2px; }
.input1_02 { width:151px; height:59px; background:url(../images/kfzp_zc.jpg) no-repeat; border:none; margin-top:18px; }
.input1_03, .input1_04 { width:86px; height:25px; background:url(../images/inputs_03.jpg) no-repeat; border:none; margin-top:10px; }
.input1_03_1 { width:86px; height:25px; border:none; margin-top:10px; margin-right:5px; }
.input1_04 { background:url(../images/inputs_04.jpg) no-repeat; }
.input1_05 { width:81px; height:20px; background:url(../images/button_bg.gif) no-repeat; border:none; }
.input1_05_1 { width:81px; height:20px; background:url(../images/button_bg1.gif) no-repeat; border:none; }
.input1_06 { width:129px; height:25px; background:url(../images/button_bg2.gif) no-repeat; border:none; text-align: left; text-indent: 10px; }
.input1_07 { width:129px; height:25px; background:url(../images/button_bg3.gif) no-repeat; border:none; text-align: left; text-indent: 10px; }
.kaifxx { width:88px; height:50px; background: url(../images/kfxx_03.jpg) no-repeat; margin:10px 2px 0; }
.kaifxx h1 { width:100%; float:left; line-height:23px; text-align:center; font-family:"Verdana"; }
.fwinmask { -moz-user-select:none; filter:alpha(opacity=100); border:1px solid #F90; background: #FC3; color: red; position: absolute; left : 50%; font-weight:bold; width:150px; height: 25px; line-height: 25px; text-align: center; z-index: 999999; }
.hoticon { width:27px; height:22px; position:absolute; z-index:99; margin-left:10px; *margin-left:-39px;
margin-top:-80px; _z-index:0; }
#advanced { margin-bottom: 30px; overflow: visible; position: relative; }
#advanced div { background: url("../images/bg_tit_home.gif") no-repeat scroll -10px -32px #E6E6E6; border-color: #FFFFFF #E6E6E6 #E6E6E6; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; border-style: solid; border-width: 1px; height: 20px; line-height: 20px; padding-right: 19px; position: absolute; right: 460px; text-align: right; width: 60px; }
#advanced div b { background: url("../images/bg_hotsale.gif") no-repeat scroll -65px -632px transparent; display: block; height: 8px; overflow: hidden; position: absolute; right: 10px; top: 6px; width: 7px; }
#advanced div b.up { background: url("../images/bg_hotsale.gif") no-repeat scroll -65px -640px transparent; display: block; height: 8px; overflow: hidden; position: absolute; right: 10px; top: 6px; width: 7px; }
.stop { position:absolute; top:380px; left:650px; z-index:9999; }
.stop1 { position:absolute; top:310px; left:600px; z-index:9999; }
/*comment_list*/
.back { width:100%; margin:5px auto; line-height:30px; }
.back_1 { margin-right:3px; }
.comment { width:100%; margin:0 auto; height:auto; position:relative; overflow:hidden;}
.comment li { background-color:#f5f5f5; border:solid 1px #ececec; padding:10px; line-height:24px; margin-top:5px; overflow:hidden; text-align:left; word-wrap: break-word; word-break: normal; }
.comment_bt { background: url(../images/re_back.gif); width:54px; height:21px; display:block; overflow:hidden; margin-top:5px; border:none; padding-left:5px; text-align:left; _padding-top:2px; margin-top:-2px; }
.revert { background-color:#FFFFFF; padding:10px; width:97%; margin-top:5px; border:solid 1px #ececec; margin-bottom:10px;}
.revert_wind { margin-top:5px; }
.photo_tip { background-color:#fae608; height:26px; width:120px; position:absolute; top:104px; left:10px; line-height:26px; text-align:center; }
.text02box_1 { border: 1px solid #cecece; height:80px; padding:10px; width:97%; height:45px; overflow:hidden; font-size:12px; }
.ptsport .gamephoto, .gameinformation { width:120px; border:1px solid #e3e3e3; padding:10px; height:auto; float:left; padding-bottom:0px; }
.comment_bton { background: url("../images/re_back1.jpg") repeat scroll 0 0 transparent; border: medium none; display: block; height: 21px; margin-top: -2px; overflow: hidden; padding-left: 5px; text-align: left; width: 54px; }

/****************************************************************************/
.fmt{ _position:absolute;
	  /*_top:expression((documentElement.scrollTop+500)+"px");z-index:1000;*/
	  _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-(this.offsetHeight+10)-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}
.fmt_nav{ width:35px; float:right; clear:both; background-position:0 0; margin-bottom:10px; overflow:hidden;}
.fmt_nav a{ display:block; text-indent:-999999em; margin-bottom:1px; overflow:hidden;}
.fmt_nav_a1,.fmt_nav_a2,.fmt_nav_a3,.fmt_nav_a1:hover,.fmt_nav_a2:hover,.fmt_nav_a3:hover,.play_fmt{background-image:url(../images/fmtbg.gif); background-repeat:no-repeat;}
.fmt_nav_a1{ height:60px; background-position:0 0;}
.fmt_nav_a2{ height:35px; background-position:0 -61px;}
.fmt_nav_a3{ height:35px;background-position:0 -97px;}

.fmt_nav_a1:hover{ background-position:-52px 0;}
.fmt_nav_a2:hover{ background-position:-52px -61px;}
.fmt_nav_a3:hover{ background-position:-52px -97px;}

.play_fmt{ clear:both; width:314px; height:233px; background-position:0 -147px;}
.play_fmt_tit{ height:18px; text-align:right; padding:1px 15px 0 0; line-height:18px;}
.play_fmt_tit a,.play_fmt_tit a:hover{ color:#fff; text-decoration:none;}
.play_fmt_m{ padding:2px;}

.hott h2 { margin: 5px 0; }
.dede_pages{
}
.dede_pages ul{
  float:left;
  padding:12px 0px 12px 16px;
}
.dede_pages ul li{
  float:left;
  font-family:Tahoma;
  line-height:17px;
  margin-right:6px;
  border:1px solid #E9E9E9;
}
.dede_pages ul li a{
  float:left;
  padding:2px 4px 2px;
  color:#555;
  display:block;
}
.dede_pages ul li a:hover{
  color:#690;
  text-decoration:none;
  padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
  background-color:#F8F8F8;
  padding:2px 4px 2px;
  font-weight:bold;
}
.dede_pages .pageinfo{
  line-height:21px;
  padding:12px 10px 12px 16px;
  color:#999;
}
.dede_pages .pageinfo strong{
  color:#555;
  font-weight:normal;
  margin:0px 2px;
}