#newsSlider .container {
	MARGIN: 5px 0px; OVERFLOW: hidden; WIDTH: 300px; POSITION: relative; HEIGHT: 210px;
}
#newsSlider DIV.slides {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
#newsSlider UL.slides {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 0px
}
#newsSlider UL.slides DL {
	MARGIN-TOP: 1px
}
#newsSlider UL.slides DT A {
	FONT: bold 14px/30px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; COLOR: #2a609f
}
#newsSlider UL.slides DD {
	LINE-HEIGHT: 22px
}
#newsSlider UL.slides DD .more {
	BACKGROUND: url(../images/more.gif); FLOAT: right; OVERFLOW: hidden; WIDTH: 14px; TEXT-INDENT: -100em; HEIGHT: 12px
}
#newsSlider DIV.slides DIV {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 300px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
#newsSlider UL.slides LI {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 300px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
#newsSlider #loopedSlider {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 300px; POSITION: relative
}
#newsSlider {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 300px; POSITION: relative
}
#newsSlider UL.pagination_slider {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 160px;right:10px;
}
#newsSlider UL.pagination_slider LI {
	FLOAT: left; MARGIN-RIGHT: 5px
}
#newsSlider UL.pagination_slider LI A {
	DISPLAY: block; BACKGROUND: url(../images/imgnews_side_Number.gif) no-repeat 0px 0px; FONT: bold 12px/15px "Times New Roman", Times, serif; WIDTH: 15px; COLOR: #fff; TEXT-ALIGN: center;
	text-decoration:none;
}
#newsSlider UL.pagination_slider LI.active A {
	BACKGROUND-POSITION: 0px 100%; COLOR: #fff; TEXT-DECORATION: none
}
#newsSlider UL.pagination_slider LI A:hover {
	BACKGROUND-POSITION: 0px 100%; COLOR: #fff; TEXT-DECORATION: none
}
.title_bar{ overflow:hidden; padding:10px; width:630px; height:auto; margin-bottom:10px;}
.title_bar ul{ width:100%; display:block; overflow:hidden;}
.title_bar li{ float:left; margin-right:5px; line-height:30px; height:30px; display: block; width:auto; overflow:hidden;}
.org_bg a{ background:#f38315; color:#fff; padding:2px 5px;}
.org_bg a:hover{ background:#f38315; color:#b85200; padding:2px 5px;}
.gameinputs2222 {background: url(../images/btn_enter.gif); border: medium none; height: 20px;line-height:20px; margin-right: 5px; text-align: center; width:56px; color:#0058c5;font-size: 12px;cursor:pointer;}
.gameinputs2222:hover {background: url(../images/btn_enter_hover.gif); border: medium none;height: 20px;line-height:20px; margin-right: 5px; text-align: center; width:56px; color:#fe7a28;}
.shuns li{ float:left; margin-right:10px; line-height:24px; margin-top:-10px; display:block; overflow:hidden;}