<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={dede:global.cfg_soft_lang/}" />
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
{dede:include filename="styles.htm"/}
<link href="{dede:global.cfg_templets_skin/}/style/inner_5.css?v=20120831" rel="stylesheet" type="text/css" />
{dede:include filename="scripts.htm"/}
<script language="javascript" type="text/javascript" src="{dede:global.cfg_cmsurl/}/include/dedeajax2.js"></script>
<script language="javascript" type="text/javascript">
<!--
function CheckLogin(){
    var taget_obj = document.getElementById('_ajax_feedback');
    myajax = new DedeAjax(taget_obj,false,false,'','','');
    myajax.SendGet2("{dede:global.cfg_cmsurl/}/member/ajax_feedback.php");
    DedeXHTTP = null;
}
function postBadGood(ftype,fid)
{
  var taget_obj = document.getElementById(ftype+fid);
  var saveid = GetCookie('badgoodid');
  if(saveid != null)
  {
    var saveids = saveid.split(',');
    var hasid = false;
    saveid = '';
    j = 1;
    for(i=saveids.length-1;i>=0;i--)
    {
      if(saveids[i]==fid && hasid) continue;
      else {
        if(saveids[i]==fid && !hasid) hasid = true;
        saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
        j++;
        if(j==10 && hasid) break;
        if(j==9 && !hasid) break;
      }
    }
    if(hasid) { alert('您刚才已表决过了喔！'); return false;}
    else saveid += ','+fid;
    SetCookie('badgoodid',saveid,1);
  }
  else
  {
    SetCookie('badgoodid',fid,1);
  }
  myajax = new DedeAjax(taget_obj,false,false,'','','');
  myajax.SendGet2("{dede:field name='phpurl'/}/feedback.php?aid="+fid+"&action="+ftype+"&fid="+fid);
}
function postDigg(ftype,aid)
{
  var taget_obj = document.getElementById('newdigg');
  var saveid = GetCookie('diggid');
  if(saveid != null)
  {
    var saveids = saveid.split(',');
    var hasid = false;
    saveid = '';
    j = 1;
    for(i=saveids.length-1;i>=0;i--)
    {
      if(saveids[i]==aid && hasid) continue;
      else {
        if(saveids[i]==aid && !hasid) hasid = true;
        saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
        j++;
        if(j==20 && hasid) break;
        if(j==19 && !hasid) break;
      }
    }
    if(hasid) { alert("您已经顶过该帖，请不要重复顶帖 ！"); return; }
    else saveid += ','+aid;
    SetCookie('diggid',saveid,1);
  }
  else
  {
    SetCookie('diggid',aid,1);
  }
  myajax = new DedeAjax(taget_obj,false,false,'','','');
  var url = "{dede:global.cfg_phpurl/}/digg_ajax.php?action="+ftype+"&id="+aid;
  myajax.SendGet2(url);
}
function getDigg(aid)
{
  var taget_obj = document.getElementById('newdigg');
  myajax = new DedeAjax(taget_obj,false,false,'','','');
  myajax.SendGet2("{dede:global.cfg_phpurl/}/digg_ajax.php?id="+aid);
  DedeXHTTP = null;
}
-->
</script>
</head>
<body class="articleview">
{dede:include filename="head.htm"/}
<div id="content">
  <div id="pathway"><strong>当前位置:</strong> {dede:field name='position'/}</div>
  <div class="fl newsinfo_topline boder_base newsinfo_left">
        <h6 class=" lh40">{dede:field.title/}</h6>
    <div class=" lh24 gray">本文&nbsp;{dede:field.pubdate function="MyDate('Y-m-d',@me)"/}&nbsp;发布
            &nbsp;来源：{dede:field.source/}&nbsp;
                        &nbsp;&nbsp;
            浏览人次（<script src="{dede:field name='phpurl'/}/count.php?view=yes&aid={dede:field name='id'/}&mid={dede:field name='mid'/}" type='text/javascript' language="javascript"></script>人）</div>
                <div class="newsinfo_line"></div>
    <div class="newsinfo_artical p14 lh24">
      {dede:field.body/}
      <div class="dede_pages">
       <ul class="pagelist">
        {dede:pagebreak/}
       </ul>
      </div>
    </div>
    <div class="news_push">
        <ul class="lh40">
          <li class="fl news_width">{dede:prenext get='pre'/}</li>
          <li class="fl news_width">{dede:prenext get='next'/}</li>
        </ul>
    </div>
    
    <div class="player_comment">
      {dede:include file='ajaxfeedback.htm' /}
    </div>
  </div>
  <div class="fr newsinfo_right">

  <div class="fl boder_base r_box  padding_10 Ranking">
      <h2 class="p14 black strong lh30 nomal_h2back ">新闻点击榜</h2>
      <div class="more">{dede:type typeid='12'}<a href='[field:typelink/]' target="_blank" class="blue">更多&gt;&gt;</a>{/dede:type}</div>
    <ul class="lh24 fl">
    {dede:arclist typeid='12' row=10 orderby=click titlelen="55"}
    <li>
        <span class="">[field:global name=autoindex/]</span>
        <a target="_blank" title="[field:title/]" href="[field:arcurl/]">[field:title/]</a>
    </li>
    {/dede:arclist}
    </ul>
  </div>
</div>
</div>

{dede:include filename="footer.htm"/}
</body>
</html>
