<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset={dede:global.cfg_soft_lang/}" />
	<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
	<meta name="keywords" content="{dede:field name='keywords'/}" />
	<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
	{dede:include filename="styles.htm"/}
	{dede:include filename="scripts.htm"/}
	<script language="javascript" type="text/javascript" src="{dede:global.cfg_templets_skin/}/picker/WdatePicker.js"></script>
    </head>
    <body>
	{dede:include filename="head.htm"/}
	<div id="content">
	    <div id="pathway"><strong>当前位置:</strong> {dede:field name='position'/}</div>
	    <div id="leftlist">
		<ul class="listh1">
		    <li class="list_li3">时间</li>
		    <li class="list_li1" style="width:120px">游戏名称</li>
		    <li class="list_li3" style="width:140px;">测试状态</li>
		    <li class="list_li3" style="width: 90px;">游戏类型</li>
		    <li class="list_li3" style="width: 100px;">运营平台</li>
		    <li class="list_li3" style="width: 100px;">操作</li>
		    <li class="list_li3" style="width: 50px;"></li>
		</ul>
		<!--
		{dede:list typeid='8' pagesize='40' addfields='game_name,game_tag,oper_short_name,dev_short_name,test_date,test_status,register_url' _where='~~get-game_id-gameid~~|~~get-test_date-from~~' orderby='test_date' orderway='desc' channelid='18'}
		<ul>
		</ul>
		{/dede:list}
		-->
    {dede:php}
    global $dsql;
    $date = $_GET['from'];
    $date = !empty($date) ? $date : 'today';

    $time = strtotime($date);
    $begin_date = mktime(0, 0, 0, date("m", $time), date("d", $time), date("Y", $time));
    $end_date   = mktime(0, 0, 0, date("m", $time), date("d", $time) + 1, date("Y", $time));

    $game_id = $_GET["gameid"];
    
    $sql = "SELECT arc.*, tp.typedir,tp.typename,tp.corank,tp.isdefault,tp.defaultname,tp.namerule, tp.namerule2,tp.ispart,tp.moresite,tp.siteurl,tp.sitepath, addf.game_name, addf.game_tag, addf.oper_short_name, addf.dev_short_name, addf.test_date, addf.test_status, addf.register_url FROM `#@__archives` AS arc LEFT JOIN `#@__arctype` AS tp on arc.typeid=tp.id LEFT JOIN `#@__addonkaice` as addf ON addf.aid = arc.id";

    $wheres = array();
    $wheres[] = "addf.test_date >= $begin_date AND addf.test_date < {$end_date}";

    if (!empty($gameid)) {
	$wheres[] = 'addf.game_id = $gameid';
    }

    if (count($wheres)) {
	$sql .= " WHERE ".join(' AND ', $wheres);
    }

    $sql .= " order by test_date asc LIMIT 0, 100";

    $dsql->SetQuery($sql);
    $dsql->Execute('z5');
    $count = 0;
    while ($data = $dsql->GetArray('z5')) {
	$count++;
	echo '<ul class="">';
	echo '<li class="list_li3 red">今日</li>';
	echo '<li class="list_li1" style="width:120px">'.$data['game_name'].'</li>';
	echo '<li class="list_li3" style="width:140px;">'.$data['test_status'].'</li>';
	echo '<li class="list_li3" style="width: 90px;">'.$data['game_tag'].'</li>';
	echo '<li class="list_li3" style="width: 100px;">'.$data['oper_short_name'].'</li>';
	echo '<li class="list_li3" style="width: 100px;"></li>';
	echo '<li class="list_li3" style="width:50px;"></li>';
	echo '</ul>';
    }

    if ($date == 'today' && $count < 100) {
    $sql = "SELECT arc.*, tp.typedir,tp.typename,tp.corank,tp.isdefault,tp.defaultname,tp.namerule, tp.namerule2,tp.ispart,tp.moresite,tp.siteurl,tp.sitepath, addf.game_name, addf.game_tag, addf.oper_short_name, addf.dev_short_name, addf.test_date, addf.test_status, addf.register_url FROM `#@__archives` AS arc LEFT JOIN `#@__arctype` AS tp on arc.typeid=tp.id LEFT JOIN `#@__addonkaice` as addf ON addf.aid = arc.id";

    $wheres = array();
    $wheres[] = " addf.test_date < $begin_date OR addf.test_date > $end_date ";

    if (!empty($gameid)) {
	$wheres[] = 'addf.game_id = $gameid';
    }

    if (count($wheres)) {
	$sql .= " WHERE ".join(' AND ', $wheres);
    }

    $sql .= " order by test_date desc ";
    
    $sql .= " LIMIT 0, ".(100-$count);

    $dsql->SetQuery($sql);
    $dsql->Execute('z5');
    while ($data = $dsql->GetArray('z5')) {
        echo '<ul class="">';
        echo '<li class="list_li3">'.date('Y-m-d', $data['test_date']).'</li>';
        echo '<li class="list_li1" style="width:120px">'.$data['game_name'].'</li>';
        echo '<li class="list_li3" style="width:140px;">'.$data['test_status'].'</li>';
        echo '<li class="list_li3" style="width: 90px;">'.$data['game_tag'].'</li>';
        echo '<li class="list_li3" style="width: 100px;">'.$data['oper_short_name'].'</li>';
        echo '<li class="list_li3" style="width: 100px;"></li>';
        echo '<li class="list_li3" style="width:50px;"></li>';
        echo '</ul>';
    }
    }

    {/dede:php}

	    </div>
	    <div id="rightlist">
		<div class="list">
		    <div class="list_top strong p14">优秀新游戏推荐</div>
		    {dede:arclist typeid='10' flag='f' row='6' addfields='game_name,game_thumb,game_tag,game_theme,game_effect,game_status' channelid='20'}
		    <ul class="list_div">
			<li class="list_img"><a href="[field:arcurl /]" target="_blank"><img width="100" height="100" alt="九天仙梦" src="[field:game_thumb /]" /></a></li>
			<li class="list_li01"><a href="[field:arcurl /]" target="_blank">[field:game_name /]</a></li>
			<li class="list_li02">题材类型：[field:game_theme /]</li>
			<li class="list_li02">游戏类别：[field:game_tag /]</li>
			<li class="list_li02">收费模式：[field:game_status /]</li>
			<li class="list_li02">画面风格：<strong>[field:game_effect /]</strong></li>
		    </ul>
		    {/dede:arclist}
		</div>
		<div style=" clear:both"></div>
	    </div>
	    <div class="dede_pages" style=" clear:both"><ul>{dede:pagelist listitem="info,index,end,pre,next,pageno" listsize="3"/}</ul></div>
	</div>
	{dede:include filename="footer.htm"/}
    </body>
</html>
