<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/js/json2.js?v=20120831"></script>        
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/js/jquery.js?v=20120831"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/js/jquery.popup.js?v=20120831"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/js/common.js?v=20120831"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/js/loopedslider.min.js?v=20120831"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/js/swfobject_2_2.min.js?v=20120831"></script>