@charset "utf-8";
/* user center styles
  this style is public styles's codes,
  2011-08-08 at liuchun */

div.focustopback { background:url(../images/back23u1.gif) 0 -408px repeat-x; width:100%; line-height:29px;height:29px; overflow: hidden; }
#content #gamelist, #content #kflist, #content .gamelist, #content .gamelist_new, #content .yypt, #content .search, #content .searchset, #content .frdlink, #content .bbs, #gift, .Serverinformation { width:998px; height:auto; display:inline-block; }
#content .bbs { padding-top:0; }
#content .bbs .inputsty4 { width:482px; height:70px; margin:10px 0; padding:3px }
#content .bbs .bbs_div { width:980px; float:left; height:auto; margin-top:0; padding:10px; padding-top:0; }
#content .bbs .bbs_div div ul { width:970px; padding:5px 0; float:left; overflow:hidden }
#content .bbs .bbs_div div.pldiv, #content .bbs .bbs_div div.prdiv { width:490px; height:auto; float:left; line-height:24px; }
#content .bbs .bbs_div div.prdiv { width:475px; float:right; line-height:20px; padding-top:8px; }
#content .bbs .bbs_div div li.bbs_li1, #content .bbs .bbs_div div li.bbs_li2, #content .bbs .bbs_div div li.bbs_li3 { float:left; width:68px; height:68px; margin-right:10px; line-height:24px }
#content .bbs .bbs_div div li label { float:left; font-weight:bold }
#content .bbs .bbs_div div li.bbs_li2 { width:882px; float:right; height:auto; }
#content .bbs .bbs_div div li span.bbstime { float:right; color:#CCC }
#content .bbs .bbs_div h1 { width:100%; height:24px; line-height:24px; float:left }
#content .bbs .bbs_div h1.h1back { background:url(../images/back23u.gif) 0 -1370px repeat-x; height:32px; margin-bottom:10px; }
#content .frdlink { margin-top:0px; padding-top:0px }
#content .frdlink ul { width:980px; padding:10px; float:left }
#content .frdlink ul li.liimg { width:108px; height:46px; text-align:center; float:left; }
#content .frdlink ul li.liimg a img { margin-top:10px; }
#content .frdlink li.textlink { width:122px; height:30px; line-height:30px; overflow:hidden; float:left; text-indent:10px }
#content .gamelist_new { margin-right:10px; padding-top:5px; border:1px solid #ececec; float:left; width:118px; margin-bottom:10px; *padding-bottom:20px;
}
.gamelist_new .linediv { text-indent:10px; }
#content .gamelist { padding-bottom:10px; padding-top:5px; border:1px solid #ececec; width:996px; }
.gamelist .linediv { text-indent:10px; }
#content .yypt ul { width:1000px; height:auto; float:left; }
#content .search { border-bottom:1px solid #e5e5e5; padding-bottom:10px; padding-top:0; text-indent:10px; margin:0 }
#content .searchset h1 { text-indent:20px; float:left; line-height:36px; }
.ptsport { border:1px solid #e5e5e5; width:996px; float:left; padding-top:0; margin-bottom:0; _margin-left:0; }
#content .ptsportback { width:990px; height:5px; margin-left:5px; background-color:#e5e5e5; overflow:hidden; float:left; _width:990px }
#content .ptsport .leftdiv2 { width:200px; height:auto; float:left; padding:10px }
.inputdownbutton { width:102px; height:36px; border:none; background:url(../images/back23u.gif) -218px -1438px; display: inline-block }
#content .ptsport .leftdiv { width:196px; height:auto; text-align:center; padding:15px; float:left }
#content .ptsport .leftdiv3, #content .ptsport .leftdiv4 { width:356px; height:auto; text-align:left; padding:15px; float:left; padding-bottom:0px; min-height:242px; }
#content .ptsport .leftdiv4 { border-left:1px solid #CCC; width:384px; height:auto; padding:15px 0; padding-bottom:0px; }
#content .ptsport .leftdiv4 .leftdiv4_div { width:162px; height:176px; float:left; padding:0 15px; }
#content .ptsport .leftdiv4 .leftdiv4_pf { width:149px; height:109px; float:left; overflow: hidden; background:url(../images/back23u.gif) -385px -1438px; padding:10px; padding-top:38px; text-align:center; line-height:20px; margin-left:12px; }
#content .ptsport .leftdiv4 .leftdiv4_pf .pf { width:100%; height:56px; font: lighter 50px/56px "Arial"; margin-bottom:10px; }
#content .ptsport .leftdiv4 .leftdiv4_div h1 { line-height:20px; }
#content .ptsport .leftdiv4 .leftdiv4_div p { line-height:22px; }
#content .ptsport .leftdiv4 .leftdiv4_div p a img { margin-top:2px; }
#content .ptsport .leftdiv4 .leftdiv4_d { width:384px; height:auto; overflow:hidden; border-top: 1px solid #CCC; float:left; margin-top:5px; }
#content .ptsport .leftdiv4 .leftdiv4_d .d { border:3px solid #FFF; float:left; width:122px; padding:10px 0; text-align:center; line-height:20px; height:auto; min-height:30px; _height:30px; }
#content .ptsport .leftdiv4 .leftdiv4_d div.downdiv:hover { border-color:#ff8000; border-bottom:3px solid #fff }
.popwindow_div a.selectbutton { width:94px; height:24px; display: inline-block; padding-top:70px; line-height:24px; text-align:center; margin:30px 10px; border:2px solid #fff }
.popwindow_div .dybutton_sty6 { height:26px; line-height:26px; *padding:0 5px;
}
.popwindow_div a.emil { background:url(../images/email.jpg); }
.popwindow_div a.message { background:url(../images/message.jpg); }
.popwindow_div a.selectbutton:hover { border:2px solid #ff6600 }
.popwindow_div p { text-align:left; line-height:24px; text-indent:10px; }
.popwindow_div .popinf { width:288px; height:auto; text-align:center; padding:20px 0; background-color:#FFF; line-height:30px; }
#content .ptsport .leftdiv4 .leftdiv4_d div.downdiv .popdivdown { width:350px; height:232px; border:3px solid #ff8000; border-top:0px; background:url(../images/back23u.gif) -566px -1592px no-repeat; position:absolute; z-index:10; margin-left:-261px; background-color:#FFF; text-align:left; padding:15px; line-height:22px; overflow:hidden; _margin-left:-380px; _margin-top:45px; *margin-left:-379px;
*margin-top:40px;
}
#content .ptsport .leftdiv4 .leftdiv4_d div.downdiv .popdivdown li { width:116px; height:22px; line-height:22px; overflow:hidden; float:left }
#content .ptsport .leftdiv h2 { width:100%; text-align:left; float:left; height:36px; }
#content .ptsport .leftdiv h2 a { line-height:36px; }
#content .ptsport div .hotdiv2 { width:169px; height:30px; margin-left:auto; margin-right:auto; margin-top:15px; line-height:30px; text-align:left; display:inline-block }
#content .ptsport div .header_h1 { margin-top:0px; padding-left:0px; height:26px; line-height:26px; width:100%; overflow:hidden; text-align:left; border:none }
#content .ptsport .leftdiv2 p { width:100%; display:block; text-indent:10px; line-height:40px; text-align:center; float:left }
.leftdiv2 a img { float:left; display:block; padding:0; overflow:hidden }
#content .ptsport .leftdiv3 ul li.pt_l1, #content .ptsport .leftdiv3 ul li.pt_l2, #content .ptsport .leftdiv3 ul li.pt_l3 { width:50%; float:left; line-height:30px; height:auto; min-height:30px; }
#content .ptsport .leftdiv3 ul li.pt_l2 { height:110px; width:350px }
#content .ptsport .leftdiv3 ul li.pt_l3 { width:350px; }
#content .ptsport .leftdiv3 ul li.pt_l2 div { width:350px; height:110px; line-height:22px; float:left; overflow: auto; text-indent:20px; }
#content .ptsport .leftdiv2 .header_h2 { width:270px; overflow:hidden; height:auto; line-height:24px; white-space:nowrap; float:left }
.ptsport .rightdiv { padding:10px; line-height:26px; float:left; _height:100px; height:auto; width:755px; }
.rightdiv h2 { width:300px; height:auto; line-height:36px; float:left }
#content #gamelist_new dl { width:1000px; height:auto; float:left; text-align:center; margin-bottom:10px; overflow:hidden; }
#content #gamelist_new dd { width:100px; height:160px; text-align:center; line-height:20px; margin:0 33px; float:left; display:inline }
#content #gamelist_new dd img { margin-top:10px; margin-bottom:5px; }
#content #gamelist_new ul, #content .gamelist_new ul { width:100%; height:auto; }
#content #gamelist_new ul li, #content .gamelist_new ul li, #content .gamelist_new ul h1, #content .yypt ul li, #content .yypt ul h1, #content .gamelist_new h1, #content .search ul li { width:100%; height:24px; text-indent:10px; display:inline-block; overflow:hidden; white-space:nowrap }
.gamelist_new ul { border-bottom:solid 1px #e9e9e9; }
#content #gamelist dl { width:1000px; height:auto; float:left; text-align:center; margin-bottom:10px; overflow:hidden; }
#content #gamelist dd { width:100px; height:160px; text-align:center; line-height:20px; margin:0 33px; float:left; display:inline }
#content #gamelist dd img { margin-top:10px; margin-bottom:5px; }
#content #gamelist ul, #content .gamelist ul { width:100%; height:auto; float:left; }
#content #gamelist ul li, #content .gamelist ul li, #content .gamelist ul h1, #content .gamelist h1 { width:auto; height:22px; line-height: 22px; float:left; text-indent:10px; display:inline-block; overflow:hidden; white-space:nowrap }
#content .gamelist ul li {height: 30px;}
#content #gamelist ul a, #content .gamelist ul a { line-height:30px; }
#content #gamelist ul span, #content .gamelist ul span { line-height:30px;}
.abc li { float:left; line-height:24px; margin-right:10px; }
.abc { overflow: hidden; width:100%; }
#content #gamelist_new ul a, #content .gamelist_new ul a { line-height:30px; }
.todayicon, .tomicon { width:25px; height:15px; background:url(../images/back23u.gif) -48px -681px; display: block; position: absolute; z-index:9999; margin-left:100px; margin-top:-30px; *margin-top:-10px;
*margin-left:0;
_margin-top:-10px; _margin-left:0; }
.tomicon { background:url(../images/back23u.gif) -74px -681px; }
#content .gamelist_new h1, #content .search ul, #content .searchset h1 { width:1000px; }
/*#content .gamelist ul h1{ width:116px;}*/
#day_gamelist li.list003 .lq_bt{color: #fff; background: url("../images/icobg_1.0.png") repeat scroll 0 -362px transparent; display: block; height: 16px; line-height: 17px; margin-left:8px; margin-top: 6px; overflow: hidden; text-align: center; text-indent: 0; width: 16px;}
#day_gamelist li.list003 .tao_bt{color: #fff; background: url("../images/icobg_1.0.png") repeat scroll -127px -362px transparent;  display: block; height: 16px; line-height: 17px; margin-left:8px; margin-top: 6px; overflow: hidden; text-align: center; text-indent: 0; width: 16px;}
#day_gamelist li.list003 .nogift{color: #fff; background: url("../images/icobg_1.0.png") repeat scroll -79px -362px transparent; display: block; height: 16px; line-height: 17px; margin-left:8px; margin-top: 6px; overflow: hidden; text-align: center; text-indent: 0; width: 16px; padding:0;}
#kaifulist {
	list-style: none;
}

#kaifulist li{
	display: block;
	float: left;
	padding-left: 15px;
	cursor: pointer;
}

#content .yypt { padding-bottom:15px; }
#content .yypt ul h1 { width:100px }
#content .yypt ul li { width:150px; }
#content .gamelist_new ul h1 a, #content .yypt ul h1 a { line-height:30px }
#content #kflist { padding-top:0px; }
#kflist .div_top, #kflist .div_top2 { width:998px; height:35px; float:left; background:url(../images/back23u1.gif) 0 -408px repeat-x; border-top:1px solid #e5e5e5; border-bottom:3px solid #ff7c37; }
#kflist .listmenu { width:100%; background:url(../images/line3.gif) repeat-x; float:left; margin-bottom:10px }
#kflist .listmenu h1 { line-height:25px; color:#F60; text-indent:10px; margin-right:20px; }
#kflist .listmenu span.changebutton_on, #kflist .listmenu span.changebutton_up { width:124px; text-align:center; float:left; background:url(../images/gamelist_14.gif); line-height:25px; height:25px; margin:0 5px; cursor:pointer }
#kflist .listmenu span.changebutton_up { background:url(../images/gamelist_16.gif); }
#kflist .time { height:24px; line-height:24px; width: 100%; float:left; padding: 0px 0px 10px 0px; }
#kflist .time dl { float: left; }
#kflist .time dt { width: auto; background: #FEF5E7; float: left; text-align:center; width: 47px; border: 1px solid #cccccc; border-left: none; }
#kflist .time dt a { display: block; color:#f40; }
#kflist .time dd { float: left; border: 1px solid #cccccc; border-left: none; text-align:center; width: 107px; }
#kflist .time dd a { display: block; }
#kflist .time dd a:hover { background:#FFFFCC; }
#kflist .time .bg { background:#FFFFCC; }
#kflist ul { height:auto; width:100%; float:left; border-bottom:1px solid #e3e3e3; border-right: 1px solid #E3E3E3;}
#kflist ul li.li_1, #kflist ul li.li_2, #kflist ul li.li_3, #kflist ul li.li_4, #kflist ul li.li_5, #kflist ul li.li_6, #kflist ul li.li_7, #kflist ul li.li_8, #kflist ul li.li_9 { height:35px; width:165px; float:left; overflow: hidden; line-height:35px; text-align:left; text-indent:10px; border-left: 1px solid #E3E3E3;}
#kflist ul:hover { background-color:#e3edff }
#popdiv { width:95px; height:85px; background:url(../images/back23u.gif) -3px -115px; overflow:hidden; z-index:9999; position: absolute; margin-left:90px; margin-top:-30px; padding-left:46px; padding-top:4px; text-indent:0px; _margin:0px; left: 1183px; }
#kflist .div_top2 { background: none; border-bottom:none; border-left:none; border-right:none; line-height:35px; padding:0 }
#kflist .div_top2 div { float:left }
#kflist .div_top2 a { padding: 3px; }
#kflist .dybutton_sty9 { margin-top:4px; margin-right:0; vertical-align:middle; padding:3px 0; text-indent:5px; line-height:20px; }
#popdiv a { line-height:24px; }
#kflist h1, #gamelist h1, #gamelist ul h2, #gift h1 { line-height:40px; float:left; text-indent:10px; }
#gamelist h1, #timelist h1 { width:700px; line-height:30px; background:url(../images/back23u.gif) -711px -620px no-repeat; padding-left:15px; }
#timelist2 { width:998px; height:auto; border:1px solid #eee; border-bottom: none; overflow: hidden; margin-top:10px; margin-bottom:10px; }
#timelist2 div.leftbox, #timelist2 div.righttimebox { width:106px; float:left; overflow:hidden; height:122px; border:1px solid #eee; border-top:0; border-left:0; text-align:center }
#timelist2 div.righttimebox, #timelist2 div.r_boxstyle2 { width:80px; height:32px; line-height:18px; padding-top:3px; padding-bottom:5px }
#timelist2 div.r_boxstyle2 { line-height:32px; }
#timelist2 div.leftbox h2 { width:100%; text-align:center; background:url(../images/gamelist_03.gif); }
#timelist2 div.leftbox div { height:70px; width:auto; float:left; line-height:70px; width:18px; }
#timelist2 div.leftbox div img { margin-top:30px; }
#gamelist ul h2 { width:100%; line-height:30px; }
#gamelist .morediv { line-height:30px; }
#gift h1 { line-height:30px }
#gift h2 { line-height:30px }
#gift ul li p { text-align: left; line-height:24px; margin-top: 5px;}
#kflist .kfxx, .morediv { line-height:40px; float:left; padding-left:20px; padding-right:20px }
.morediv { float:right; padding-right:0px; line-height:36px; width:auto }
#kflist ul li.li_2 { width:170px; overflow: hidden; }
.yegame, .dgame, .mbgame { width:32px; height:15px; background:url(../images/back23u.gif) -151px -682px; z-index:9999; position:relative; text-indent:-9999px; margin-left:70px; margin-top:-28px; overflow:hidden; }
.dgame { background:url(../images/back23u.gif) -215px -682px; }
.mbgame { background:url(../images/back23u.gif) -183px -682px; }
#kflist ul li a.title { line-height:35px; }
#kflist ul li.li_3 { width:120px; overflow: hidden; }
#kflist ul li.li_4 { width:145px; overflow: hidden; }
#kflist ul li.li_5 { width:70px; overflow: hidden; }
#kflist .hot ul{ background:#fffbe0; border-bottom:solid 1px #eecfbd; border-right:solid 1px #eecfbd;}
#kflist .hot ul li{border-left:solid 1px #eecfbd;}
#kflist .hot ul li a{ color:#ee0000;}
#kflist .hot ul li a:hover{ color:#ff6600;}
#kflist .hot_blue{ background: none repeat scroll 0 0 #EEFBFF; border-bottom: 1px solid #ACD7E4; border-right: 1px solid #ACD7E4;}
#kflist .hot_blue li{border-left:1px solid #ACD7E4;}
#kflist .hot_blue li a{ color:#ee0000;}
#kflist .hot_blue li a:hover{ color:#ff6600;}
#kflist .hot_green{ background: none repeat scroll 0 0 #F0FFF6; border-bottom: 1px solid #B5E0C7; border-right: 1px solid #B5E0C7;}
#kflist .hot_green li{border-left:1px solid #B5E0C7;}
#kflist .hot_green li a{ color:#ee0000;}
#kflist .hot_green li a:hover{ color:#ff6600;}
#kflist ul li.li_6 { width:132px; overflow: hidden; }
#kflist ul li.li_7 { width:130px; overflow: hidden; }
#kflist ul li.li_7 .text_top{ _margin-top:8px; _display:block;}
#kflist ul li.li_7  span{ _margin-top:8px; _display:block;}
#kflist ul li.li_6 span.p14 { height: 35px; line-height: 35px; }
/*display: block;*/
#kflist ul li .hot { margin-top:8px; *margin-top:4px;
_margin-top:10px; }
#kflist ul li .hot2 { _margin-top:13px; }
#kflist ul li span.today_1 { width:38px; height:14px; line-height:17px; color:#ff6600; text-indent:2px; background:url(../images/back23u.gif) -56px -7px; display:inline-block; padding-left:15px; _margin-left:10px; }
.div_top .today_1 { width:43px; height:14px; line-height:17px; color:#ff6600; text-indent:2px; background:url(../images/back23u.gif) -56px -7px; display:inline-block; padding-left:12px; _margin-left:12px; }
.div_top .hot { margin-top:8px; *margin-top:4px;
_margin-top:10px; }
.linediv { width:100%; line-height:36px; overflow:hidden; }
.linediv_back { background:url(../images/back23u1.gif) 0 -670px repeat-x; height:50px; text-align:center }
.linediv_back a.otherday, .linediv_back a.otherday:hover, .linediv_back .totalday { width:115px; height:50px; background:url(../images/back23u.gif) 55px -1103px no-repeat; display:inline-block; text-align:center; margin:0 10px }
.linediv_back a.otherday:hover, .linediv_back .totalday { background:url(../images/back23u.gif) 52px -1150px no-repeat; font-weight:bold; }
.linediv .dybutton_sty6 { width:56px; height:26px; line-height:26px; padding:0; float:left; margin-right: 20px; margin-left:5px; }
.linediv label { float:left }
#timelist h1 { padding-left:25px; margin-top:10px; margin-bottom:10px; }
#gift { margin:0px; float:left; }
#gift ul { width:990px; height:auto; float:left; padding:0 5px; padding-top:15px; }
.boxmodel { width:1000px; height:auto; display:inline-block; margin :10px 0; }
.boxmodel ul { width:1000px; height:auto; float:left; padding:0 5px; padding-top:15px; }
.boxmodel ul li img{ border: 1px solid #CDCDCD; padding: 1px;}
.boxmodel ul li img:hover{border:solid 1px #fe6b00;}
.boxmodel_screen { width:710px; height:auto; display:inline-block; margin :10px 0; }
.boxmodel_screen ul { width:710px; height:auto; float:left; padding:0 5px; padding-top:15px; }
#gift ul li, .boxmodel ul li { width:150px; height:auto; float:left; overflow:hidden; margin:5px; text-align: left; }
#gift .h1yb, #gamelist ul h1, .video h1, .photo h1, .Serverinformation h1, .operator h1 { background-position:-711px -618px; width:auto; text-indent:10px; line-height:36px; float:left }
#link { border:0px; padding-right:12px; width:976px; float:left; overflow:hidden; }
.Serverinformation h2 { line-height:28px; }
.Serverinformation ul { width:996px; height:34px; line-height:34px; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; float:left }
.Serverinformation ul img { _margin-top:13px }
.top_ul { border-top:1px solid #e3e3e3; background-color:#f9f9f9; }
.Sli_1, .Sli_2, .Sli_3, .Sli_4, .Sli_5, .Sli_6, .Sli_7, .Sli_8 { width:268px; height:34px; float:left; line-height:36px; overflow:hidden; text-indent:15px; }
.Sli_2 { width:170px; }
.Sli_3 { width:180px; }
.Sli_4 { width:214px; }
.Sli_5 { width:150px; }
.Sli_6 { width:75px }
.Sli_7 { width:280px; }
.Sli_8 { width:100px; }
.Sli_8 .dybutton_sty10 { margin-top:6px; }
.Sli_3 .p14 { height: 36px; line-height: 36px; }
.ptsport .gamephoto, .gameinformation { width:120px; border:1px solid #e3e3e3; padding:10px; height:auto; float:left; padding-bottom:0px; }
.bar_div { line-height:13px; background: url(../images/loding_01.jpg) no-repeat; width:57px; height:13px; display: inline-block; text-align:center; float:left; margin-top:10px; }
.status { background: url(../images/loding_02.jpg) no-repeat; }
.status_num { height:10px; color:#000; font-size:10px; font-weight: normal; font-family:"Tahoma"; }
.gameintroduce, .gamedownload { width:998px; height:auto; margin-top:5px; overflow:hidden; }
.display_none { display:none; }
.gameintroduce h2, .gamedownload h2 { line-height:26px; }
.gameinformation { width:420px; border:0; line-height:24px; float:left }
.gameinformation .gf_1 { width:205px; float:left; text-indent:10px; }
.gameinformation .gf_1 label { color:#000; }
.gameinformation .gf_2 { width:410px; float:left; text-indent:10px; }
.gameinfoline_height { line-height:24px; }
.grade { width:410px; height:auto; line-height:26px; padding:0; float:right; overflow:hidden; }
.gcent { padding-top:5px; width:148px; float:left; height:60px; text-indent:10px; overflow:hidden; font-weight:normal; line-height:20px; }
.gleft_star { width:230px; float:left; border-right:1px solid #e4e4e4; padding-top:5px; padding-left:10px; height:60px; overflow:hidden; }
.grade_box { width:408px; height:auto; border:1px solid #e4e4e4; float:left; }
.gleft div { width:120px; float:left; padding-bottom:8px; }
.gright { width:165px; border:0px; }
.gright2 { float:right; width:100%; line-height:18px; padding:7px 0; text-align:right; float:left; overflow:hidden; }
.gright2 .dybutton_sty1 { _margin-top:8px; }
.gright span { font: lighter 50px/60px "Arial"; text-align:center }
.photo { width:1000px; height:auto; display:inline-block; margin-top:10px; _margin-top:5px; float:left; }
.photo ul { width:1000px; height:auto; float:left; padding-top:15px; overflow:hidden; }
.video ul li, .photo ul li { width:130px; text-align:center; float:left; margin-left:5px; margin-right:5px; }
.photo_screen { width:710px; height:auto; display:inline-block; margin-top:10px; _margin-top:5px; float:left; }
.photo_screen ul { width:710px; height:auto; float:left; padding-top:15px; overflow:hidden; }
.photo_screen ul li { width:130px; text-align:center; float:left; margin-left:5px; margin-right:5px; overflow:hidden; line-height:18px; text-align:left; }
.screen li { line-height:24px; }
.operator ul li { width:188px; text-align:center; }
.video ul li p a, .photo ul li p a { line-height:36px; }
.operator p { line-height:18px; }
.operator ul li { margin-bottom:10px }
.operator .qdiv { margin:10px 0 }
.operator .dybutton_sty9 { line-height:24px; margin-top:5px; text-indent:5px }
.playbutton { display: block; margin-left:40px; *margin-left:45px;
margin-top:7px; position: absolute; width: 57px; height:56px; z-index: 1; }
.playbutton img { opacity:.65; filter:alpha(opacity=65); }
.pcenter ul li { margin-bottom:30px; }
.vcenter ul li { margin-bottom:10px; }
.newslist_l, .newslist_2, .gift_l { width:718px; float:left; height:auto; min-height:600px; _height:600px; margin-right:20px; }
.newslist_2 { width:260px; margin:0; }
.newslist_2_d { width:258px; margin:0; border:1px solid #e4e4e4; height:auto; float:left; margin-bottom:10px; }
.newslist_2_d h1 { width:auto; line-height:36px; text-indent:10px; float:left }
.newslist_2_d .morediv { padding-right:10px }
.pcenter .photoinfor, .vcenter .videoinfor { width:100%; float:left; line-height:36px; text-indent:20px; }
#link h1, #link div { float:left; width:66px; line-height:22px; }
#link h1 { margin-top:10px }
#link div { width:900px; padding:10px 0 }
.newslist_2_d ul { width:258px; float:left; height:auto; text-align:center; }
.newslist_2_d ul li.recommendgame { width:90px; height:auto; text-align:center; display:inline-block; margin:0 15px; margin-bottom:10px; overflow: hidden; _float:left; _margin:0 13px; _margin-bottom:10px; }
.recommendgame a { line-height:24px }
.gift_l .g_l { width:auto; float:left; padding:15px; height:auto; line-height:26px; text-align:center; padding-right:0 }
.gift_l .g_r { width:560px; float:right; height:auto; line-height:36px; padding-left:10px; border-left:1px solid #e4e4e4 }
.gift_l .g_b { width:100%; margin-top:10px; height:auto; float:left; line-height:24px; }
.qhphoto { width:720px; background:url(../images/qh.gif) no-repeat; height:36px; display:inline-block; margin:10px 0 }
.gift_l .g_r li.g_r_1 { width:50%; float:left; height:auto; line-height:26px; }
.gift_l .g_r li.g_r_2, .gift_l .g_r li.g_r_3 { width:100%; float:left; line-height:26px; }
.gift_l .g_r li.g_r_3 { line-height:20px; }
.newslist_2_d ul.table { border-bottom:1px solid #e4e4e4 }
.newslist_2_d ul li.tb_1, .newslist_2_d ul li.tb_2, .newslist_2_d ul li.tb_3, .newslist_2_d ul li.tb_4, .newslist_2_d ul li.tb_5, .newslist_2_d ul li.tb_6, .newslist_2_d ul li.tb_7, .newslist_2_d ul li.tb_8, .newslist_2_d ul li.tb_9 { width:95px; margin:0; line-height:26px; text-align:left; float:left; text-indent:10px; }
.newslist_2_d ul li.tb_2 { width:68px; }
.newslist_2_d ul li.tb_3 { width:47px; }
.newslist_2_d ul li.tb_4 { width:109px }
.newslist_2_d ul li.tb_5 { width:35px }
.newslist_2_d ul li.tb_6 { width:67px; }
.newslist_2_d ul li.tb_7 { width:96px; overflow: hidden; height: 25px }
.newslist_2_d ul li.tb_8 { width:82px }
.newslist_2_d ul li.tb_9 { width:40px }
.newslist_2_d_infor { width:238px; line-height:24px; float:left; padding:10px; padding-top:0 }
.newslist_l .infor_list, .news_infor { width:100%; _width:700px; height:auto; padding:10px 0; line-height:26px; word-break:break-all; word-wrap:break-word; }
.news_detail { width:720px; overflow:hidden; }
.hdiv { text-align:center; padding:10px 0; border-bottom:1px solid #e4e4e4; line-height:24px; margin-bottom:20px }
.infor_list h2 { line-height:36px; }
.infor_list ul li { border-bottom:1px dashed #e4e4e4; margin-bottom:10px; float: left; width: 100%; }
.infor_list ul li div { line-height:22px; }
.infortitle { line-height:20px; }
.pickNumber { width:528px; height:auto; border:1px solid #ff6600; background-color:#FFC; float:left; margin-top:10px; padding:0 10px; margin-bottom:20px; }
.pickNumber p label { float:left; line-height:36px; }
.pickNumber p .dybutton_sty7, .pickNumber p .dybutton_sty6 { height:26px; vertical-align:middle; margin-top:3px; *padding:0 5px;
line-height:26px; margin-left:5px; margin-bottom:0; _line-height:24px; }
.g_r .dybutton_sty7 { margin-bottom:15px; margin-left:0; }
.pickNumber p .inputbox { width:320px; _width:315px; }
.pickNumber p { width:100%; line-height:28px; }
.loadingback { height:12px; border:1px solid #e4e4e4; background-color:#f5f5f5; width:250px; display: inline-block; vertical-align:middle; _margin-top:5px; _display: block; float: left; margin-top:6px; margin-right:5px; }
.loadingbar { height:12px; background:url(../images/back23u1.gif) 0 -779px repeat-x; width:auto; }
.wrap_view { width:350px; height:auto; margin-left:0px; margin-top:-5px; text-align:center; z-index:999; min-height:114px; _height:114px }
.wrap_view a.selectbutton { width:94px; height:24px; display: inline-block; padding-top:70px; line-height:24px; text-align:center; margin:30px 10px; border:2px solid #fff }
.wrap_view a.emil { background:url(../images/email.jpg) 20px 5px no-repeat; }
.wrap_view a.message { background:url(../images/message.jpg) center 8px no-repeat; }
.wrap_view a.selectbutton:hover { border:2px solid #ff6600 }
.wrap_view p { text-align:left; line-height:24px; text-indent:10px; }
.wrap_view .popinf { width:288px; height:auto; text-align:center; padding:20px 0; background-color:#FFF; line-height:30px; }
/*huangyh 111202*/
#content .tjdiv { width:100%; float:left; height:22px; line-height:28px; overflow:hidden; padding:10px 0; }
#content .h1_top { width:100%; height:32px; float:left; text-align:center; line-height:32px; color:#FFF; background:url(../images/h1_bottom.jpg) bottom repeat-x; }
#content .h1_top a.flh1_on, #content .h1_top a.flh1_up { width:156px; height:32px; line-height:32px; display:block; margin-left:8px; float:left; overflow:hidden; }
#content .h1_top a.flh1_up { background:url(../images/back23u.gif) -156px -271px no-repeat; color:#333; }
#content .h1_top a.flh1_on { background:url(../images/back23u.gif) 0 -271px no-repeat; color:#FFF; }
#content .h1_top a.flh1_up:hover { color:#F00; }
#content .h1_top a.flh1_on:hover { color:#f5ff9c; }
#leftlist { float:left; width:720px; height:auto; margin-bottom:10px; }
#leftlist ul { width:718px; height:auto; float:left; border:1px solid #dfdfdf; border-top:none }
#leftlist ul li.list_li1, #leftlist ul li.list_li2, #leftlist ul li.list_li3, #leftlist ul li.list_li4, #leftlist ul li.list_li5 { height:32px; width:100px; float:left; text-indent:5px; overflow:hidden; line-height:32px; }
#leftlist ul li.list_li2 { width:95px; }
#leftlist ul li.list_li3 { width:102px; }
#leftlist ul li.list_li4 { width:65px; }
#leftlist ul li.list_li5 { width:120px; }
#leftlist ul li.list_li7 a { background: url(../images/indexq_88.gif); display:block; width:56px; height:22px; line-height:22px; margin-top:10px; color:#297fd6 }
#leftlist ul.listh1 { height:32px; border-top:1px solid #E3E3E3; line-height:32px; background:#F9F9F9; float:left; text-indent:10px; }
#leftlist ul:hover { background-color:#e3edff; }
#leftlist ul li.list_li3 span.yellow { background-color: #f2a44f; display: inline-block; height: 15px; line-height: 15px; margin-left: 5px; margin-top: 6px; overflow: hidden; padding: 0 3px; text-align: center; text-indent: 0; width: auto; }
#leftlist ul li.list_li3 span.green { background-color: #66a557; display: inline-block; height: 15px; line-height: 15px; margin-left: 5px; margin-top: 6px; overflow: hidden; padding: 0 3px; text-align: center; text-indent: 0; width: auto; }
#leftlist ul li.list_li3 span.gray { background-color: #a9a9a9; display: inline-block; height: 15px; line-height: 15px; margin-left: 5px; margin-top: 6px; overflow: hidden; padding: 0 3px; text-align: center; text-indent: 0; width: auto; }
#leftlist ul li.list_li3 span.yellow a, #leftlist ul li.list_li3 span.green a, #leftlist ul li.list_li3 span.gray a { color: #fff; font-size:12px; }
#rightlist { width:256px; height:auto; margin-left:20px; float:right; }
#rightlist .list { width:254px; margin-bottom:10px; float:left; overflow:hidden; border:1px solid #dfdfdf; }
#rightlist .list ul:hover { background-color:#e3edff; }
#rightlist .list ul { border-top:1px solid #e0e0e0; float:left; width:100%; }
#rightlist .list_top { width:100%; height:32px; line-height:32px; background:#f2f2f2; color:#666; text-align:center; float:left; border-bottom:1px solid #FFF; }
#rightlist .list_div { padding:15px 6px; float:left; }
#rightlist .list_img { width:100px; height:100px; float:left; border: 1px solid #CDCDCD; padding: 1px;}
#rightlist .list_img:hover{border:solid 1px #fe6b00;}
#rightlist .list_li01, #rightlist .list_li02 { width:135px; height:20px; float:left; margin-left:6px; line-height:20px; overflow:hidden; }
#rightlist .list_li02 { color:#8a8a8a; }
#rightlist .list .top_div { width:100%; height:26px; background:#f8f8f8; float:left; }
#rightlist .list .li_001, #rightlist .list .li_002, #rightlist .list .li_003 { float:left; width:60px; height:26px; line-height:26px; overflow:hidden; text-indent:15px; }
#rightlist .list .li_002 { width:120px; }
#rightlist .list .li_003 { width:65px; }
/*111205*/
#kflist .kflist_div { width:100%; height:auto; float:left; }
#kflist .kflist_div .kf_time { width:95%; height:20px; line-height:16px; background:url(../images/kftime_20.jpg) no-repeat; padding-left:20px; margin-left:5px; float:left; margin-top:5px; }
#kflist .kflist_div ul { background:none; border-bottom: none; float:left; }
#kflist .kflist_div ul li .li_div1:hover { background:#e3edff; }
#kflist .kflist_div ul li { float:left; width:166px; overflow-x:hidden; }
#kflist .kflist_div ul li .li_div1 { width:156px; height:28px; float:left; border:1px solid #d8d8d8; line-height:28px; text-indent:10px; margin:5px 3px; display:inline-block }
#kflist .kflist_div ul li .li_div1 .a2 { float:right; margin-right:10px; *margin-top:-28px;
_margin-top:-22px; }
html body #kflist .tc_div { width:330px; min-height:58px; _height:58px; border:6px solid #e0e0e0; background:#fff; }
html body #kflist .tc_div { position: absolute; z-index:99999; margin-top:34px; margin-left:3px; *margin-left:-161px;
_margin-left:-171px; }
html body #kflist .right { margin-left:-181px; *margin-left:-345px;
_margin-left:-355px; }
html body #kflist .tc_div .topdiv { width:328px; height:26px; background:#efefef; border:1px solid #fff; float:left; }
html body #kflist .tc_div .li001, html body #kflist .tc_div .li002, html body #kflist .tc_div .li003, html body #kflist .tc_div .li004 { height:26px; width:70px; line-height:26px; float:left; text-indent:20px; overflow:hidden; }
html body #kflist .tc_div .li002 { width:62px; }
html body #kflist .tc_div .li003 { width:70px; }
html body #kflist .tc_div .li004 { width:120px; }
/*110206*/
#leftlist .img_div { width:737px; height: auto; float:left; margin-bottom:10px; overflow:hidden; margin-left:-17px; _margin-left:-34px; _width:754px; }
#leftlist .img_div .img_bg { width:108px; height:122px; background:#FFF; border:1px solid #dcdada; text-align:center; padding:10px; line-height:18px; margin-bottom:10px; margin-left:17px; _margin-left:17px; }
#leftlist .img_div .sz_bg1, #leftlist .img_div .sz_bg2 { background:url(../images/sz_01.gif) no-repeat; width:22px; height:26px; line-height:28px; font-family:"Arial"; font-size:14px; color:#333; margin:4px; }
#leftlist .img_div .sz_bg1, #leftlist .img_div .sz_bg2 { position:absolute; margin-left:-5px; margin-top:-5px; *margin-left:-58px;
_margin-left:-58px; }
#leftlist .img_div .sz_bg2 { background:url(../images/sz_02.gif) no-repeat; }
.trend { background:url(../images/icon-trend.gif) no-repeat; display: inline-block; height: 13px; width: 11px; margin-left:8px; overflow:hidden; }
.rise { background-position: 0px 2px; }
.fair { background-position: 0px -58px; }
.down { background-position: 0px -30px; }
/*120105*/
#content .pathdiv { width:100%; height:auto; line-height:34px; float:left; }
#content .pathdiv .h1div { float:left; height:30px; width:90%; }
#content .pathdiv .h2div { float:left; height:20px; width:90%; line-height:20px; padding-left:5px; }
#content .wrapdiv { width:100%; height:auto; line-height:28px; margin-top:10px; float:left; }
#content .wrapdiv .a1_div { line-height:28px; float:right; margin-left:10px; }
#content .tite01 { float:left; width:108px; height:28px; line-height:28px; background:url(../images/kftj_01.jpg) no-repeat; text-align:center; text-decoration:none; margin-left:10px; }
#content .tite02 { float:left; width:108px; height:28px; line-height:28px; text-align:center; text-decoration:none; }
#content .mainnav { float:left; width:966px; height:auto; padding:10px; _padding:10px 0 ;margin-bottom:5px; _padding-left:5px; _width:990px; }
#content .mainnav .nav { float:left; width:100%; height:24px; line-height:24px; text-align:center; }
#content .mainnav .nav .nav1, #content .mainnav .nav .nav2 { width:auto; height:18px; background:#4683ff; float:left; line-height:18px; color:#FFF; padding:2px 6px; display:block; }
#content .mainnav .nav .nav2 { background:none; color:#000; }
#content .mainnav .h1_div { width:489px; height:30px; background:#e1e1e1; text-indent:1em; padding-top:5px; }
#content .line01 { border-bottom:1px solid #CCC; }
#content .border { border:1px solid #dfdfdf; }
.maindiv { width:495px; height:auto; float:left; overflow:hidden; }
.bq_div { width:100%; height:39px; background:url(../images/yx_06.jpg) center top no-repeat; text-align:center; float:left; padding-top:10px; }
.bq_div a.flh1_on, .bq_div a.flh1_up { width:97px; height:25px; display:block; margin-left:8px; float:left; overflow:hidden; line-height:26px; }
.bq_div a.flh1_up { background:url(../images/input_11.jpg) no-repeat; color:#F00; }
.bq_div a.flh1_on { background:url(../images/input_12.jpg) no-repeat; color:#676767; }
.bq_div a.flh1_up:hover { color:#000; }
.bq_div a.flh1_on:hover { color:#F00; }
.bottom_line { width:100%; height:25px; background:url(../images/bottom_11.jpg) repeat-x; }
/*120106*/
.mainnav .Cal { width:490px; height:auto; background:#FFF; text-align:center; float:left; }
.mainnav .Cal .list01, .mainnav .Cal .list02 { width:67px; height:28px; background:url(../images/kf_37.gif) repeat-x; border:1px solid #e1e1e1; margin-right:1px; margin-bottom:1px; float:left }
.mainnav .Cal .list02 { height:50px; background:#fff; line-height:24px; }
.mainnav .Cal .CalO { color:#bbb; }
.mainnav .Cal .Cal1 { width:67px; height:50px; background:#ffe971; display:block; }
/*120110*/
.mblack { color:#848484 }
.play_game{ background: url("../images/news_info_reback.gif") no-repeat scroll 0 -179px transparent; width: 66px; height:20px; border:none; margin:15px auto; display:block; overflow:hidden; line-height:20px;  color:#fff;}
.play_game:hover{ background:url(../images/news_info_reback.gif) 0 -199px scroll no-repeat; width: 66px; height:20px; border:none; margin:15px auto; display:block; overflow:hidden; line-height:20px;  color:#fff;}
.play_game_none{background:url(../images/news_info_reback.gif) -66px -179px scroll no-repeat; width: 66px; height:20px; border:none; margin:15px auto; display:block; overflow:hidden; line-height:20px;  color:#fff; }
.play_game_none:hover{ cursor:default; text-decoration:none; color:#fff;}
.play_game_hot{ background: url("../images/news_info_reback.gif") no-repeat scroll -132px -179px transparent; width: 66px; height:20px; border:none; margin:15px auto; display:block; overflow:hidden; line-height:20px;  color:#fff;}
.play_game_hot:hover{ background:url(../images/news_info_reback.gif) -132px -199px scroll no-repeat; width: 66px; height:20px; border:none; margin:15px auto; display:block; overflow:hidden; line-height:20px;  color:#fff;}
.h1div_botton { background:url(../images/gw_01.jpg) no-repeat; width:74px; height:28px; border:0; margin-top:12px; *margin-top:6px;
_margin-top:12px; }
.h2div_botton { background:url(../images/gw_01_2.gif) no-repeat; width:74px; height:28px; border:0; margin-top:12px; *margin-top:6px;
_margin-top:12px; }
.h3div_botton { background:url(../images/gw_stop.jpg) no-repeat; width:74px; height:28px; border:0; margin-top:12px; *margin-top:6px;
_margin-top:12px; }
.h1div_01 { float:left; width:100%; height:auto; line-height:18px; margin-bottom:5px; }
.h1div_01 a { background:#FAFAFA; border:1px solid #E7E7E7; padding:4px 8px; margin:3px 6px; width:100px; height:18px; float:left; overflow:hidden; text-align:center; }
.h1div_01_stop { width:26px; height:25px; background:url(../images/h1div_01-stop.gif); float:right; margin-top:-4px; margin-right:-8px; z-index:999; _margin-top:-22px; }
.h1div_01 a:hover { background:#fffed8; }
.list_bg { background:#fafafa; width:140px; height:55px; border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0; float:left; }
.list_bg .list_span { width:100%; font-family:Verdana; float:left; line-height:26px; }
.list_01 { text-indent:15px; }
.list_01, .list_02, .list_03, .list_04, .list_05 { width:210px; float:left; line-height:55px; height:55px; overflow:hidden; }
.list_02, .list_03, .list_04, .list_05 { width:70px; text-align:center; }
.list_03 { width: 430px; }
.list_04 { width:220px; }
.list_05 { width:270px; }
/*.list_03_1{border-left: 1px solid #CCCCCC;width: 430px;border-right: 1px solid #CCCCCC;}*/
.list_03_1 { border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; float: left; width: 424px; text-align: center; }
.list_bg .tc_div { width:330px; min-height:90px; border:6px solid #e0e0e0; background:#fff; overflow:hidden; }
.list_bg .tc_div { position: absolute; z-index:99999; margin-left:0; }
.list_bg .tc_div .topdiv { width:328px; height:26px; background:#efefef; border:1px solid #fff; float:left; }
.list_bg .tc_div .li001, .list_bg .tc_div .li002, .list_bg .tc_div .li003, .list_bg .tc_div .li004 { height:50px; width:30%; line-height:50px; float:left; text-indent:20px; overflow:hidden; }
.list_bg .tc_div .li002 { width:75px; }
.list_bg .tc_div .li003 { width:70px; }
.list_bg .tc_div .li004 { width:80px; }
/*4.0首页*/
#right_boxs { width:340px; height:auto; overflow:hidden; }
#right_boxs .kfdiv_box { width:334px; height:auto; padding:2px; overflow:hidden; float:left; margin-bottom:10px; }
#right_boxs h1, #right_boxs h2, #left_boxs h1 { text-align:left; line-height:30px; height:30px; text-indent:24px; margin-left:5px; overflow:hidden; }
#right_boxs .kfdiv_box .ulmag { padding:10px; line-height:22px; float:left; }
#right_boxs .kfdiv_box h1 { background:#fee4d7; width:100%; }
#right_boxs .kfdiv_box .bdiv_bg { background:url(../images/kaifsk_13.jpg) left no-repeat; display:block; padding-left:24px; line-height:30px; margin-left:5px; }
#right_boxs .kfb_div { height:60px; margin-left:-5px; }
#right_boxs .kfb_div ul { width:335px; background:#FFF; padding:8px; line-height:22px; overflow:hidden }
#right_boxs .kfb_div ul:hover { background:#e3edff; border:#FFF; }
#right_boxs .kfb_div .list001, #right_boxs .kfb_div .list002 { width:90px; height:22px; margin-right:4px; overflow:hidden }
#right_boxs .kfb_div .list002 { width:110px; }
#right_boxs .kfb_div .list003 { position: absolute; margin-left:306px; *margin-left:-16px;margin-top:-9px; *margin-top:-32px;}
/*margin-right:10px; */
#left_boxs { width:650px; height:auto; overflow:hidden; }
#left_boxs .kfdiv_box2 { width:644px; height:auto; padding:2px 2px 10px 2px; overflow:hidden; margin-bottom:10px; }
#left_boxs .kfdiv_box2_1 .jd_div { width:308px; height:auto; padding:4px; overflow:hidden; float:left; margin-bottom:10px; }
/*#left_boxs .kfdiv_box2_1 .jd_div p { line-height:18px; text-indent:2em; width:100%; margin-top:5px; }*/
#left_boxs .kfdiv_box2_1 .jd_div p {  }
#left_boxs .kfdiv_box2_1 .position_div { padding: 0; }
#left_boxs .kfdiv_box2_1 { width:320px; height:auto; overflow:hidden; float:left; }
#left_boxs .kfdiv_box2_2 { width:312px; height:auto; overflow:hidden; padding:2px 2px 0px 2px; }
.position_div { width:100px; height:auto; padding:10px 1px 10px 6px; text-align:center; line-height:20px; overflow:hidden; }
.position_div .imgboxs { width:80px; height:80px; overflow:hidden; border: 1px solid #CDCDCD; padding: 1px; }
.position_div .imgboxs:hover{border:solid 1px #fe6b00;}
.position_div .p_hidden { width:100px; height: 22px; overflow: hidden; }
.position_top { position:absolute; margin-left:62px; *margin-left:62px;
margin-top:-81px; *margin-top:-82px;
}
.picbox .position_div .position_top {*margin-left:12px; _margin-left:12px; margin-top:-82px;}
.h1bg_div { background:#f3f3f3; width:100%; }
.padds { padding:3px 7px; }
.mod_user_growth { height:10px; }
.growth_bar { position:relative; display:inline-block; width:93px; height:10px; background:url(../images/jd_01_bg.jpg) left no-repeat; }
.growth_bar span, .growth_bar em { position:absolute; left:0px; top:0px; _top:-1px; height:10px; text-align:center; }
.growth_bar span { background:url(../images/jd_10.jpg) left no-repeat; width:93px; height:10px; }
.growth_bar em { width:100%; font:normal 10px/11px Tahoma; color:#247C00; -webkit-text-size-adjust:none; }
.huoddiv { position:absolute; text-align:center; z-index:1; margin-top:-45px; *margin-top:-30px;
display:none; margin-left:-125px; background:#ffffcc; border:1px solid #ff6600; width:220px; height:18px; line-height:18px; padding:2px 5px; }
#content ul li.ding p { display: block; }
.blueh1 { width:98%; height:28px; margin:5px 0; line-height:28px; }
.bluebg, .orgbg { width:85px; height:28px; background:url(../images/kfwy_03.jpg) no-repeat; line-height:24px; text-align:center; margin-left:-7px; position: absolute; *position:relative;
}
.orgbg { background:url(../images/kfkfd_06.jpg) no-repeat; }
/*pc_boxs*/
.pc_boxs { width:100%; height:auto; margin-bottom:8px; }
.pc_boxs .inpic_bg { margin-left:1px; margin-top:-3px; float:left; _position:relative; }
.pc_boxs .inpc_fl { width:85%; height:auto; float:left; overflow:hidden; }
.pc_boxs .inpc_fr { width:90px; height:50px; float:left; text-align:center; overflow:hidden; padding-top:10px; line-height:45px; font-family:Verdana; font-size:36px }
.pc_boxs .inpic_cent { width:450px; float:left; margin:8px 0 0 15px; line-height:20px; }
/*图片*/
#pic_boxs { width:100%; height:auto; margin-bottom:10px; }
#pic_boxs .pic_fl { height:auto; padding:2px; float:left; line-height:28px; padding-bottom:10px; }
#pic_boxs .pic_fl h1 { height:30px; line-height:30px; text-indent:24px; margin-left:5px; }
#pic_boxs .pic_fl ul li { width:145px; height:auto; float:left; padding:0 5px; margin-left:5px; _margin-left:4px; }
#pic_boxs .pic_fl ul li a { width:100%; float:left; text-align:center; }
#pic_boxs .pic_fl ul li img { width:145px; height:95px; margin-top:5px; overflow:hidden; }
#pic_boxs .pic_fl .img_01 { width:340px; height:245px; margin:10px 10px 0; float:left; }
#pic_boxs .pic_fl .img_02 { width:120px; height:75px; margin-top:10px; float:left; }
#pic_boxs .pic_fl .img_a { width:100%; text-align:center; line-height:18px; height:18px; padding-top:5px; }
/*分类*/
#game_boxs { width:100%; height:auto; padding-bottom:10px; }
#game_boxs h1 { height:40px; line-height:40px; text-indent:10px; }
#game_boxs h2 { height:30px; line-height:30px; text-indent:28px; }
#game_boxs ul li { float:left; height:18px; line-height:22px; width:105px; overflow:hidden; margin-left:5px; _margin-left:2px; overflow:hidden; }
#game_boxs .bg01box { width:10px; height:10px; background:#d3d3d3; display:inline-block; margin-right:5px; }
.gift_list ul { border-top: 1px solid #ebebeb; height: 28px; line-height: 28px; }
.gift_list ul li { height:28px; float:left; line-height:28px; overflow:hidden; text-align: left; }
.gift_list .li_1 { width:100px; border-right: 1px solid #ebebeb; text-indent:5px; }
.gift_list .li_2 { width:90px; border-right: 1px solid #ebebeb; text-indent:5px; }
.gift_list .li_3 { width:64px; border-right: 1px solid #ebebeb; text-indent:5px; }
.gift_list .li_5 { width:54px; text-align: center }
.li_5 .dybutton_sty10 { margin-top: 4px; }
.bg_class_gold { background:url(../images/god_bg.gif) no-repeat bottom right #f3f3f3; height: 76px; }
.bg_class { background:#f3f3f3; }
.index_gold { width:330px; float:left; line-height:22px; margin-left:10px; _margin-left:5px; margin-bottom: 5px; }
#otherlogin { width:129px; border:1px solid #e0e0e0; background:#fff; display: none; color:#000; padding:5px 0px; line-height:25px; position: absolute; z-index:99999; margin-top:0px; margin-left:183px; *margin-left:-135px;
*margin-top:25px;
}
#otherlogin ul { height:150px; }
#otherlogin ul li { line-height:25px; height:25px; padding-left: 10px; }
#otherlogin .up { background:url(../images/point_pre.gif) no-repeat 93px center; }
/*精选*/
.kfdiv_box2_3 .ad_div { width:323px; height:auto; overflow:hidden; margin-bottom:10px; *margin-bottom:-5px;
_margin-bottom:-5px; }
.kfdiv_box2_3 { width:324px; overflow:hidden; height:auto; text-align:left; padding-bottom:10px; float:right; }
.adv_line { height:3px; background:#f3f3f3; width:295px; overflow:hidden; margin-left:15px; margin-top:5px; _margin-top:20px; *margin-top:10px;
font-size:0px; }
#kf_adv .adv_list { margin-left:9px; _margin-left:10px; }
#kf_adv li { border-bottom: dashed 1px #e3e3e3; width:295px; *zoom:1;overflow:hidden; margin-left:15px; height:29px; _height:29px; background: url(../images/ico-3.gif) no-repeat left center; }
#kf_adv li a { line-height:32px; _line-height:34px; margin-left:8px; }
#kf_adv li span.gray { *zoom:1; }
#kf_adv { overflow:hidden; }
#kf_adv .gray { color:#999999; line-height:32px; _line-height:34px; }
#kf_adv .border { border:none; }
.adv_1 { width:295px; height:24px; padding-left:15px; overflow:hidden; }
.adv_2 { height:35px; margin-bottom:5px; width:295px; }
.adv_center { margin: 0 auto; width:295px; height: 155px; text-align:center; }
.hot_center { border-bottom:solid 1px #CCCCCC; height:30px; }
.reports_1 { height:57px; border-bottom:solid 1px #ececec; padding-top:7px; _padding-top:8px; }
.jd_div_1 dt { height:30px; }
.jd_div_1 dl { padding-left:3px; }
.jd_div_1 { width:308px; height:auto; padding:4px; overflow:hidden; float:left; margin-bottom:10px; _margin-bottom:10px; }
.reports_2 { height:53px; padding-top:10px; }
/*评分*/

.star_bg{ width:120px; background:url(../images/bt.gif) -207px -54px scroll no-repeat; height:26px; overflow:hidden; float:left; }
.star_bar1{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:12px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar2{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:24px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar3{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:36px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar4{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:48px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar5{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:60px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar6{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:72px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar7{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:84px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar8{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:96px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar9{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:108px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bar10{ background:url(../images/bt.gif) -88px -54px scroll no-repeat; width:120px; display:block; overflow:hidden; height:23px;  position:relative;top:-26px;}
.star_bt{width:100%; z-index:9999; height:auto; position:relative; float:left;}
.star_bg a{ width:12px; height:26px;  float:left}
.text_hot{color:#FF0000; font-size:28px; font-family:'微软雅黑'; line-height:24px; padding-left:10px; float:left;}
.gamelist_22{ width:100%; overflow:hidden;}
.gamelist_22 li{ float:left; margin-right:10px; height:20px; margin-top:5px; overflow:hidden; line-height:20px;}

#content .nogift_index {background: url("../images/icobg_1.0.png") repeat scroll -48px -362px transparent; color: #FFFFFF; display: block; height: 16px; line-height: 17px; margin-left: 10px; margin-top: 6px; overflow: hidden; text-align: center;  text-indent: 0; width: 30px; cursor:default;}
#content .nogift_index:hover {background: url("../images/icobg_1.0.png") repeat scroll -48px -362px transparent; color: #FFFFFF; display: block; height: 16px; line-height: 17px; margin-left: 10px; margin-top: 6px; overflow: hidden; text-align: center;  text-indent: 0; width: 30px; cursor:default; text-decoration:none;}

#landing_pages_page4{ width:340px; height:auto; overflow:hidden;}
#landing_pages_page4 .kfdiv_box div.focustopback a{ color: #666; overflow:hidden;}
#landing_pages_page4 .kfdiv_box{ width:334px; height:816px; padding:2px; overflow:hidden; float:left; margin-bottom:10px;}
#landing_pages_page4 .kfdiv_box .hot{ background: #FFFFCC;}
#landing_pages_page4 h1, #landing_pages_page4 h2{ text-align:left; line-height:30px; height:30px; text-indent:24px; margin-left:5px; overflow:hidden;}
#landing_pages_page4 .kfdiv_box .ulmag{ padding:10px; line-height:22px; float:left;}
#landing_pages_page4 .kfdiv_box h1{ background:#fee4d7; width:100%;}
#landing_pages_page4 .kfdiv_box .bdiv_bg{ background:url(../images/kaifsk_13.jpg) left no-repeat; display:block; padding-left:20px; line-height:30px; margin-left:5px;  }
#landing_pages_page4 .kfdiv_box a{display: block; text-align:center; float:left; height: 30px; line-height:30px; overflow:hidden;}
#landing_pages_page4 .kfdiv_box .index_type{ width: 85px; border-right: 1px solid #ececec;}
#landing_pages_page4 .kfdiv_box .backa{ width: 65px; border-right: 1px solid #ececec;}
#landing_pages_page4 .kfdiv_box .padds{width: 30px; padding: 0px;}

#landing_pages_page4 .kfb_div{ height:32px; float: left; line-height:32px; overflow:hidden;}
#landing_pages_page4 .kfb_div ul{ width:335px; padding: 0px; overflow:hidden； }
#landing_pages_page4 .kfb_div ul:hover{ background:#e3edff; border:#FFF;}
#landing_pages_page4 .kfb_div li, #landing_pages_page4 .kfb_div li a{display: block; text-align:center; float:left; height: 32px; line-height:32px; overflow: hidden}
#landing_pages_page4 .kfb_div li a{ float: none;}
#landing_pages_page4 .kfb_div li a.hd_a{display: block; text-align:center; float:left; height: 16px; line-height:16px; padding: 8px 7px;}
#landing_pages_page4 .kfb_div .list001{ width:85px; border-right: 1px solid #ececec;}
#landing_pages_page4 .kfb_div .list002{ width:65px; border-right: 1px solid #ececec;}
#landing_pages_page4 .kfb_div .list003{width: 30px; padding: 0px;}

.Serverinformation h2 { line-height:28px; }
.Serverinformation .pname_text{ height:26px;}
#content .Serverinformation .search_in .submit{background: url("../images/dybutton_sty6.jpg") repeat scroll 0 0 transparent; border: medium none;color: #333333; cursor: pointer; display: inline-block;font-weight: bold; height: 26px; line-height: 26px; margin-top:0; padding: 0 10px;  text-align: center; width: 56px; float:left;}
#content .Serverinformation .search_in .search{ width:295px; _width:294px; *width:305px; float:right; border-bottom:none; height:26px; overflow:hidden;}
#content .Serverinformation .search_in .search span{ float:left; line-height:26px;}
.Serverinformation h1{ float:left; margin-bottom:10px; padding-left:10px;}
.Serverinformation .showtype{ float:left; font-family:"微软雅黑"; font-size:16px; color:#000000;}
.Serverinformation .showtype span{ background-color:#FFFFFF; padding:10px 5px; border:solid 1px #e3e3e3; border-bottom:none; border-top:none;}
.Serverinformation .showtype a{ color:#ff6600; font-family:"微软雅黑"; font-size:16px;}
.Serverinformation .other{ float: right;}
.Serverinformation .pname_text{ height:22px; line-height:22px; width:150px; float:left; margin-right:5px; }
.Serverinformation ul { width:996px; height:34px; line-height:34px; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; float:left }
.Serverinformation ul img { _margin-top:13px }