<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$site_config.charset}" />
<title>{$game.game_name}_{$site_config.site_name}</title>
<meta name="keywords" content="{$site_config.site_keywords}" />
<meta name="description" content="{$site_config.site_description}" />
{include "../styles.html" caching}
<link href="{$style_dir}/style/ver4.css?v=20120831" rel="stylesheet" type="text/css" />
<link href="{$style_dir}/style/inner_5.css?v=20120831" rel="stylesheet" type="text/css" />
{include "../scripts.html" caching}

<script type="text/javascript">
function postDigg(aid) {
    var saveid = GetCookie('diggid');
    if(saveid != null) {
        var saveids = saveid.split(',');
        var hasid = false;
        saveid = '';
        j = 1;
        for(i=saveids.length-1;i>=0;i--)
        {
            if(saveids[i]==aid && hasid) continue;
            else {
        	if(saveids[i]==aid && !hasid) hasid = true;
        	saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
        	j++;
        	if(j==20 && hasid) break;
        	if(j==19 && !hasid) break;
            }
        }
        if(hasid) { alert("您已经顶过该帖，请不要重复顶帖 ！"); return; }
        else saveid += ','+aid;
        SetCookie('diggid',saveid,1);
    } else {
        SetCookie('diggid',aid,1);
    }

    $.ajax({
        url : '',
        data : {
            action : 'good',
            formurl: "caicai",
            id: aid
        },
        type: "GET",
        success: function(data) {
	    	var score = ".vote-count-" + aid;
	    	var $score = $(score);
	    	if ($score.length) {
				$score.each(function(index, el) {
		   			$(el).text(data + "票");
				});
	    	}
        }
    });
}

function showServerList(el){
    $(el).find('.tc_div').show();
}
function closeServerList(el){
    $(el).find('.tc_div').hide();
}
</script>


</head>
<body>
{include "../head.html"}
<div id="content">
      <div id="pathway"><strong>当前位置:</strong> {position($game)}</div>
  <div class="fl boder_base newsinfo_left game_info">
    <div class="fl pic mr picbd">
  <img width="250" height="250" src="{$game.game_avatar}">
</div>
{$game_id=$game.id}
<div class="fr text_width">
  <div class="fl wd">
    <div class="title">
      <h6 class="fl">{$game.game_name}</h6>
    </div>
    <span>游戏模式：{$game.game_tag}</span>
    <span>游戏题材：{$game.game_theme}</span>
    <span>画面方式：{$game.game_effect}</span>
    <span>游戏状态：{$game.test_status}</span>
    <span>收费模式：{$game.game_status}</span>
    <span>开发公司：{$game.dev_short_name}</span>
  </div>
  <div class="fr wd">
      <div class="g_left2 fl">
	  <span class="lh30" id="score-text">优秀作品</span>
	  <p>
	  </p>
	  <div class="star_bg left">
	      <div game_id="{$game_id}" score="{trim(sprintf("%4.2f", $game.scores / $game.weight))}" id="score-items" class="star_bt">
		  <a title="一场噩梦" href="javascript:void(0);"></a>
		  <a title="不怎么样" href="javascript:void(0);"></a>
		  <a title="没有感觉" href="javascript:void(0);"></a>
		  <a title="很一般" href="javascript:void(0);"></a>
		  <a title="还可以" href="javascript:void(0);"></a>
		  <a title="值得一试" href="javascript:void(0);"></a>
		  <a title="很不错哦" href="javascript:void(0);"></a>
		  <a title="优秀作品" href="javascript:void(0);"></a>
		  <a title="非常棒" href="javascript:void(0);"></a>
		  <a title="不同凡响" href="javascript:void(0);"></a>
	      </div>
	      <div id="score-num" class="star_bar8"></div>
	  </div>
	  <span id="score-value" class="text_hot">{trim(sprintf("%4.2f", $game.scores / $game.weight))}</span>
	  <p></p>
      </div>
    <p class="lh30">
	<a onclick="postDigg({$game_id})" class="bt_good"></a><strong class="yahei boder_num vote-count-{$game_id}">{$game.goodpost}票</strong>
    </p>
    <div class="mt" id="newsinfo_share">
	<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
	    <span class="fl">分享到:</span>
	    <a class="bds_qzone" title="分享到QQ空间" href="#"></a>
	    <a class="bds_tsina" title="分享到新浪微博" href="#"></a>
	    <a class="bds_tqq" title="分享到腾讯微博" href="#"></a>
	    <a class="bds_renren" title="分享到人人网" href="#"></a>
	    <span class="bds_more"></span>
	</div>
    </div>
  </div>
  <div class="text_width bt_all">
      <a class="bt_playgame" href="{$game.offical_url}" target="_blank"></a>
  </div>
</div>
<script type="text/javascript">
$(function(){
  var link =  $(".bt_playgame").attr("href");
  if(link.indexOf("http://") == -1) {
    var a1 = $(".kaifu_table").find(".list_04 a").get(0);
    if(a1) {
      link = $(a1).attr("href");
    }else{
      link = "#";
    }
    $(".bt_playgame").attr("href", link);
  }
})
</script>
<div class="newsinfo_artical p14 lh24 fl mt_5">
  <h5>游戏简介&gt;&gt;</h5>
  <p>{$game.description}</p>
</div>

{get_gallery_list assign='items' limit='0,1' game_id="$game_id"}
{if !empty($items) }
  <div class="game_screen fl mt_5"><div class="game_screen"><h5 style="float:left;">游戏截图&gt;&gt;</h5><a href="'.$arcurl.'" target="_blank" class="blue fr lh40 mr">更多&gt;&gt;</a></div><ul>
    {foreach $items as $gallery}
      $imgs = GetThumbsArray($gallery.body);
      {foreach $imgs as $item}
      if($item@index > 3) break;
		  <li><div class="booklet-image-wrap">';
		  <span class="picbd"><a class="booklet-image" href="{$gallery|zqurl}" target="_blank"><i class="booklet-image-hack"></i><img width="140" src="{$item}"></a></span>
      </div><a href="{$gallery|zqurl}" target="_blank"><p>游戏截图</p></a></li>
      {/foreach}
    {/foreach}
  </ul></div>
{/if}

<!--
#TODO
#开服调用
-->
{if !empty($kaifus)}
<div id="game_kaifu" class="kaifu_table kaifu_table2 mt_5" style="margin-top: 5px;">
	<h5>{$game.title} 开服表 >> 
		<span class="p12 text_span">官网全部{$game.company_count} | 开服表全部{$game.kaifu_count}</span>
	</h5>

	<div id="game_kaifu_list" class="div_top fl">
		<ul class="top_ul">
		    <li class="list_01 strong">官网名称</li>
		    <li class="list_02 strong">开服总数</li>
		    <li class="list_03_1 strong">最新开服</li>
		    <li class="list_04 strong">操作</li>
		</ul>

		{foreach $kaifus as $kaifu}
		<ul>
		    <li class="list_01 lh40"><a href="{$kaifu['company']['url']}" target="_blank">{$kaifu['oper_short_name']}</a></li>
		    <li class="list_02">{$kaifu['company']['kaifu_count']}服</li>
		    <li class="list_03">
          <div class="list_bg fl">
            {if (empty($kaifu['kaifu']['y']) and count($kaifu['kaifu']['y']) == 0)}
             / 
            {else}
            <span class="list_span mblack">{$kaifu['kaifu']['y'][0]['test_date']|getRelativeTime}</span><span class="list_span "><a href="{$kaifu['kaifu']['y'][0]['register_url']}">{$kaifu['kaifu']['y'][0]['server_name']}</a></span>
            {/if}
          </div>

          {if count($kaifu['kaifu']['n']) > 1}
          <div onmouseout="javascript:closeServerList(this);" onmouseover="javascript:showServerList(this);" class="list_bg fl">
            <span class="list_span mblack"><b class="red">今日</b>开服{count($kaifu['kaifu']['n'])}组</span>

            <span class="list_span"><img width="15" height="9" src="http://res.kaifu.com/isy/templates/front/images/xl_15.jpg">
              <span style="display: none;" class="tc_div">

                <ul class="topdiv"><li class="li001">开服时间</li><li class="li002">服务器</li><li class="li003">线路</li></ul>

                {foreach $kaifu['kaifu']['n'] as $item}
                  <ul><li class="li001">{$item['test_date']|date_format:'%H'}点</li><li class="li002"><a target="_blank" href="{$item['register_url']}">{$item["server_name"]}</a></li><li class="li003">双线</li></ul>
                {/foreach}
              </span>
            </span>
          </div>
          {else}
            <div class="list_bg fl">
              <span class="list_span mblack">
                {if date('d', $kaifu['kaifu']['t'][0]['test_date']) == date('d', $smarty.now)}
                  <b class="red">今日</b>{$kaifu['kaifu']['t'][0]['test_date']|date_format:'%H'}点
                {else}
                  {$kaifu['kaifu']['t'][0]['test_date']|getRelativeTime}
                {/if}
              </span>
              <span class="list_span "><a href="{$kaifu['kaifu']['n'][0]['register_url']}">{$kaifu['kaifu']['n'][0]['server_name']}</a>
              </span>
            </div>
          {/if}

          <div class="list_bg fl">
            {if (empty($kaifu['kaifu']['t']) and count($kaifu['kaifu']['t']) == 0)}
             / 
            {else}
            <span class="list_span mblack">{$kaifu['kaifu']['t'][0]['test_date']|getRelativeTime}</span><span class="list_span "><a href="{$kaifu['kaifu']['t'][0]['register_url']}">{$kaifu['kaifu']['t'][0]['server_name']}</a></span>
            {/if}
          </div>
		    
        </li>
		    <li class="list_04">  
		    	<a class="blue play_game" href="{$kaifu['kaifu']['n'][0]['register_url']}" rel="nofollow" target="_blank">开始游戏</a>
		    </li>
	    </ul>
	    {/foreach}
	</div>
</div>
{/if}

{get_kaice_list assign='items' limit='0,10' orderby='test_date' game_id="$game_id"}
{if !empty($items) }
<div id="game_kaice" class="kaifu_table mt_5" style="margin-top: 5px;">
    <h5>{$game.title} 开测表 >> </h5>
    <div id="game_kaice_list" class="div_top fl">
	<ul class="top_ul">
	    <li class="list_01 strong">时间</li>
	    <li class="list_02 strong">测试状态</li>
	    <li class="list_03_1 strong">运营厂商</li>
	    <li class="list_04 strong">操作</li>
	</ul>


	{foreach $items as $item}
	<ul>
	    <li class="list_01">{date('m-d',$item.test_date)}</li>
	    <li class="list_02">{$item.test_status}</li>
	    <li class="list_03">{$item.oper_short_name}</li>
	    <li class="list_04">
		<!--
		<a class="blue play_game" href="{$item.register_url}" target="_blank">注册游戏</a>
		-->
	    </li>
	</ul>
	{/foreach}
    </div>
</div>
{/if}
{get_gift_list assign='items' limit='0,10' orderby='test_date' game_id="$game_id"}
{if !empty($items) }
<div id="game_gift" class="kaifu_table mt_5" style="margin-top: 5px;">
    <h5>{$game.title} 新手卡/激活码 >> </h5>
    <div id="game_gift_list" class="div_top fl">
	<ul class="top_ul">
	    <li class="list_01 strong">时间</li>
	    <li class="list_02 strong">卡名称</li>
	    <li class="list_03_1 strong">运营厂商</li>
	    <li class="list_04 strong">操作</li>
	</ul>


	{foreach $items as $item}
	<ul>
	    <li class="list_01">{date('m-d',$item.send_date)}</li>
	    <li class="list_02">{$item.gift_title}</li>
	    <li class="list_03">{$item.oper_short_name}</li>
	    <li class="list_04"><a href="{$item.get_url}" class="bt_getnumber white mt_5" target="_blank">领号</a></li>
	</ul>
	{/foreach} 

    </div>
</div>
{/if}
{get_article_list assign='items' limit='0,12' orderby='pubdate' game_id="$game_id"}
{if !empty($items) }
<div class="news_push fl mt">
    <div class="news_push1 fl comment_bg  bt">
	<h5 class="lh24 fl">相关内容推荐&gt;&gt;</h5>
	<span class="fr lh24 strong gray"><a class="gray decoration" href="{getTypeLink("article","游戏资讯",['{$game_id}'=>$game_id])}" target="_blank">新闻</a> | <a class="gray decoration" href="{getTypeLink("article","游戏攻略",['{$game_id}'=>$game_id])}" target="_blank">攻略</a></span>
    </div>
    <ul class="lh24 news_push1  black">
	{foreach $items as $item}
	<li><a href="{$item|zqurl}" target="_blank">{str_cut($item.title,45,'')}</a><span>{date('m-d',$item.pubdate)}</span></li>
	{/foreach}
    </ul>
</div>
{/if}     
<div style=" clear:both"></div>
    {include "../comments.html"}
</div>
<div class="fr newsinfo_right">
  <div class="picbd boder_base adv160">
    <script type="text/javascript">
      _loadAnalysis("contentRtPicAD");
    </script>
  </div>
    <div class="fl boder_base r_box  padding_10 hotgame mt">
	<h2 class="p14 black strong lh30 nomal_h2back">最新测试游戏</h2>
	<ul class="lh20 game-test-wrap">
      {get_game_list assign='items' limit='0,6' orderby='pubdate' orderway='desc'}
      {foreach $items as $item}
	    <li>
		<a href="{$item|zqurl}" target="_blank"><img width="80" height="80" src="{$item.game_thumb}" class="picbd"></a>
		<p><a href="{$item|zqurl}" target="_blank">{$item.game_name}</a></p>
		<p>{$item.game_status}</p>
	    </li>
	    {/foreach}
	</ul>
    </div>
    <div class="fl boder_base r_box  padding_10 hotgame mt">
      {$taggg = $game.game_tag}
	<h2 class="p14 black strong lh30 nomal_h2back">{$taggg}热门游戏</h2>
	<ul class="lh20 game-test-wrap">
    {get_game_list assign='items' limit='0,6' tag="$taggg" orderby='goodpost' orderway='desc'}
    {foreach $items as $item}
	  <li>
		  <a href="{$item|zqurl}" target="_blank"><img width="80" height="80" src="{$item.game_thumb}" class="picbd"></a>
		  <p><a href="{$item|zqurl}" target="_blank">{$item.game_name}</a></p>
		  <p>{$item.game_status}</p>
		  </li>
	  {/foreach}
	</ul>
    </div>
    <div class="fl boder_base r_box  padding_10 mt hotgame">
	<h2 class="p14 black strong lh30 nomal_h2back">网页游戏人气榜</h2>
	<div class="bang">
    {get_game_list assign='items' limit='0,10' orderby='goodpost' orderway='desc'}
    {foreach $items as $item}
      {if $item@iteration lt 4}
  		<div class="bang_all">
  		<div class="bang_num mt">{$item@iteration}</div>
  		<div class="fl mt_5">
  		<a target="_blank" href="{$item|zqurl}">
  		<img width="70" height="70" src="{$item.game_thumb}" class="picbd">
  		</a></div>
  		<div class="fl ml">
  		    <h3 class="lh30 p14 strong">
  			<a target="_blank" href="{$item|zqurl}">{$item.game_name}</a>
  		    </h3>
  		    <div class="mt_5">
  			<a class="bt_tp fl" href="javascript:" onclick="postDigg({$item.id});">投票支持</a>
  			<div class="lh28 ml fl">
  			    票数：<span class="vote-count-{$item.id}">{$item.goodpost}票</span>
  			</div>
  		    </div>
  		</div>
  		</div>
	    {else}
	    <ul class="fl">
		    <li>
		        <label class="number mr">{$item@iteration}</label>
		        <a title="{$item.game_name}" class="strong top1_gamename" href="{$item|zqurl}" target="_blank">{$item.game_name}</a>
		        <a class=" bt_tp1 fl" href="javascript:" onclick="postDigg({$item.id});">投票支持</a><span class="top1_ps gray vote-count-{$item.id}">{$item.goodpost}票</span>
		    </li>
		{/if}
    {/foreach}
	    </ul>
    </div>	</div>   
</div></div>
{include "../footer.html"}
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6519356" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
</body>
</html>
