<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$site_config.charset}" />
<title>{$title}_{$site_config.site_name}</title>
<meta name="keywords" content="{$site_config.site_keywords}" />
<meta name="description" content="{$site_config.site_description}" />
{include "../styles.html" caching}
<link href="{$style_dir}/style/ver4.css?v=20120831" rel="stylesheet" type="text/css" />
{include "../scripts.html" caching}
</head>
<body>
{include "../head.html"}
<div id="content">
  <div id="pathway"><strong>当前位置:</strong> {position($items)}</div>
  <div class="gamelist_new">
    {$filters = array()}
    {$filters["game_tag"] = array("全部","角色扮演","战争策略","模拟经营","社区养成","休闲竞技","儿童游戏")}
    {$filters["test_status"] = array("全部","公测","内测","研发","停运","封测","技术测试")}
    {$filters["game_theme"] = array("全部","三国","仙侠","体育","修真","军事","历史","奇幻","宠物","格斗","武侠","玄幻","神话","科幻","竞速","都市","魔幻")}
    {$filters["game_status"] = array("全部","免费","时间收费","道具收费")}
    {$filters["game_effect"] = array("全部","3D","2.5/2.8D","2D")}
    {foreach $filters as $filter}
      <ul>
	  <h1><span style="line-height: 30px;" class="p12 strong backa">{$filter@key|LANG}：</span></h1>
      {foreach $filter as $item}
      {$item_title=$item}
      {$item_tag=$filter@key}
      {if $item=="全部"}{$item=""}{/if}
      <li><a {if $smarty.get[$filter@key] == $item}class="p12 strong org"{/if} href="{getGameFilterLink($smarty.get,["{ldelim}$$item_tag{rdelim}"=>"{$item}"])}">{$item_title}</a></li>
      {/foreach}
      </ul>
    {/foreach}
  </div>
  <div style="float:right; overflow:hidden; width:868px; margin-bottom:10px;">
    <script type="text/javascript">
      _loadAnalysis("gameTopRec");
    </script>
    <div class="gamelist_22">
      <script type="text/javascript">
        _loadAnalysis("gameTextLink");
      </script>
    </div>
    <div class="gamelist_22">
			<div style="overflow: hidden; float: left; margin-right: 7px;">
			  <script type="text/javascript">
			    _loadAnalysis("gameBannerLeft");
			  </script>
			</div>
			<div style="overflow: hidden; float: left; margin-right: 7px;">
			  <script type="text/javascript">
			    _loadAnalysis("gameBannerMiddle");
			  </script>
			</div>
			<div style="overflow: hidden; float: left">
			  <script type="text/javascript">
			    _loadAnalysis("gameBannerRight");
			  </script>
			</div>
    </div>
    <div class="box_line picbox" style="overflow:hidden; padding:10px 5px 13px 0px;margin-top:5px; width:860px;">
      <ul class="abc">
        <li style="text-indent:10px;">
            <a class="p12 strong backa" href="javascript:void(0);">拼音选择：</a>
        </li>
        {$game_pinyin = array("全部", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z")}
          {foreach $game_pinyin as $item}
          {$item_title=$item}
          {if $item=="全部"}{$item=""}{/if}
          <li><a class="p12{if $smarty.get['game_pinyin'] == $item} strong org{/if}" href="{getGameFilterLink($smarty.get,['{$game_pinyin}'=>"{$item}"])}">{$item_title}</a></li>
          {/foreach}
      </ul>
      <div class="choosed">
	  <h3 style="text-indent:10px;margin-right:0;" class="p12">您已选择：</h3>
      {foreach $filters as $filter}
      {$item_tag=$filter@key}
      {if isset($smarty.get[$item_tag]) and !empty($smarty.get[$item_tag])}
      <a href="{getGameFilterLink($smarty.get,["{ldelim}$$item_tag{rdelim}"=>''])}">{$smarty.get[$item_tag]}<b></b></a>
      {/if}
      {/foreach}
      </div>
      <div class="bq_div">
	  <div class="bottom_line" id="hotGameNav">
	      <a class="{if $gamesort == 1}flh1_up{else}flh1_on{/if}" href="{getGameFilterLink($smarty.get,['{$gamesort}'=>1])}">最新入库</a>
	      <a class="{if $gamesort == 2}flh1_up{else}flh1_on{/if}" href="{getGameFilterLink($smarty.get,['{$gamesort}'=>2])}">开服量最多</a>
	      <a class="{if $gamesort == 3}flh1_up{else}flh1_on{/if}" href="{getGameFilterLink($smarty.get,['{$gamesort}'=>3])}">最多人赞</a>
	      <a class="{if $gamesort == 4}flh1_up{else}flh1_on{/if}" href="{getGameFilterLink($smarty.get,['{$gamesort}'=>4])}">评分最高</a>
	  </div>
      </div>
      <div style="width:100%; padding-right:5px;  float:left;">
      {foreach $lists as $item}
        <ul class="position_div fl">
          <li style="height:150px; overflow: hidden">
            <p><a href="{$item|zqurl}" target="_blank"><img src="{$item.game_thumb}" alt="{$item.game_name}" class="imgboxs" /></a></p>
            <p class="gl_gname"><a href="{$item|zqurl}" target="_blank">{$item.game_name}</a></p>
            {if $smarty.get['gamesort'] == 1}<p class="gray">{date("Y-m-d", $item.pubdate)}</p>{/if}
            {if $smarty.get['gamesort'] == 2}<p class="gray">总开服：{$item.kaifu_count}</p>{/if}
            {if $smarty.get['gamesort'] == 3}<p class="gray">热度：{$item.goodpost}</p>{/if}
            {if $smarty.get['gamesort'] == 4}<p class="gray"><img src="{$style_dir}/images/{intval($item.scores/$item.scorecount)}.jpg"></p>{/if}
            <p name="Tag" value="{$item.game_id}">
							<span class="havegift" id="game_{$item.game_id}"></span>
							<span id="game_screen_{$item.game_id}"></span>
							<span class="newserver" id="game_new_{$item.game_id}"></span>
						</p>
          </li>
        </ul>
      {/foreach}
      </div>
    </div>
    <div class="qdiv">{$pages}</div>
  </div>
</div>
<script>
	GameInfo.getGameOther();
</script>
{include "../footer.html"}
</body>
</html>