
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$site_config.charset}" />
<title>{$title}_{$site_config.site_name}</title>
<meta name="keywords" content="{$site_config.site_keywords}" />
<meta name="description" content="{$site_config.site_description}" />
{include "../styles.html" caching}
<link href="{$style_dir}/style/ver4.css?v=20120831" rel="stylesheet" type="text/css" />
{include "../scripts.html" caching}
</head>
<body>
{include "../head.html"}
<div id="content">
  <div id="pathway"><strong>当前位置:</strong> {position($items)}</div>
  <div class="gamelist_new">
      <ul>
	  <h1><span style="line-height: 30px;" class="p12 strong backa">游戏分类：</span></h1>
	  <li><a href="{getTypeLink('game')}" class="p12">全部</a></li>
    <li><a {if $smarty.get['game_tag'] == '角色扮演'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_tag}'=>'角色扮演'])}">角色扮演</a></li>
	  <li><a {if $smarty.get['game_tag'] == '战争策略'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_tag}'=>'战争策略'])}">战争策略</a></li>
	  <li><a {if $smarty.get['game_tag'] == '模拟经营'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_tag}'=>'模拟经营'])}">模拟经营</a></li>
	  <li><a {if $smarty.get['game_tag'] == '社区养成'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_tag}'=>'社区养成'])}">社区养成</a></li>
	  <li><a {if $smarty.get['game_tag'] == '休闲竞技'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_tag}'=>'休闲竞技'])}">休闲竞技</a></li>
	  <li><a {if $smarty.get['game_tag'] == '儿童游戏'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_tag}'=>'儿童游戏'])}">儿童游戏</a></li>
      </ul>
      <ul>
	  <h1><span style="line-height: 30px;" class="p12 strong backa">题材分类：</span></h1>
	  <li><a href="{getTypeLink('game')}" class="p12">全部</a></li>
	  <li><a {if $smarty.get['game_theme'] == '三国'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'三国'])}">三国</a></li>
	  <li><a {if $smarty.get['game_theme'] == '仙侠'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'仙侠'])}">仙侠</a></li>
	  <li><a {if $smarty.get['game_theme'] == '体育'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'体育'])}">体育</a></li>
	  <li><a {if $smarty.get['game_theme'] == '修真'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'修真'])}">修真</a></li>
	  <li><a {if $smarty.get['game_theme'] == '军事'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'军事'])}">军事</a></li>
	  <li><a {if $smarty.get['game_theme'] == '历史'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'历史'])}">历史</a></li>
	  <li><a {if $smarty.get['game_theme'] == '奇幻'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'奇幻'])}">奇幻</a></li>
	  <li><a {if $smarty.get['game_theme'] == '宠物'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'宠物'])}">宠物</a></li>
	  <li><a {if $smarty.get['game_theme'] == '格斗'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'格斗'])}">格斗</a></li>
	  <li><a {if $smarty.get['game_theme'] == '武侠'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'武侠'])}">武侠</a></li>
	  <li><a {if $smarty.get['game_theme'] == '玄幻'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'玄幻'])}">玄幻</a></li>
	  <li><a {if $smarty.get['game_theme'] == '神话'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'神话'])}">神话</a></li>
	  <li><a {if $smarty.get['game_theme'] == '科幻'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'科幻'])}">科幻</a></li>
	  <li><a {if $smarty.get['game_theme'] == '竞速'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'竞速'])}">竞速</a></li>
	  <li><a {if $smarty.get['game_theme'] == '都市'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'都市'])}">都市</a></li>
	  <li><a {if $smarty.get['game_theme'] == '魔幻'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_theme}'=>'魔幻'])}">魔幻</a></li>
      </ul>
      <ul>
	  <h1><span style="line-height: 30px;" class="p12 strong backa">状态：</span></h1>
	  <li><a href="{getTypeLink('game')}" class="p12">全部</a></li>
	  <li><a {if $smarty.get['game_status'] == '免费'}    class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_status}'=>'免费'])}">免费</a></li>
	  <li><a {if $smarty.get['game_status'] == '时间收费'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_status}'=>'时间收费'])}">时间收费</a></li>
	  <li><a {if $smarty.get['game_status'] == '道具收费'}class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_status}'=>'道具收费'])}">道具收费</a></li>
      </ul>
      <ul>
	  <h1><span style="line-height: 30px;" class="p12 strong backa">画面：</span></h1>
	  <li><a href="{getTypeLink('game')}" class="p12">全部</a></li>
	  <li><a {if $smarty.get['game_effect'] == '3D'}       class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_effect}'=>'3D'])}">3D</a></li>
	  <li><a {if $smarty.get['game_effect'] == '2.5/2.8D'} class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_effect}'=>'2.5/2.8D'])}">2.5/2.8D</a></li>
	  <li><a {if $smarty.get['game_effect'] == '2D'}       class="p12 strong org"{/if} href="{getTypeLink('game','',['{$game_effect}'=>'2D'])}">2D</a></li>
      </ul>  
  </div>
  <div style="float:right; overflow:hidden; width:868px; margin-bottom:10px;">
    <script type="text/javascript">
      _loadAnalysis("gameTopRec");
    </script>
    <div class="gamelist_22">
      <script type="text/javascript">
        _loadAnalysis("gameTextLink");
      </script>
    </div>
    <div class="gamelist_22">
			<div style="overflow: hidden; float: left; margin-right: 7px;">
			  <script type="text/javascript">
			    _loadAnalysis("gameBannerLeft");
			  </script>
			</div>
			<div style="overflow: hidden; float: left; margin-right: 7px;">
			  <script type="text/javascript">
			    _loadAnalysis("gameBannerMiddle");
			  </script>
			</div>
			<div style="overflow: hidden; float: left">
			  <script type="text/javascript">
			    _loadAnalysis("gameBannerRight");
			  </script>
			</div>
    </div>
    <div class="box_line picbox" style="overflow:hidden; padding:10px 5px 13px 0px;margin-top:5px; width:860px;">
      <!--
      <div class="choosed">
	  <h3 style="text-indent:10px;margin-right:0;" class="p12">您已选择：</h3>
      </div>
      -->
      <div class="bq_div">
	  <div class="bottom_line" id="hotGameNav">
	      <a class="{if $gamesort == 1}flh1_up{else}flh1_on{/if}" href="{getTypeLink('game','',['{$gamesort}'=>1])}">最新入库</a>
	      <a class="{if $gamesort == 2}flh1_up{else}flh1_on{/if}" href="{getTypeLink('game','',['{$gamesort}'=>2])}">开服量最多</a>
	      <a class="{if $gamesort == 3}flh1_up{else}flh1_on{/if}" href="{getTypeLink('game','',['{$gamesort}'=>3])}">最多人赞</a>
	      <a class="{if $gamesort == 4}flh1_up{else}flh1_on{/if}" href="{getTypeLink('game','',['{$gamesort}'=>4])}">评分最高</a>
	  </div>
      </div>
      <div style="width:100%; padding-right:5px;  float:left;">
      {foreach $lists as $item}
        <ul class="position_div fl">
          <li style="height:150px; overflow: hidden">
            <p><a href="{$item|zqurl}" target="_blank"><img src="{$item.game_thumb}" alt="{$item.game_name}" class="imgboxs" /></a></p>
            <p class="gl_gname"><a href="{$item|zqurl}" target="_blank">{$item.game_name}</a></p>
            {if $smarty.get['gamesort'] == 1}<p class="gray">{date("Y-m-d", $item.pubdate)}</p>{/if}
            {if $smarty.get['gamesort'] == 2}<p class="gray">总开服：{$item.kaifu_count}</p>{/if}
            {if $smarty.get['gamesort'] == 3}<p class="gray">热度：{$item.goodpost}</p>{/if}
            {if $smarty.get['gamesort'] == 4}<p class="gray"><img src="{$style_dir}/images/{intval($item.scores/$item.scorecount)}.jpg"></p>{/if}
            <p name="Tag" value="{$item.game_id}">
							<span class="havegift" id="game_{$item.game_id}"></span>
							<span id="game_screen_{$item.game_id}"></span>
							<span class="newserver" id="game_new_{$item.game_id}"></span>
						</p>
          </li>
        </ul>
      {/foreach}
      </div>
    </div>
    <div class="qdiv">{$pages}</div>
  </div>
</div>
<script>
	GameInfo.getGameOther();
</script>
{include "../footer.html"}
</body>
</html>