<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$site_config.charset}" />
<title>{$title}_{$site_config.site_name}</title>
<meta name="keywords" content="{$site_config.site_keywords}" />
<meta name="description" content="{$site_config.site_description}" />
{include "../styles.html" caching}
<link href="{$style_dir}/style/inner_5.css?v=20120831" rel="stylesheet" type="text/css" />
{include "../scripts.html" caching}
</head>
<body>
{include "../head.html"}
<div id="main_nav">
  <div class="secondary_menu boder_base">
    <script type="text/javascript">
      _loadAnalysis("navGameRecom");
    </script>
  </div>
</div>
<div id="content">
  <div id="pathway"><strong>当前位置:</strong> {position($items)}</div>
  <div class="fl newsinfo_topline boder_base newsinfo_left">
  <ul>
    {foreach $lists as $item}
    <li class="b_line">
      <div class="fl p14 blue news_detailliset lh40">
          <a href="{$item|zqurl}" class="blue" target="_blank">{$item.title}</a></div>
      <br>
      <div class="fl hcolour gray news_detailliset">
          发布日期：{date('Y-m-d',$item.pubdate)}
          <span class="gray decoration">点击：{$item.click}</span>
      </div>
      <br>
      <div class="news_detailliset mt lh24 mb">{$item.description}</div>
    </li>
    {/foreach}    
  </ul>
  <div class="qdiv">{$pages}</div>
  </div>
  <div class="fr newsinfo_right">
    <div class="picbd boder_base adv160">
      <script type="text/javascript">
        _loadAnalysis("contentRtPicAD");
      </script>
    </div>
    <div class="fl boder_base r_box  padding_10 mt">
       <h2 class="p14 black strong lh30 nomal_h2back">图片推荐</h2>
      <div class="more"><a href="{getTypeLink('gallery')}" target="_blank" title="查看更多精彩图片" class="blue">更多&gt;&gt;</a></div>
    	 <ul class="pic_push mt_5">
        {get_gallery_list assign='items' limit='0,4'}
 				{foreach $items as $item}
         <li class="">
            <a class="lh24" href="{$item|zqurl}" title="{$item.title}" target="_blank">
                    <img width="140" height="110" class="picbd" src="{getArticleThumb($item,140,110)}">
                    <center><p>{$item.title}</p></center>
            </a>
          </li>
        {/foreach}
      </ul>
    </div>
  <div class="fl boder_base r_box  padding_10 Ranking mt">
      <h2 class="p14 black strong lh30 nomal_h2back ">新闻点击榜</h2>
      <div class="more"><a href='{getTypeLink("article")}' target="_blank" class="blue">更多&gt;&gt;</a></div>
    <ul class="lh24 fl">
    {get_article_list assign='items' orderby='click' limit='0,10'}
    {foreach $items as $item}
    <li>
        <span class="">{$item@iteration}</span>
        <a target="_blank" title="{$item.title}" href="{$item|zqurl}">{$item.title}</a>
    </li>
    {/foreach}
    </ul>
  </div>
  </div>
</div>

{include "../footer.html"}
</body>
</html>
