<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$site_config.charset}" />
<title>{$title}_{$site_config.site_name}</title>
<meta name="keywords" content="{$site_config.site_keywords}" />
<meta name="description" content="{$site_config.site_description}" />
{include "../styles.html" caching}
{include "../scripts.html" caching}
</head>
<body>
{include "../head.html"}
<div id="content">
  <div id="pathway"><strong>当前位置:</strong> {position($items)}</div>
	<div class="boxmodel operator">
       	<h1 class="p20 h1yb">所有运营商列表</h1>
		<div class="linediv">
			<a href="{getTypeLink('company','',['{$sort}'=>1])}" class="{if $smarty.get.sort==1}enterpart_active{else}enterpart backa{/if}">按旗下运营的游戏数↓</a>&nbsp;
			<a href="{getTypeLink('company','',['{$sort}'=>2])}" class="{if $smarty.get.sort==2}enterpart_active{else}enterpart backa{/if}">按入驻时间排序↓</a>
		<ul>
      
      {foreach $lists as $item}
			<li style="height:150px"> <a href="{$item|zqurl}" target="_blank"><img src="{$item.company_thumb}" alt="{$item.short_name}" width="180" height="90" /></a>
				<p><a href="{$item|zqurl}" target="_blank">{$item.short_name}</a></p>
				<p>旗下运营游戏：{$item.game_count} 款</p>
			</li>
      {/foreach}
	  </ul>
	</div>
	<div style=" clear:both"></div>
	<div class="qdiv">{$pages}</div>

</div>
{include "../footer.html"}
</body>
</html>