<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$site_config.charset}" />
<title>{$site_config.site_name}</title>
<meta name="keywords" content="{$site_config.site_keywords}" />
<meta name="description" content="{$site_config.site_description}" />
{include "../styles.html" caching}
<link href="{$style_dir}/style/index_5.css?v=20120831" rel="stylesheet" type="text/css" />
{include "../scripts.html" caching}
</head>
<body>
    {include "../head.html"}
    <div id="main_nav">
    	<div class="secondary_menu boder_base">
    		<div class="s_menu">
    			<span class="games_h2 white">玄幻仙侠</span>
          {get_game_list assign='items' flag='f' theme='玄幻,仙侠' limit='0,10'}
          {foreach $items as $item}
  				<a href='{$item|zqurl}' title='{$item.game_name}' target='_blank' class="sline r_line black"{if $item.color} style="color: {$item.color};"{/if}>{$item.game_name}</a>
          {/foreach}
    		</div>
    		
    		<div class="s_menu">
				<span class="games_h2 white">三国战争</span>
        {get_game_list assign='items' flag='f' theme='三国,战争' limit='0,10'}
        {foreach $items as $item}
				<a href='{$item|zqurl}' title='{$item.game_name}' target='_blank' class="sline r_line black"{if $item.color} style="color: {$item.color};"{/if}>{$item.game_name}</a>
        {/foreach}
			</div>

			<div class="s_menu">
       			<span class="games_h2 white">热血武侠</span>
            {get_game_list assign='items' flag='f' theme='热血,武侠' limit='0,10'}
            {foreach $items as $item}
    				<a href='{$item|zqurl}' title='{$item.game_name}' target='_blank' class="sline r_line black"{if $item.color} style="color: {$item.color};"{/if}>{$item.game_name}</a>
            {/foreach}
       		</div>

       		<div class="s_menu">
				<span class="games_h2 white">奇幻历史</span>
        {get_game_list assign='items' flag='f' theme='奇幻,历史' limit='0,10'}
        {foreach $items as $item}
				<a href='{$item|zqurl}' title='{$item.game_name}' target='_blank' class="sline r_line black"{if $item.color} style="color: {$item.color};"{/if}>{$item.game_name}</a>
        {/foreach}
			</div>

			<div class="s_menu2 boder_base">
				<h2 class="fl p12"><span class="strong gray" >最新游戏入库</span>：</h2>
                <span class="newgame_list">
                  {get_game_list assign='items' limit='0,15' orderby='pubdate' orderway='desc'}
                  {foreach $items as $item}
          				<a href='{$item|zqurl}' title='{$item.game_name}' target='_blank' class="sline r_line black"{if $item.color} style="color: {$item.color};"{/if}>{$item.game_name}</a>
                  {/foreach}
                </span>
                <a href='{getTypeLink("game")}' target="_blank" class="gray more_newgames">更多&gt;&gt;</a>
            </div>
            <script type="text/javascript">
              _loadAnalysis("navGameRecom");
            </script>
    	</div>
    </div>
    <script type="text/javascript">
	    $(function(){
			$('#newsSlider').loopedSlider({
				autoStart: 4000
			});
			
			$("#enter_lab").click(function(){
				window.location=$(this).find("a").attr("href"); return false;
			});
	    });
	</script>

    <div class="content">
    	<div id="flashbanner" class="fl"> 
    		<div id="newsSlider">
        		<div class="container" style="width:390px;overflow: hidden;height:160px;position: relative;">
        			<ul id="slides" class="slides">
                {get_article_list assign='items' flag='f' limit='0,6'}
                {foreach $items as $item}
                <li>
                  <div class='slide_c_r'>
                		<a target="_blank" class="fl slideimg" tilte="{$item.title}" href="{$item|zqurl}">
                		    <img width="390" height="160" alt="{$item.title}" src="{getArticleThumb($item,390,160)}">
                		</a>
                	</div>
                </li>
                {/foreach}
        			</ul>
        		</div>

        		<div class=" nav_fl fl"><ul id="pagination_slider" class="pagination_slider t8 fr"></ul></div>
        		<script type="text/javascript">
			    	var slideNav = "";
				    $("#slides").find("li").each(function(){
					    slideNav += '<li class="fl_vist"><a href="#"></a></li>';
				    });
				    $("#pagination_slider").html(slideNav);
		        </script>
        	</div>
        </div>

        <div id="kaf_list" class="fr boder_blue">
        	<h2>
        		<a id="sv_t_1" href="javascript:void(0);" onclick="shift_choose(1,'sv_t_',2,['list_up'],['list_on']);" class="list_on fl p14 black"><strong>网页游戏开服表</strong><span class="p12">（今日开服{get_today_kaifu_count()}组）</span></a>

        		<a id="sv_t_2" href="javascript:void(0);" onclick="shift_choose(2,'sv_t_',2,['list_up'],['list_on_r']);" class="list_up fl p14 black"><strong>网游开测表 </strong><span class="p12">（今日{get_today_kaice_count()}款游戏开测）</span></a>
        	</h2>

        	<div id="sv_t_1_content">
  	       <div class="kaf_title fl"> 
  					<a id="slist_1" href="javascript:void(0);" onclick="shift_choose(1,'slist_',4,['title_up','black'],['title_on','blue','strong']);" class="title_on blue strong">推 荐</a>
  					<a id="slist_2" href="javascript:void(0);" onclick="shift_choose(2,'slist_',4,['title_up','black'],['title_on','blue','strong']);" class="title_up black ">今 日</a>
  					<a id="slist_3" href="javascript:void(0);" onclick="shift_choose(3,'slist_',4,['title_up','black'],['title_on','blue','strong']);" class="title_up black">昨 日</a>
  					<a id="slist_4" href="javascript:void(0);" onclick="shift_choose(4,'slist_',4,['title_up','black'],['title_on','blue','strong']);" class="title_up black">明 日</a> 
  					<a href="{getTypeLink('kaifu')}" target="_blank" class="more_index fr lh40"> &gt;&gt; 进入新服大全</a>
  	        </div>
            <ul class="titlecolor">
            	<li class="li_1">开服时间</li>
            	<li class="li_2">游戏</li>
            	<li class="li_2">服务器</li>
            	<li class="li_3">平台</li>
            	<li class="li_3">题材</li>
            	<li class="li_5">状态</li>
            	<li class="li_6">礼包</li>
  		  		</ul>
  		  		<div id="slist_1_content">
  					  <div class="hotcolor" id="ad_serverlist">
                {get_recomm_kaifu_list assign='items' flag='c' limit='0,19' orderby='test_date'}
                {foreach $items as $item}
                <ul><li class="li_1"><span class="red clockicon">{date("m日d日", $item.test_date)}</span></li><li class="li_2 red"><a href="{getGameURL($item.game_id)}" title="{$item.game_name}" target="_blank">{$item.game_name}</a></li><li class="li_2">{$item.server_name}</li><li class="li_3"><span>{$item.oper_short_name}</span></li><li class="li_3"><a href="#" target="_blank">{$item.game_tag}</a></li><li class="li_5"><a href="{getGameURL($item.game_id)}" target="_blank">进入游戏</a></li><li class="li_6"><a class="lq_bt white" href="{getGameURL($item.game_id)}">领取</a></li></ul>
                {/foreach}
  					  </div>
  				  </div>
            {$kaifu_days=["today","yesterday","tomorrow"]}
            {foreach $kaifu_days as $kaifu_day}
  				  <div id="slist_{$kaifu_day@index + 2}_content"{if $kaifu_day@index > 0} style="display: none;"{/if}>
              {get_kaifu_list assign='items' limit='0,19' orderby='test_date' day="$kaifu_day"}
              {foreach $items as $item}
              <ul><li class="li_1"><span class="red clockicon">{date("m日d日", $item.test_date)}</span></li><li class="li_2 red"><a href="{getGameURL($item.game_id)}" title="{$item.game_name}" target="_blank">{$item.game_name}</a></li><li class="li_2">{$item.server_name}</li><li class="li_3"><span>{$item.oper_short_name}</span></li><li class="li_3"><a href="#" target="_blank">{$item.game_tag}</a></li><li class="li_5"><a href="{getGameURL($item.game_id)}" target="_blank">进入游戏</a></li><li class="li_6"><a class="lq_bt white" href="{getGameURL($item.game_id)}">领取</a></li></ul>
              {/foreach}
  	        </div>
            {/foreach}
	        </div>

	        <div id="sv_t_2_content" style="display: none;">
	        	<div  class="lise_kaice" >
				<div class="more_index"><a href="{getTypeLink('kaice')}" target="_blank" title="更多网游测试表">更多网游测试表&gt;&gt;</a></div>
					<ul class="titlecolor">
					    <li class="li_1">开测日期</li>
					    <li class="li_2">游戏名称</li>
					    <li class="li_2">测试类型</li>
					    <li class="li_3">游戏类型</li>
					    <li class="li_5">运营公司</li>
					    <li class="li_6">礼包</li>
					</ul>
          {get_kaice_list assign='items' limit='0,19' orderby='test_date' day="today"}
          {foreach $items as $item}
          <ul>
    		    <li class="li_1 red "><span class="">{date("m日d日", $item.test_date)}</span></li>
    		    <li class="li_2 red">{$item.game_name}</li>
    		    <li class="li_2">{$item.test_status}</li>
    		    <li class="li_3"><a href="#" target="_blank" title="{$item.game_tag}">{$item.game_tag}</a></li>
    		    <li class="li_5"><span>{$item.oper_short_name}</span></li>
    		    <li class="li_6"><a href='{getGameURL($item.game_id)}' target="_blank" class="lq_bt white ling">领取</a></li>
      		</ul>
          {/foreach}
				</div>
			</div>
	    </div>

	    <div class="boder_base mt newsnav">
	    	<div class="f_news">
				<h2>
          {get_article_list assign='items' flag='h' limit='0,2'}
          {foreach $items as $item}
          <a class=" p14 red strong lh20" href="{$item|zqurl}" target="_blank">{str_cut($item.title, 30, '')}</a>
          {/foreach}
				</h2>
				<div class="left">
          {get_article_list assign='items' flag='h' limit='4,3'}
          {foreach $items as $item}
	  				<a class=" p12 black lh20" href="{$item|zqurl}" target="_blank">[{str_cut($item.title, 21, '')}]</a>
          {/foreach}
     			</div>
     			<h2>
            {get_article_list assign='items' flag='h' limit='2,2'}
            {foreach $items as $item}
            <a class=" p14 red strong lh20" href="{$item|zqurl}" target="_blank">{str_cut($item.title, 30, '')}</a>
            {/foreach}
	  			</h2>
	  			<div class="left">
            {get_article_list assign='items' flag='h' limit='7,3'}
            {foreach $items as $item}
  	  				<a class=" p12 black lh20" href="{$item|zqurl}" target="_blank">[{str_cut($item.title, 21, '')}]</a>
            {/foreach}
	 			  </div>
	    	</div>

	    	<ul class="newslist_yb lh24 fl">
        {get_article_list assign='items' flag='c' limit='0,12'}
        {foreach $items as $item}
				<li><span class="fl p14 newslist_clss"></span><a class="" target="_blank" href="{$item|zqurl}" title="{$item.title}">{$item.title}</a></li>
				{/foreach}
			</ul>
			<div class="more_index" >
				<a href='{getTypeLink("article")}' target="_blank" class="fr p12 blue lh24">更多&gt;&gt;</a>
			</div>
	    </div>
	    <div class="mt relative tonglan"></div>
	    <div class="newsnav_2 boder_base mt fl">
        {$tag_list1=["游戏资讯","海外资讯","产业新闻"]}
	    	<h2 class="nomal_h2back">
          {foreach $tag_list1 as $tag}
	    		 <a id="whsy_{$tag@iteration}" href="javascript:void(0);" onclick="shift_choose({$tag@iteration},'whsy_',3,['changebt_up','black'],['changebt_on','org']);" class="{if $tag@iteration == 1}changebt_on org{else}changebt_up black{/if} p14 strong">{$tag}</a>
          {/foreach}
        	</h2>
          {foreach $tag_list1 as $tag}
        	<div id="whsy_{$tag@iteration}_content" class="hidden"{if $tag@iteration gt 1} style="display:none;"{/if}>
        		<ul class="newslist_yb lh24 fl">
          {get_articles_byTagName assign="items" noflag='f,h,c' tagname="$tag" limit="0,14"}
					{foreach $items as $item}
					<li>
						<a class="" target="_blank" href="{$item|zqurl}" title="{$item.title}">{str_cut($item.title,80,"")}</a><span>{date('m-d',$item.pubdate)}</span>
					</li>
					{/foreach}
            </ul>
	    		<div class="more_index"><a href='{getTypeLink("article","$tag")}' target="_blank" class="fr p12 blue lh24">更多&gt;&gt;</a></div>
        	</div>
          {/foreach}
        </div>

        <div class="mt ml fl boder_blue" id="NumberCenter">
        	<h2 class="h2_yb1 h2_28"><span class="fl p14 strong black lh28">发号中心</span><a target="_blank" href="{getTypeLink('gift')}" class="fr org p12 lighter">共有{get_gift_count()}个礼包正在发放</a></h2>
        	<ul class="table titlecolor">
		    	<li class="t1">日期</li>
		    	<li class="t2">游戏名称</li>
		    	<li class="t3">礼包名称</li>
		    	<li class="t3">运营商</li>
		    	<li class="t4">领取</li>
		    </ul>
		    <div class="table">
        {get_gift_list assign='items' limit='0,13' orderby='send_date' orderway='desc' day="today"}
        {foreach $items as $item}
				<ul>
				    <li class="t1">{date('m-d',$item.send_date)}</li>
				    <li class="t2"><a href="{getGameURL({$item.game_id})}" title="{$item.game_name}" target="_blank">{$item.game_name}</a></li>
				    <li class="t3">{$item.gift_title}</li>
				    <li class="t3">{$item.oper_short_name}</li>
				    <li class="t4"><a class="white lq_bt ling" href="{getGameURL({$item.game_id})}" target="_blank">领</a></li>
				</ul>
				{/foreach}
			</div>
        </div>

    <div class="fr mt relative index_ad_r">
      <script type="text/javascript">
        _loadAnalysis("indexRightLitpic1");
      </script>
		</div>
		<div class="mt fl ad tonglan relative">
      <script type="text/javascript">
        _loadAnalysis("indexTonLan1");
      </script>
		</div>

		<div class="fr mt boder_base developers padding_10">
    	<h2 class="p14 black strong lh28 nomal_h2back">
        <a class=" changebt_on  p14 org strong" id="gp_top_1" href="javascript:void(0);" onclick="shift_choose(1,'gp_top_',2,['changebt_up','black'],['changebt_on','org'])">开服排行</a>
    	</h2>
	    	<div id="gp_top_1_content" class="fl">
				<div class="more fr"><a class="blue" href="{getTypeLink('kaifu')}" target="_blank">更多&gt;&gt;</a></div>
				<ul>
	    			<li class="lh24 t5 fl">游戏名称</li>  <li class="lh24 t6 fl"> 开服总量</li>
				</ul>
	    	</div>
	    	<ul id="g_top_1_content" class="bang_kaifu">
				<li>
          
	  				<span class="numBer_red">[field:global.autoindex /]</span>
	    			<a href="[field:aid function='GetGameUrl(@me)' /]" title="[field:game_name /]" target="_blank">[field:game_name /]</a>
	    			<label>[field:dd /]</label>
				</li>
    		</ul>
   		</div>

   		<div class="newsnav_2 boder_base mt fl">
        {$tag_list2=["游戏攻略","人物采访","热点追踪"]}
   			<h2 class="nomal_h2back">
          {foreach $tag_list2 as $tag}
            	<a id="gl_{$tag@iteration}" href="javascript:void(0);" onclick="shift_choose({$tag@iteration},'gl_', 3,['changebt_up','black'],['changebt_on','org'])" class=" {if $tag@iteration == 1}changebt_on org{else}changebt_up black{/if} p14 strong">{$tag}</a>
          {/foreach}
    		</h2>
        {foreach $tag_list2 as $tag}
    		<div id="gl_{$tag@iteration}_content" class="hidden"{if $tag@iteration gt 1} style="display:none;"{/if}>        
      		<ul class="newslist_yb lh24 fl">
        {get_articles_byTagName assign="items" noflag='f,h,c' tagname="$tag" limit="0,14"}
				{foreach $items as $item}
				<li>
					<a class="" target="_blank" href="{$item|zqurl}" title="{$item.title}">{str_cut($item.title,80,"")}</a><span>{date('m-d',$item.pubdate)}</span>
				</li>
				{/foreach}
          </ul>
				<div class="more_index"><a href='{getTypeLink("article","$tag")}' target="_blank" class="fr p12 blue lh24">更多&gt;&gt;</a></div>
   			</div>
        {/foreach}
		</div>

		<div class="fl ml mt boder_base r_box "  >
		    <script type="text/javascript">
			    $(function(){
				    $('#newsSlider_2').loopedSlider({
					    autoStart: 4000
				    });
					$("#enter_lab").click(function(){
					    window.location=$(this).find("a").attr("href"); return false;
				    });
			    });
			</script>

			<div id="newsSlider_2" >
				<h2 class="p14 black strong lh28 nomal_h2back">&nbsp;厂商活动</h2>
        		<ul id="pagination_slider_2" class="pagination_slider more fr"></ul>
        		<div class="container " style="position: relative;width: 335px;overflow: hidden;height: 105px;">
        			<ul id="slides_2" class="slides fl">
                {get_articles_byTagName assign="items" noflag='f,h,c' tagname="厂商活动" limit="0,6"}
          			{foreach $items as $item}
                {if $item@iteration is not div by 2}<li>{/if}
          		    <div class='{if $item@iteration is div by 2}slide_c_r{else}slide_c{/if}'>
              			<a target="_blank" class="fl slideimg" tilte="{$item.title}" href="{$item|zqurl}">
              			    <img width="150" height="65" alt="{$item.title}" src="{getArticleThumb($item,150,65)}">
              			</a>        
              			<a class="flashh1" target="_blank" tilte="{$item.title}" href="{$item|zqurl}">{$item.title}</a>
          		    </div>
                {if $item@iteration is div by 2}</li>{/if}
                {/foreach}
        			</ul>
        		</div>
        		<script type="text/javascript">
				    var slideNav = "";
				    $("#slides_2").find("li").each(function(){
					    slideNav += '<li class="r_reactive"><a href="#"></a></li>';
				    });
				    $("#pagination_slider_2").html(slideNav);
		        </script>
			</div>
		</div>

		<div class="fl ml mt boder_base r_box  padding_10">
    		<h2 class="p14 black strong lh28 nomal_h2back">&nbsp;游戏评测</h2>
    		<div class="more"><a href='{getTypeLink("article","游戏评测")}' target="_blank" class="blue">更多&gt;&gt;</a>
    		</div>
    		<ul class="fl gray">
        {get_articles_byTagName assign="items" noflag='f,h,c' tagname="游戏评测" limit="0,2"}
  			{foreach $items as $item}
				<li> 
				    <a target="_blank" href="{$item|zqurl}" title="{$item.title}" class="fl">
					<img src="{getArticleThumb($item,'',80)}" height="80" class=" picbd"/>
				    </a>
				    <div class="fl lh20 mt wind_width">
					<a target="_blank" href="{$item|zqurl}" class=" p14 blue">{str_cut($item.title,45,"")}</a>
					<p>{str_cut($item.description,160)}</p>
				    </div>
				</li>
        {/foreach}
    		</ul>
  		</div>

  		<div class="mt fl relative tonglan">
        <script type="text/javascript">
          _loadAnalysis("indexTonLan2");
        </script>
  		</div>

  		<div class="newgames mt boder_base  fl">
    		<h2 class=" lh28 p14 strong h2_yb2 nomal_h2back">最新测试游戏</h2>
    		<div class="more">
    		<a href="{getTypeLink('game','战争策略')}" target="_blank">战争策略</a> | 
				<a href="{getTypeLink('game','模拟经营')}" target="_blank">模拟经营</a> |
				<a href="{getTypeLink('game','社区养成')}" target="_blank">社区养成</a> |
				<a href="{getTypeLink('game','休闲竞技')}" target="_blank">休闲竞技</a> |
				<a href="{getTypeLink('game','儿童游戏')}" target="_blank">儿童游戏</a> |
				<a href="{getTypeLink('game','角色扮演')}" target="_blank">角色扮演</a> |
				<a href="{getTypeLink('game','社区游戏')}" target="_blank">社区游戏</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="{getTypeLink('game')}" target="_blank" class="blue">更多&gt;&gt;</a>
    		</div>
    		<ul>
          {get_game_list assign='items' limit='0,7' orderby='pubdate' orderway='desc'}
          {foreach $items as $item}
          <li>
      	    <a href="{$item|zqurl}" title="{$item.game_name}" target="_blank"><img width="120" height="120" class="picbd" src="{$item.game_avatar}" alt="{$item.game_name}"></a>
           	<p><a class="" href="{$item|zqurl}" target="_blank" title="{$item.game_name}">{$item.game_name}</a></p>
      	    <p class="gray">{$item.game_tag}</p>
      	    <p class="gray">{$item.game_status}</p>
      	    <p><a class="bt_enter white" href="{$item|zqurl}" target="_blank">进入</a></p>
          </li>
          {/foreach}
    		</ul>
		</div>

		<div class="newgames mt boder_base  fl">
		  	<h2 class="lh28 p14 strong h2_yb2 nomal_h2back">游戏截图</h2>     
			<div class="more "><a href="{getTypeLink('gallery')}" target="_blank" title="查看更多精彩图片" class="blue">更多&gt;&gt;</a></div>
		    <ul id="pic_rc_1_content">
        {get_gallery_list assign='items' limit='0,6'}
				{foreach $items as $item}
				<li>
			    <a class="lh24" href="{$item|zqurl}" title="{$item.title}" target="_blank">
    				<img width="140" height="110" class="picbd" src="{getArticleThumb($item,140,110)}">
    				<center><p>{str_cut($item.title, 30, '')}</p></center>
			    </a>
				</li>
        {/foreach}
		    </ul>
  		</div>

  		<div style=" clear:both"></div>

  		<div class="Ranking nomal_h2back_ranking boder_base fl mt mr">
	  		<h2 class="p14 strong lh28 yb_1">本周最热门</h2>
	  		<ul class="lh24 t8 fl num_top">
          {get_game_list assign='items' limit='0,10' orderby='goodpost' orderway='desc'}
          {foreach $items as $item}
          <li{if $item@iteration lte 3} class="num_top_red"{/if}><div class="wd fl"><span>{$item@iteration}</span><a href="{$item|zqurl}" title="{$item.game_name}" target="_blank">{$item.game_name}</a></div></li>
          {/foreach}
	  		</ul>
	  	</div>
      {$game_top10s=["角色扮演","战争策略","模拟经营","社区养成"]}
      {foreach $game_top10s as $game_top10}
	  	<div class="Ranking nomal_h2back_ranking boder_base fl mt{if $game_top10@index lt 3} mr{/if}">
  			<h2 class="p14 strong lh28 yb_{$game_top10@index + 2}">{$game_top10}页游前十位</h2>
  			<ul class="lh24 t8 fl num_top">
          {get_game_list assign='items' limit='0,10' tag="$game_top10" orderby='goodpost' orderway='desc'}
          {foreach $items as $item}
          <li{if $item@iteration lte 3} class="num_top_red"{/if}><span>{$item@iteration}</span><a href="{$item|zqurl}" title="{$item.game_name}" target="_blank">{$item.game_name}</a><label>{$item.goodpost}</label></li>
          {/foreach}
  			</ul>
	  	</div>
      {/foreach}
	  	<div style=" clear:both"></div>
    </div>

    <div class="fmt" style=" position:fixed;_position:absolute; bottom:223px;_bottom:0px; _margin-bottom: 0px;right:10px;width:35px;">
		<div class="fmt_nav">
			<a class="fmt_nav_a1" href="javascript:getshowfmt()" style="display:none;">展开富媒体</a>
			<a class="fmt_nav_a3" href="javascript:scroll(0,0);">回到顶部</a>
		</div>
	</div>
	<script type="text/javascript">
	  _loadAnalysis("indexFloatAD");
	</script>
{include "../footer.html"}