<div id="footer" class="p12">
<div class="key_word"><a href="{$site_config.site_basehost}{$site_config.site_indexurl}" target="_blank">网页游戏大全</a>|
<a href="{$site_config.site_basehost}{$site_config.site_indexurl}" target="_blank">网页游戏开服表</a>|
<a href="{$site_config.site_basehost}{$site_config.site_indexurl}" target="_blank">今日网页游戏开服表</a>|
<a href="{$site_config.site_basehost}{$site_config.site_indexurl}" target="_blank">明日网页游戏开服表</a>|
<a href="{$site_config.site_basehost}{$site_config.site_indexurl}" target="_blank">昨日网页游戏开服表</a>|
<a href="{$site_config.site_basehost}{$site_config.site_indexurl}" target="_blank">网游开服表</a>|
<a href="{$site_config.site_basehost}{$site_config.site_indexurl}" target="_blank">网游新服表</a>|
<a href="{$site_config.site_basehost}{$site_config.site_indexurl}" target="_blank">游戏激活码</a></div>
  <div class="gray">{$site_config.powered_by}&nbsp;&nbsp;{$site_config.site_beian}</div>
  <div style=" clear:both"></div>
</div>

<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=2&amp;pos=right&amp;uid=6519356" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END -->