<div id="tools"><div class="tminmenu ">
	<ul class="fl tminmenu_l">
		<li><a class="bhome black" href="/">首页</a></li>
    <li id="sitemap">
      <a class="black menu" href="#">站内导航</a>
      <div id="navlist" class="downlist" style="display: none;">
        <a href="{$site_config.site_indexurl}">返回首页</a>
    		{zq_typelist current_class='hover'}
    		<a href="~link~" target="_blank">~title~</a>
    		{/zq_typelist}
      </div>
    </li>
    <li><a class="black" href="http://bbs.zqcms.com" target="_blank">问题反馈</a></li>
	</ul>
</div>
</div>
<script type="text/javascript">
  _loadAnalysis("topBackground");
</script>
<div id="header" class=" boder_base">
	<div class=" headernav fl">
		<div id="logo">
	    	<h1><a href="/">
	    		<img src="{$site_config.site_basehost}{$site_config.site_indexurl}{$site_config.site_logo}" width="220" height="60" />
	    	</a></h1>
        </div>
        <div>
        	<a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$site_config.site_basehost}');" class=" szindex black">设为首页</a><a href="javascript:window.external.AddFavorite('{$site_config.site_basehost}','{$site_config.site_name}')" class=" collect black">加入收藏</a>
        </div>
    </div>
    <div id="searchnav" class="fl gray">
		<form name="formsearch" method="get" action="/search.php">
      {if empty($smarty.get["keys"])}
      {$ssskeys = "请在此输入要查找的内容"}
      {else}
      {$ssskeys = $smarty.get["keys"]}
      {/if}
      {if empty($smarty.get["stype"])}
      {$ssstype = "game"}
      {else}
      {$ssstype = $smarty.get["stype"]}
      {/if}
			<input type="hidden" id="searchtype_val" name="stype" value="{$ssstype}">
		    <div class="searchbar_5">
			    <div class="searchinputbox fl">
			     	<input type="text" value="{$ssskeys}" class="hcolour" id="keys" name="keys">
			    </div>
			    <script type="text/javascript">
					$('#keys').focus(
						function(){
							var s = $(this);
						    if(s.val() == '请在此输入要查找的内容') {
						    	s.val('');
						    }
					    }).bind('blur', 
					    function(){
						    if($.trim($('#keys').val())=='' || $('#keys').val()=='请在此输入要查找的内容'){
							    $('#keys').val('请在此输入要查找的内容').addClass('hcolour');
							    return false;
						    } else{
								$('#keys').removeClass('hcolour');
						    }
					    });
				</script>
				<div class="selectbox_5 fl searchlistbutton">
				    <div id="search_txt">
              {if $ssstype == "game"}
              游戏
              {else if $ssstype == "article"}
              资讯
              {else}
              运营商
              {/if}
            </div>
				    <div style="display: none;" id="searchType" class="downlist changelist">
						<a href="javascript:void(0);">游戏</a>
						<a href="javascript:void(0);">运营商</a>
						<a href="javascript:void(0);">资讯</a>
				    </div>
				</div>
			    <input type="submit" class="searchbutton fl search_hand" value="">
		    </div>
		</form>
	</div>
	<div id="mininfor" class="fl boder_base" >
		<div class=" mininfor_l fl">
			<div class="servernum">
				<span class="gray" >今日开服</span><br />
				<!--kaifu link-->
				<a class="white" target="_blank" href="#">{get_today_kaifu_count()}</a>
			</div>
			<p class=" gray">收录游戏</p>
        <p class=" gray">共 <a href="#" target="_blank" class="org">{get_game_count()}</a> 款</p>
	  	</div>
	  	<div class="weekhotgame fl">
			<h3 class="red fl">本周最热门</h3>
			<ul class="fl">
        {get_game_list assign='items' flag='h' limit='0,4'}
        {foreach $items as $item}
				<li>
					<a href='{$item|zqurl}' title='{$item.game_name}' target='_blank'>
						<img alt='{$item.game_name}' src="{$item.game_thumb}" width="65" height="50"  class="picbd"/>
						</a>
		      		<p><a href='{$item|zqurl}' title='{$item.game_name}' class="black" target='_blank'>{$item.game_name}</a></p>
		  		</li>
          {/foreach}
	      	</ul>
        </div>
    </div>
</div>
<div class="main_menu">
	<ul>
		<li><a href="{$site_config.site_indexurl}">首页</a></li>
		{zq_typelist currentClass='hover'}
		<li class='~class~'><a href="~link~" class="nav_2">~title~</a></li>
		{/zq_typelist}
  </ul>
</div>