<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={dede:global.cfg_soft_lang/}" />
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
{dede:include filename="styles.htm"/}
<link href="{dede:global.cfg_templets_skin/}/style/ver4.css?v=20120831" rel="stylesheet" type="text/css" />
{dede:include filename="scripts.htm"/}
<script language="javascript" type="text/javascript" src="{dede:global.cfg_templets_skin/}/picker/WdatePicker.js"></script>
</head>
<body>
{dede:include filename="head.htm"/}
<div id="content">
  <div id="pathway"><strong>当前位置:</strong> {dede:field name='position'/}
  <form method="get" action="">
  <input type="hidden" name="tid" value="11" />
  <input type="text" class="Wdate" id="d122" name="from"  onFocus="WdatePicker(
      {isShowWeek:true,
         onpicked:function(){$dp.$('d1').value=$dp.cal.getDateStr(); }
        })"/> 
  <input type="submit" value="确定" />
  </form>
    <script type="text/javascript">
    $(document).ready(function(){
      var now = new Date();
      $("#d122").val(now.getFullYear()+"-"+(now.getMonth()+1) + "-" +now.getDate())
      var getdata = location.search.substr(1).split("&");
      for (var c = 0; c < getdata.length; ++c ) {
        var d = getdata[c];
        if (d.indexOf("from=") != -1) {
          $("#d122").val(d.substr(5))
          break;  
        }
      }
    })
  </script>
  </div>
  <br/>
  <br/>
  <br/>
  <div id="kflist">
    <div class="div_top">
  <ul>
    <li class="li_6">发卡日期</li>
    <li class="li_1">游戏名称</li>
    <li class="li_4">卡名称</li>
    <li class="li_2">运营商</li>
    <li class="li_7">操作</li>
  </ul>
</div>
{dede:list typeid='11' pagesize='40' addfields='game_name,gift_title,oper_short_name,send_date,get_url' _where='~~get-game_id-gameid~~|~~get-send_date-from~~' orderby='send_date' orderway='desc' channelid='21'}
      <ul>
      <li class="li_6">[field:send_date function="MyDate('m-d',@me)" /]</li>
      <li class="li_1"><span class="p14 title">[field:game_name /]</span></li>
      <li class="li_4">[field:gift_title /]</li>
      <li class="li_2">[field:oper_short_name /]</li>
      <li class="li_7"><a href="[field:get_url /]" class="bt_getnumber white mt_5" target="_blank">领号</a></li>
    </ul>
{/dede:list} 
  </div>
  <div style=" clear:both"></div>
  <div class="dede_pages"><ul>{dede:pagelist listitem="info,index,end,pre,next,pageno" listsize="3"/}</ul></div>
</div>
{dede:include filename="footer.htm"/}
</body>
</html>