<script type="text/javascript">
var SITE_URL = "{$smarty.const.SITE_URL}";
</script>
<script type="text/javascript" src="{$style_dir}/js/json2.js?v=20120831"></script>        
<script type="text/javascript" src="{$style_dir}/js/jquery.js?v=20120831"></script>
<script type="text/javascript" src="{$style_dir}/js/jquery.popup.js?v=20120831"></script>
<script type="text/javascript" src="{$style_dir}/js/common.js?v=20120831"></script>
<script type="text/javascript" src="{$style_dir}/js/loopedslider.min.js?v=20120831"></script>
<script type="text/javascript" src="{$style_dir}/js/swfobject_2_2.min.js?v=20120831"></script>
<script type="text/javascript" src="{$style_dir}/js/analysis.js?v=20120831"></script>