<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$site_config.charset}" />
<title>{$title}_{$site_config.site_name}</title>
<meta name="keywords" content="{$site_config.site_keywords}" />
<meta name="description" content="{$site_config.site_description}" />
{include "../styles.html" caching}
<link href="{$style_dir}/style/ver4.css?v=20120831" rel="stylesheet" type="text/css" />
{include "../scripts.html" caching}
</head>
<body>
{include "../head.html"}
<div id="content">
	<div id="pathway">你现在的位置：{position($items)}</div>
	<div class="box-list">
		<h1 class="h1_bg p14"><span class="icon_01">{$site_config.site_name}图库</span><span class=" span_01 p12 gray" style="_margin-top:5px;"><img src="{$style_dir}/images/ts_03.jpg" width="20" height="20" style="vertical-align:middle;" /> {$site_config.site_name}图库图片均由来自于网络，如果图片侵犯了您的隐私或肖像权，请联系我们，我们核实后将马上删除该图片</span></h1>
		<ul style="position: relative;  width:994px; height:500px;" class="pic-list">
			<li style="position: absolute; top: 0; left: 5px;">
				<h3 style="font-size:14px">类型</h3>
				<div class="nav">
					<a href="#" style="background:#ccc;">所有</a>
				</div>
			</li>
			<li style="position: absolute; top: -24px; left: 202px;" class="hide"></li>
			<li style="position: absolute; top: -24px; left: 401px;" class="hide"></li>
			<li style="position: absolute; top: -24px; left: 600px;" class="hide"></li>
			<li style="position: absolute; top: -24px; left: 800px;" class="hide"></li>
		</ul>
		<div class="loading" style="visibility:hidden;text-align:center;"><img src="{$style_dir}/images/loading2.gif" width="140" height="100"/></div>
	</div>
	<div style=" clear:both"></div>
</div>
<script type="text/javascript">
	var bottom_pic=new Array(),
		page=1,
    tag="{$tag}",
		empty_el='<li style="position: absolute; top: 0; left: 800px;"><a href="javascript:void(0);" target="_blank" class="view-url"><img width="170" src=""></a></li>';
  {literal}
	function get_next_position(){
		if(bottom_pic.length==0){
			var lis=$('.pic-list li');
			for(var i=lis.length-1; i>=lis.length-5; i--){
				var el=$(lis.get(i));
				bottom_pic.push(el);
				if(empty_el==null)
					empty_el=$('<p></p>').append(lis.eq(1).clone()).html();
			}
		}
		var position = {top:null,left:null,i:null};
		for(var i=bottom_pic.length-1; i>=0; i--){
			var curr_bottom = parseInt(bottom_pic[i].css('top').replace('px', ''))+bottom_pic[i].height();
			if(position.top==null || curr_bottom<position.top){
				position = {top:curr_bottom, left:parseInt(bottom_pic[i].css('left').replace('px', '')), i:i};
			}
		}
		return position;
	}
	
	var last_get_time=0;
	function show_more(){
		var get_time = parseInt((new Date()).getTime()/1000);
		if(last_get_time >= get_time-1)
			return false;
		last_get_time = get_time;
		$('.loading').css('visibility', 'visible');
		$.get('/index.php?m=gallery&c=index&a=getList', {tag:tag, page:page}, function(d){
			/*for(var i in d){*/
				a = 0;
				var set_img = function(i){
					if(d[i] && d[i].cover_pic_list != '') {
						var pos = get_next_position();
						var el = $(empty_el);
						el.append(d[i].footer);
						el.find('.view-url').attr('href', d[i].url);
						w = 170;
						h = 100;
						el.css('top', pos.top+24).css('left', pos.left);
						el.appendTo('.pic-list');
						bottom_pic[pos.i]=el;
						el.find('img').attr("width",w).attr('src', d[i].cover_pic_list).load(function(){
							h = $(this).height();
							$(this).attr('height',h);					
							if($('.pic-list').height() < pos.top+24+el.height()) $('.pic-list').css('height', pos.top+24+el.height());
							a++;
							if(a < d.length) set_img(a);
						});
					}
				}
				set_img(a);
			/*}*/
			if(d.length>0)
				page++;
			$('.loading').css('visibility', 'hidden');
		}, 'json');
	}
	
	show_more();
	$(window).scroll(function(){
		var doc = document.documentElement || document.body;
		var top = document.documentElement.scrollTop || document.body.scrollTop;
		if(doc.clientHeight+top>=doc.scrollHeight-400)
			show_more();
	});

	get_next_position();
{/literal}
  </script>
{include "../footer.html"}
</body>
</html>